html {
	width: 100%;
}
body {
	width: 100%;
}
html {
	overflow: scroll; -ms-overflow-x: hidden;
}
body {
	line-height: normal; font-family: "µ¸¿ò", "Dotum","Arial","Tahoma","AppleGothic","sans-serif"; font-size: 12px; background-color: rgb(255, 255, 255);
}
iframe {
	display: block;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; table-layout: fixed; border-spacing: 0; empty-cells: show;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
li {
	list-style: none;
}
fieldset {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
legend {
	left: -99999px; top: -99999px; position: absolute;
}
caption {
	left: -99999px; top: -99999px; position: absolute;
}
label {
	cursor: text;
}
input:checked[type='checkbox'] {
	background-color: rgb(255, 255, 255); -webkit-appearance: checkbox;
}
input[type='button'] {
	-webkit-appearance: none; -webkit-border-radius: 0;
}
input[type='text'] {
	-webkit-appearance: none; -webkit-border-radius: 0;
}
input[type='image'] {
	-webkit-appearance: none; -webkit-border-radius: 0;
}
input {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-weight: inherit;
}
textarea {
	outline-width: medium; outline-style: none;
}
input {
	outline-width: medium; outline-style: none;
}
textarea {
	-webkit-appearance: none; resize: none; -webkit-border-radius: 0;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
abbr {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
acronym {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
strong {
	font-weight: bold;
}
img {
	border: 0px currentColor; border-image: none;
}
em {
	font-style: normal;
}
i {
	font-style: normal;
}
a {
	color: rgb(51, 51, 51); text-decoration: none; cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	text-decoration: underline;
}
.clear {
	font: 0px/0 arial; margin: 0px; padding: 0px; width: 0px; height: 0px; clear: both; float: none; font-size-adjust: none; font-stretch: normal;
}
.hide {
	left: -999999em; top: -999999em; width: 1px; height: 1px; line-height: 1px; font-size: 1px; display: inline-block; position: absolute; z-index: -1;
}
.ir {
	width: 100%; text-align: center; overflow: hidden; font-size: 9px; display: block; white-space: nowrap; position: relative; z-index: -1; -ms-zoom: -10;
}
.icn {
	font: 0px/0 arial; top: 0px; overflow: hidden; vertical-align: middle; display: inline-block; position: relative; font-size-adjust: none; font-stretch: normal; background-repeat: no-repeat; background-color: transparent;
}
.icp {
	font: 0px/0 arial; top: 0px; overflow: hidden; vertical-align: middle; display: inline-block; position: relative; font-size-adjust: none; font-stretch: normal; background-repeat: no-repeat; background-color: transparent;
}
button {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; font-family: "µ¸¿ò", "Dotum","Arial","Tahoma","AppleGothic","sans-serif"; cursor: pointer; background-color: transparent;
}
::-ms-clear {
	display: none;
}
input.check {
	vertical-align: middle; position: relative;
}
input.radio {
	vertical-align: middle; position: relative;
}
input.check {
	top: -1px;
}
label.label {
	position: absolute;
}
#skip_nav {
	left: 0px; top: 0px; width: 100%; position: absolute; z-index: 1000;
}
.skip_nav_link {
	left: 0px; top: -20px; width: 100%; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; display: block; position: absolute; background-color: rgb(26, 132, 200);
}
.skip_nav_link:active {
	top: 0px;
}
.skip_nav_link:focus {
	top: 0px;
}
#wrap {
	width: 100%; min-width: 1200px; background-color: rgb(255, 255, 255);
}
#header {
	width: 100%; border-bottom-color: rgb(26, 132, 200); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 999; background-color: rgb(255, 255, 255);
}
.header_inner {
	margin: 0px auto; width: 990px; height: 111px;
}
.sub_header {
	height: 150px;
}
.scroll_on#header {
	left: 0px; top: 0px; position: fixed;
}
.scroll_on .header_inner {
	height: 49px;
}
#container {
	width: 100%; position: relative;
}
.pro_container_list {
	background: rgb(247, 247, 247);
}
#content {
	margin: 0px auto; width: 990px; overflow: hidden; position: relative;
}
#footer {
	width: 100%; background-color: rgb(236, 236, 236);
}
.footer_inner {
	margin: 0px auto; width: 990px; height: 268px; overflow: hidden; padding-top: 30px; position: relative;
}
[id^='sub_container'] {
	margin: 60px auto 20px; width: 990px; overflow: hidden; position: relative;
}
#sub_container_wide {
	width: 100%; margin-top: 39px;
}
#sub_container_etc {
	margin-top: 20px;
}
#sub_container #content {
	width: 650px; float: left;
}
#sub_container_etc #content {
	width: 650px; float: left;
}
#aside {
	width: 250px; float: right; position: relative;
}
#container #content {
	margin: 0px auto; padding-top: 60px;
}
[id^='sub_container'] a:hover {
	color: rgb(254, 131, 10);
}
.cont_right_border {
	top: 0px; width: 1px; height: 100%; right: 280px; display: block; position: absolute; background-color: rgb(234, 234, 234);
}
.icn {
	background-image: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/set_icon.png");
}
.icp {
	background-position: -315px 0px; width: 27px; height: 50px; position: absolute; background-image: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/set_icon.png");
}
[class$='_headtitle'] {
	color: rgb(26, 132, 200); font-size: 14px; font-weight: bold; position: relative;
}
[class$='_headtitle'] .icn {
	height: 16px; margin-top: 16px;
}
[class^='ht_topbar'] {
	left: 0px; top: 0px; width: 20px; height: 5px; display: block; position: absolute; background-color: rgb(32, 132, 199);
}
.ht_topbar_white {
	background-color: rgb(255, 255, 255);
}
[class^='vertical_bar'] {
	left: 0px; top: 0px; width: 1px; height: 10px; display: block; position: absolute;
}
[class$='_relate'] {
	
}
[class$='_relate_cont'] {
	padding-left: 14px; margin-top: 6px; position: relative; -ms-zoom: 1;
}
.l_list_bar {
	background-position: -130px -85px; left: 0px; top: 5px; width: 5px; height: 2px; position: absolute;
}
[class$='_relate_link'] {
	width: 100%; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
[class$='_lbar_list'] {
	width: 100%;
}
[class$='_lbar_cont'] {
	height: 14px; overflow: hidden; padding-left: 12px; margin-top: 8px; position: relative;
}
[class^='horizon_lbar'] {
	left: 0px; top: 50%; width: 3px; height: 1px; margin-top: -1px; position: absolute; background-color: rgb(26, 132, 200);
}
.horizon_lbar_blue {
	background-color: rgb(32, 132, 199);
}
.horizon_lbar_bold {
	width: 4px; height: 2px; margin-top: -2px;
}
[class$='_lbar_link'] {
	width: 100%; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
[class*='_indicator_w'] {
	position: absolute;
}
[class*='_indicator_btn'] {
	padding-left: 7px; float: left;
}
[class*='_indicator_btn'] .icn {
	background-position: -35px -100px; width: 10px; height: 10px;
}
[class*='_indicator_btn'].on .icn {
	background-position: -20px -100px;
}
[class*='_indicator_btn']:hover .icn {
	background-position: -20px -100px;
}
[class*='_indipl_play'] .icn {
	background-position: -120px -65px; width: 16px; height: 16px;
}
[class*='_indipl_stop'] .icn {
	background-position: -140px -65px; width: 16px; height: 16px;
}
.sbscnbc_logo {
	width: 163px; padding-top: 18px; float: left;
}
.scl_link {
	background-position: -170px -155px; width: 110px; height: 78px;
}
#snb {
	width: 450px; float: left;
}
.snb_cont {
	padding-bottom: 19px; margin-top: 52px; float: left;
}
[class^='snb_link'] {
	padding: 10px 28px; display: block;
}
[class^='snb_link'] .icn {
	height: 21px;
}
.snb_link_news .icn {
	background-position: 0px -110px; width: 38px;
}
.on .snb_link_news .icn {
	background-position: -350px 0px;
}
.snb_link_program .icn {
	background-position: -40px -110px; width: 78px;
}
.on .snb_link_program .icn {
	background-position: -400px -25px;
}
.snb_link_ceo .icn {
	background-position: -120px -110px; width: 45px;
}
.on .snb_link_ceo .icn {
	background-position: -350px -25px;
}
.snb_link_biz .icn {
	background-position: -170px -110px; width: 59px;
}
.on .snb_link_biz .icn {
	background-position: -395px 0px;
}
.snbc_list_w {
	left: -99999em; top: -99999em; width: 100%; border-top-color: rgb(244, 244, 244); border-bottom-color: rgb(26, 132, 200); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: absolute; background-color: rgb(255, 255, 255);
}
.snbc_list_w.current {
	left: 0px; top: 111px;
}
[class^='snbcl_'] {
	left: 50%; position: relative;
}
.snbcl_news {
	margin-left: -300px;
}
.snbcl_program {
	margin-left: 6px;
}
.snbcl_ceo {
	margin-left: -92px;
}
.snbcl_biz {
	margin-left: -210px;
}
.snbc_cont {
	float: left;
}
.snbc_link {
	padding: 0px 23px; height: 38px; color: rgb(51, 51, 51); line-height: 39px; font-size: 14px; display: block;
}
.snbc_cont.select .snbc_link {
	font-weight: bold; text-decoration: none; background-color: rgb(227, 235, 239);
}
.snbc_link:active {
	font-weight: bold; text-decoration: none; background-color: rgb(227, 235, 239);
}
.snbc_link:hover {
	background-color: rgb(227, 235, 239);
}
.snbc_link:focus {
	background-color: rgb(227, 235, 239);
}
.hi_right {
	position: relative;
}
.gnb {
	top: 14px; right: 0px; overflow: hidden; position: absolute;
}
[class^='gnb_cont'] {
	padding: 5px 0px 0px 16px; text-align: center; float: left;
}
[class^='round_blue_'] {
	left: -99999em; top: -99999em; position: absolute;
}
.gnb_link {
	height: 20px; letter-spacing: 0px; font-size: 11px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.gnb_link.on {
	font-weight: bold; text-decoration: none; border-bottom-color: rgb(32, 132, 199); border-bottom-width: 1px; border-bottom-style: solid;
}
.gnb_link:hover {
	text-decoration: none; border-bottom-color: rgb(32, 132, 199); border-bottom-width: 1px; border-bottom-style: solid;
}
.gnb_link:active {
	text-decoration: none; border-bottom-color: rgb(32, 132, 199); border-bottom-width: 1px; border-bottom-style: solid;
}
.gnb_link:focus {
	text-decoration: none; border-bottom-color: rgb(32, 132, 199); border-bottom-width: 1px; border-bottom-style: solid;
}
.search_form {
	top: 57px; width: 281px; height: 40px; right: 0px; position: absolute; background-color: rgb(246, 246, 246);
}
.search_label {
	left: -99999em; top: -99999em; position: absolute;
}
.search_txt {
	border: 0px currentColor; border-image: none; width: 225px; height: 30px; color: rgb(153, 153, 153); line-height: 30px; padding-left: 17px; font-size: 12px; margin-top: 6px; background-color: rgb(246, 246, 246);
}
.search_txt.on {
	color: rgb(34, 34, 34);
}
.search_btn {
	top: 10px; width: 23px; height: 20px; right: 10px; position: absolute; background-color: rgb(246, 246, 246);
}
.search_btn .icn {
	background-position: -280px 0px; width: 23px; height: 20px;
}
.scroll_on .sbscnbc_logo {
	padding: 10px 23px 5px 0px; width: 52px;
}
.scroll_on .scl_link {
	background-position: -240px -95px; width: 52px; height: 37px;
}
.scroll_on #snb {
	width: 360px; height: 49px; padding-left: 8px;
}
.scroll_on .snb_cont {
	padding-bottom: 10px; margin-top: 8px;
}
.scroll_on [class^='snb_link'] {
	padding: 13px 24px 7px; display: block;
}
.scroll_on [class^='snb_link'] .icn {
	height: 16px;
}
.scroll_on .snb_link_news .icn {
	background-position: 0px -135px; width: 28px;
}
.scroll_on .on .snb_link_news .icn {
	background-position: -395px -50px;
}
.scroll_on .snb_link_program .icn {
	background-position: -30px -135px; width: 55px;
}
.scroll_on .on .snb_link_program .icn {
	background-position: -435px -70px;
}
.scroll_on .snb_link_ceo .icn {
	background-position: -90px -135px; width: 33px;
}
.scroll_on .on .snb_link_ceo .icn {
	background-position: -400px -70px;
}
.scroll_on .snb_link_biz .icn {
	background-position: -125px -135px; width: 42px;
}
.scroll_on .on .snb_link_biz .icn {
	background-position: -430px -50px;
}
.scroll_on .snbc_list_w.current {
	top: 49px;
}
.scroll_on .snbcl_news {
	margin-left: -390px;
}
.scroll_on .snbcl_program {
	margin-left: -141px;
}
.scroll_on .snbcl_ceo {
	margin-left: -222px;
}
.scroll_on .snbcl_biz {
	margin-left: -312px;
}
.scroll_on .snbc_link {
	font-size: 12px;
}
.scroll_on .hi_right {
	
}
.scroll_on .gnb {
	top: 12px;
}
.scroll_on [class^='gnb_cont'] {
	left: -99999em; top: -99999em; position: absolute;
}
.scroll_on .gnb_cont_onair {
	padding: 0px; position: static;
}
.scroll_on [class^='round_blue_'] {
	width: 10px; height: 26px; float: left; position: static;
}
.round_blue_left {
	background-position: -300px -20px;
}
.round_blue_right {
	background-position: -300px -50px;
}
.scroll_on .gnb_link {
	height: 24px; color: rgb(26, 132, 200); line-height: 28px; font-weight: bold; border-top-color: rgb(26, 132, 200); border-bottom-color: rgb(26, 132, 200); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left;
}
@media not all
{
.scroll_on .gnb_link {
	line-height: 24px;
}
}
.scroll_on .search_form {
	top: 10px; width: 212px; height: 30px; right: 74px;
}
.scroll_on .search_txt {
	left: -99999em; top: -99999em; width: 158px; line-height: 33px; padding-left: 11px; margin-top: 0px; position: absolute; background-color: rgb(246, 246, 246);
}
.scroll_on .search_txt.show {
	position: static;
}
.scroll_on .search_btn {
	top: 0px; width: 32px; height: 30px; right: 0px; background-color: rgb(255, 255, 255);
}
.scroll_on .search_btn .icn {
	right: -4px;
}
.content_bottom {
	padding: 30px 0px 45px; width: 100%; background-color: rgb(246, 246, 246);
}
.content_bottom_inner {
	margin: 0px auto; width: 990px; overflow: hidden;
}
.content_bottom_inner::after {
	clear: both; display: block; content: "";
}
.cb_cnbc_program {
	width: 689px; overflow: hidden; float: left;
}
.cbcp_headtitle {
	height: 32px;
}
.cbcp_headtitle .icn {
	background-position: 0px -265px; width: 133px;
}
.cbcp_w {
	width: 104%; overflow: hidden; margin-top: 18px;
}
.cbcp_w::after {
	clear: both; display: block; content: "";
}
.cbcp_list {
	width: 148px; margin-left: 20px; float: left;
}
:first-child.cbcp_list {
	margin-left: 0px;
}
.cbcp_title {
	height: 13px; color: rgb(51, 51, 51); overflow: hidden; padding-right: 15px; font-size: 11px; display: block;
}
.cbcp_cont {
	margin-top: 7px;
}
.cbcp_text {
	margin-top: 4px;
}
.cbcp_link {
	line-height: 18px; overflow: hidden; display: block; max-height: 33px;
}
.cb_cnbc_notice {
	width: 251px; padding-left: 30px; float: right;
}
.cbcn_headtitle {
	height: 32px;
}
.crfn_more {
	top: 20px; right: 0px; color: rgb(119, 119, 119); padding-right: 15px; font-size: 11px; position: absolute;
}
.crfn_more .icn {
	background-position: -60px -35px !important; top: 1px; width: 5px !important; height: 9px; right: 0px; position: absolute;
}
.cbcn_noti_more {
	font-weight: normal;
}
.cbcn_noti_more .icn {
	top: -15px !important;
}
.cbcn_headtitle .icn {
	background-position: 0px -285px; width: 60px;
}
.cbcn_lbar_list {
	margin-top: 19px;
}
.cbcn_lbar_cont {
	
}
.cbcn_lbar_link {
	
}
.fnb_list {
	width: 232px; overflow: hidden; margin-top: -24px; float: left;
}
[class^='fnb_cont'] {
	padding-top: 23px; float: left;
}
.fnb_cont_odd {
	width: 107px;
}
.fnb_cont_even {
	width: 125px;
}
.fnb_link {
	color: rgb(102, 102, 102); font-weight: bold;
}
.fi_right {
	width: 667px; height: 269px; float: right; position: relative;
}
[class^='fi_addr'] {
	color: rgb(102, 102, 102); line-height: 20px;
}
.fi_addr_hub {
	margin-top: -4px;
}
.fi_addr_plus {
	margin-top: 20px;
}
.fi_addr_link {
	font-size: 11px; text-decoration: underline;
}
.copyright {
	color: rgb(102, 102, 102); font-size: 11px; margin-top: 22px;
}
.site_family {
	left: 0px; width: 194px; bottom: 58px; position: absolute;
}
.site_local {
	left: 206px; width: 194px; bottom: 58px; position: absolute;
}
.site_title {
	border: 1px solid rgb(193, 193, 193); border-image: none; width: 192px; height: 28px; display: block;
}
.site_link {
	padding: 8px 21px; color: rgb(102, 102, 102); display: block;
}
.site_tit_btn {
	background-position: -100px -65px; top: 13px; width: 9px; height: 5px; right: 17px; position: absolute;
}
.site_title.on .site_tit_btn {
	background-position: -100px -75px;
}
.site_list_w {
	border: 1px solid rgb(193, 193, 193); border-image: none; left: -99999em; top: -99999em; width: 192px; height: 137px; position: absolute; -ms-overflow-y: scroll; background-color: rgb(236, 236, 236);
}
.site_list_w.on {
	left: 0px; top: auto; bottom: 29px;
}
.site_list {
	padding-top: 4px; padding-left: 21px;
}
.site_cont .site_link {
	padding: 4px 0px;
}
.fi_sns {
	left: 140px; bottom: 58px; overflow: hidden; position: absolute;
}
[class^='fis_cont_'] {
	padding-left: 8px; float: left;
}
.fis_link {
	width: 35px; height: 35px;
}
.fis_cont_twitter .fis_link {
	background-position: -240px -40px;
}
.fis_cont_facebook .fis_link {
	background-position: -240px 0px;
}
.fi_logo {
	background-position: -125px 0px; left: 0px; top: auto; width: 111px; height: 56px; bottom: 58px; position: absolute;
}
.cnbc_pro_paging {
	padding-bottom: 200px;
}
.md_paging_w {
	border: 0px currentColor; border-image: none; clear: both; margin-top: 30px; position: relative;
}
.mdp_inner {
	text-align: center; font-size: 0px;
}
.mdp_inner a {
	margin: 0px 2px; padding: 0px 3px; border: 1px solid rgb(227, 227, 227); border-image: none; text-align: center; color: rgb(104, 104, 104); line-height: 19px; font-family: verdana; font-size: 11px; vertical-align: top; display: inline-block; white-space: nowrap; position: relative; min-width: 14px;
}
.mdp_inner strong {
	vertical-align: top; display: inline-block;
}
.mdp_inner strong a {
	border: 2px solid rgb(109, 172, 252); border-image: none; top: -1px; color: rgb(109, 172, 252); font-weight: normal; position: relative;
}
.mdp_inner a.first {
	font-family: dotum; min-width: 24px;
}
.mdp_inner a.last {
	font-family: dotum; min-width: 24px;
}
.mdp_inner a.fncpn {
	background: rgb(255, 255, 255); height: 19px;
}
.mdp_inner a.fncpn .icn {
	top: 6px; width: 5px; height: 7px; position: absolute;
}
.mdp_inner a.prev .icn {
	background-position: -50px -35px; left: 7px;
}
.mdp_inner a.next .icn {
	background-position: -50px -45px; left: 8px;
}
[class*='_article_subtop'] {
	width: 650px; height: 341px; overflow: hidden; position: relative;
}
.md_ast_headtitle {
	padding: 38px 0px 0px 20px; left: 19px; top: 20px; width: 100px; height: 82px; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; position: absolute; z-index: 2; background-color: rgb(26, 132, 200);
}
.ht_topbar_white {
	left: 20px; top: 20px;
}
.md_ast_cont {
	padding: 180px 40px 0px 30px; width: 580px; height: 161px; display: block;
}
.md_ast_cont:hover {
	text-decoration: none;
}
.md_astc_title {
	width: 100%; color: rgb(255, 255, 255); overflow: hidden; font-size: 24px; display: block; white-space: nowrap; position: relative; z-index: 2; -ms-text-overflow: ellipsis;
}
.md_ast_cont:hover .md_astc_title {
	text-decoration: underline;
}
.md_astc_play {
	background-position: -215px -305px; top: 20px; width: 75px; height: 75px; right: 20px; position: absolute; z-index: 2;
}
[class*='_article_subtop'] .md_astc_img {
	left: 0px; top: 0px; position: absolute;
}
.md_astc_text {
	height: 63px; color: rgb(255, 255, 255); line-height: 1.5; overflow: hidden; font-size: 14px; margin-top: 16px; display: block; position: relative; z-index: 2;
}
.md_article_day {
	color: rgb(255, 255, 255); font-size: 11px; margin-top: 18px; display: block; position: relative; z-index: 2;
}
.md_astc_bg {
	background: rgba(0, 0, 0, 0.5); left: 0px; top: 0px; width: 650px; height: 341px; display: block; position: absolute; -ms-zoom: 1;
}
.md_astc_bg_gra {
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.68) 100%); left: 0px; width: 650px; height: 170px; bottom: 0px; display: block; position: absolute;
}
.md_article_sort {
	padding-right: 13px;
}
.md_article_reporter {
	padding-right: 7px;
}
.md_article_day .vertical_bar {
	top: 1px; margin-right: 11px; display: inline-block; position: relative; background-color: rgb(255, 255, 255);
}
[class*='_article_list'] {
	padding: 25px 0px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; max-height: 124px;
}
[class*='_article_list']:first-child {
	padding-top: 30px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.md_al_cont {
	width: 100%; overflow: hidden; display: block; position: relative; min-height: 100px;
}
.md_al_cont:hover {
	text-decoration: none;
}
.md_alc_title {
	overflow: hidden; font-size: 14px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.md_al_cont:hover .md_alc_title {
	text-decoration: underline;
}
.md_alc_play {
	left: 97px; top: 37px;
}
.md_alc_imgw {
	width: 220px; height: 124px; padding-right: 18px; float: left;
}
.md_alc_img {
	width: 100%; height: 100%;
}
.md_alc_text {
	color: rgb(102, 102, 102); line-height: 1.5; overflow: hidden; margin-top: 10px; display: block; max-height: 72px;
}
[class*='_article_list'] .md_article_day {
	color: rgb(102, 102, 102); margin-top: 10px;
}
[class*='_article_list'] .vertical_bar {
	background-color: rgb(102, 102, 102);
}
.md_alc_align {
	overflow: hidden; vertical-align: middle; display: inline-block; white-space: nowrap; -ms-zoom: 1; -ms-text-overflow: ellipsis; max-width: 87%;
}
.md_al_cont:hover .md_alc_align {
	text-decoration: underline;
}
.md_alc_tag .md_alc_align {
	
}
.md_alc_tagname {
	height: 20px; padding-left: 8px; display: inline-block; -ms-zoom: 1;
}
.md_alc_tagname .icn {
	background-position: -175px -85px; width: 45px; height: 20px;
}
[class*='_small_article'] {
	
}
.md_smarc_cont {
	height: 56px; padding-left: 111px; display: block; position: relative;
}
.md_smarc_title {
	width: 110px; height: 36px; line-height: 1.5; letter-spacing: -1px; overflow: hidden; padding-top: 7px; display: block;
}
.md_smarc_img {
	left: 0px; top: 0px; position: absolute;
}
[class*='_vod_list'] {
	overflow: hidden;
}
.md_vod_cont {
	padding-left: 36px; float: left;
}
:first-child.md_vod_cont {
	padding-left: 0px;
}
.md_vod_link {
	width: 220px; padding-top: 135px; display: block; position: relative;
}
.md_vod_title {
	line-height: 20px; font-weight: bold;
}
.md_vod_play {
	left: 50%; top: 37px; margin-left: -13px; position: absolute; z-index: 2;
}
.md_vod_img {
	left: 0px; top: 0px; position: absolute;
}
#aside [class*='_headtitle'] {
	padding-top: 15px;
}
.asd_ad_bnr {
	margin-bottom: 40px;
}
.asd_much_news {
	margin-top: 40px; position: relative;
}
.asdmn_lbar_list {
	left: -99999em; top: -99999em; margin-top: 18px; position: absolute;
}
.asdmn_lbar_list.current {
	position: static;
}
.asdm_indicator_w {
	top: 19px; right: 0px; position: absolute;
}
.cr_promotion_bnr {
	margin-top: 20px; position: relative; min-height: 188px;
}
#aside .cr_promotion_bnr {
	margin-top: 40px;
}
.crpb_list {
	left: -99999em; top: -99999em; position: absolute;
}
.crpb_list.current {
	position: static;
}
.crpb_cont {
	margin-top: 10px;
}
.crpb_link {
	display: block;
}
.crpb_img {
	display: block;
}
.crpb_indicator_w {
	right: 0px; bottom: -26px;
}
.asd_headline_w {
	margin-top: 40px;
}
.asdhl_small_w {
	margin-top: 5px;
}
.asdhl_small_article {
	margin-top: 10px;
}
.asdhl_lbar_list {
	margin-top: 18px;
}
.asd_market_data {
	margin-top: 38px;
}
.asdmd_list {
	border-width: 1px 0px; border-style: solid; border-color: rgb(26, 132, 200); border-image: none; width: 250px; margin-top: 15px;
}
.asdmd_cont_w {
	padding: 12px 0px; border-top-color: rgb(224, 237, 246); border-top-width: 1px; border-top-style: solid;
}
.asdmd_cont {
	overflow: hidden;
}
.asdmd_name {
	width: 60px; padding-left: 10px; font-weight: bold; float: left;
}
.asdmd_data {
	width: 180px; overflow: hidden; float: left;
}
[class^='asdmd_now'] {
	width: 76px; height: 14px; overflow: hidden; padding-left: 30px; float: left; position: relative;
}
.asdmd_now_up {
	color: rgb(223, 42, 0);
}
.asdmd_up {
	color: rgb(223, 42, 0);
}
.asdmd_now_down {
	color: rgb(41, 140, 204);
}
.asdmd_down {
	color: rgb(41, 140, 204);
}
[class^='asdmdn_'] {
	left: 20px; top: 3px; width: 7px; height: 8px; position: absolute;
}
.asdmdn_up {
	background-position: -150px -95px;
}
.asdmdn_down {
	background-position: -140px -95px;
}
.asdmd_up {
	width: 64px; height: 14px; text-align: right; overflow: hidden; padding-right: 10px; font-weight: bold; float: left; position: relative;
}
.asdmd_down {
	width: 64px; height: 14px; text-align: right; overflow: hidden; padding-right: 10px; font-weight: bold; float: left; position: relative;
}
[class^='asdmdu_'] {
	top: -1px; width: 9px; height: 8px; margin-right: 5px; display: inline-block; position: relative;
}
.asdmdu_up {
	background-position: -110px -95px;
}
.asdmdu_down {
	background-position: -130px -95px;
}
.asd_hot_focus {
	margin-top: 40px;
}
.asdhf_top_link {
	margin-top: 15px; display: block;
}
.asdhf_top_img {
	display: block;
}
.asdhf_lbar_list {
	margin-top: 13px;
}
.asd_financial_consult {
	margin-top: 38px;
}
.asdfc_small_article {
	margin-top: 13px;
}
.asdcr_small_article {
	margin-top: 13px;
}
.asdii_lbar_list {
	margin-top: 13px;
}
.asdfc_lbar_list {
	margin-top: 18px;
}
.asdcr_lbar_list {
	margin-top: 18px;
}
.asd_premium {
	margin-top: 38px;
}
.asdpr_lbar_list {
	margin-top: 14px;
}
.asd_ceo_report {
	margin-top: 38px;
}
.asd_interest_information {
	margin: 38px 0px;
}
.news_article_content {
	padding-top: 10px; border-bottom-color: rgb(26, 132, 200); border-bottom-width: 2px; border-bottom-style: solid;
}
.news_article_cate {
	overflow: hidden; padding-bottom: 15px; margin-top: 30px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.news_finance_list {
	padding-top: 0px !important;
}
.md_ac_list {
	overflow: hidden; padding-right: 4px; float: right;
}
.md_acl_cont {
	float: left; position: relative;
}
.md_acl_cont a {
	margin-left: 40px;
}
.md_ac_list .on a {
	color: rgb(26, 132, 200); font-weight: bold; margin-left: 20px;
}
.md_ac_list .on .icn {
	background-position: -105px 0px; top: -2px; width: 15px; height: 12px; margin-right: 9px;
}
.full_vod_w {
	width: 100%; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(246, 246, 246);
}
.full_vod_inner {
	margin: 0px auto; width: 990px; padding-top: 30px; padding-bottom: 50px; position: relative;
}
.fv_headtitle {
	padding-top: 18px;
}
.fv_vod_list {
	margin-top: 20px;
}
.fv_vod_more {
	top: 30px; right: 0px; color: rgb(102, 102, 102); padding-right: 18px; font-size: 11px; font-weight: bold; position: absolute;
}
.fv_vod_more .icn {
	background-position: -110px -65px; top: -1px; width: 8px; height: 14px; right: 0px; position: absolute;
}
.stock_list {
	width: 650px; overflow: hidden; margin-bottom: 20px;
}
.stock_cont {
	float: left; position: relative;
}
:first-child.stock_cont .stock_link {
	width: 145px;
}
.stock_link {
	border: 1px solid rgb(234, 234, 234); border-image: none; width: 143px; height: 81px; line-height: 1.5; padding-top: 17px; padding-left: 17px; font-weight: bold; display: block; position: relative; background-color: rgb(246, 246, 246);
}
.stock_link:hover {
	border: 1px solid rgb(26, 132, 200); border-image: none; color: rgb(26, 132, 200) !important; z-index: 2; background-color: rgb(255, 255, 255);
}
.stock_link .icn {
	background-position: -25px -35px; top: 63px; width: 21px; height: 21px; right: 15px; position: absolute;
}
.stock_link:hover .icn {
	background-position: 0px -35px;
}
.stock_link_two {
	width: 306px !important;
}
.stock_link_three {
	width: 197px !important;
}
.news_corner_list {
	position: relative;
}
.issue_tit_area {
	position: relative; z-index: 2;
}
.clbc_issue_headtitle {
	padding-top: 16px; font-size: 16px;
}
.issue_pro_list {
	background: rgb(246, 246, 246); padding: 10px 15px; left: 440px; top: 0px; width: 180px; height: 20px; position: absolute; cursor: pointer;
}
.pro_list_tit {
	color: rgb(26, 132, 200); line-height: 24px; font-size: 12px;
}
.pro_list_tit a {
	color: rgb(26, 132, 200);
}
.isp_list {
	background: rgb(246, 246, 246); padding: 10px 15px; top: 41px; width: 180px; height: 240px; right: 0px; overflow: auto; position: absolute; z-index: 1;
}
.issue_top {
	margin: 24px 0px 20px; overflow: hidden; position: relative;
}
.ist_inner {
	width: 120px; overflow: hidden; float: left;
}
.ist_logo {
	width: 120px; overflow: hidden; float: left;
}
.news_corner_list .icn {
	background-position: -295px -305px; left: 0px; width: 120px; height: 120px; display: block; position: absolute;
}
.issue_pro_list [class^='pro_list_ic'] {
	background-position: 0px -75px; top: 17px; width: 14px; height: 8px; right: 15px !important; position: absolute; background-image: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/set_icon.png");
}
.issue_pro_list .pro_list_ic_drop {
	background-position: -20px -75px;
}
.ist_inner {
	width: 420px; margin-left: 20px;
}
.ist_tit {
	letter-spacing: -1px; font-size: 28px; margin-top: 19px;
}
.ist_info {
	line-height: 18px; margin-top: 12px;
}
.issue_cont {
	
}
[class^='isc_inner_'] {
	overflow: hidden; margin-top: 10px; position: relative;
}
[class^='isc_inner_'] a:first-child {
	margin-left: 0px;
}
.isc_list {
	width: 210px; height: 380px; text-align: center; text-decoration: none !important; margin-left: 10px; float: left;
}
.isc_list_1st {
	height: 379px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.isc_tit {
	padding: 18px 0px 20px; font-size: 12px; border-top-color: rgb(234, 234, 234); border-right-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.isc_tit_blue {
	color: rgb(5, 135, 201);
}
.isc_tit_blue:hover {
	text-decoration: none !important;
}
.isc_tit_white {
	border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.isc_sub_1st {
	padding: 20px 19px 0px; height: 188px; font-size: 12px; border-right-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.isc_sub_tit {
	line-height: 20px; overflow: hidden; font-size: 14px; display: inline-block;
}
.isc_sub_tit:hover {
	text-decoration: underline;
}
.isc_list_1st .isc_sub_tit {
	height: 40px;
}
.isc_list_3rd .isc_sub_tit {
	height: 40px;
}
.isc_list_1st .isc_sub_info {
	height: 95px;
}
.isc_sub_info {
	color: rgb(112, 112, 112); line-height: 16px; overflow: hidden; padding-top: 20px; font-size: 11px; display: block;
}
.isc_sub_info:hover {
	text-decoration: none !important;
}
.isc_img_circle {
	position: relative;
}
.issue_cont .round_mask {
	background-position: -420px -305px; width: 210px; height: 121px;
}
.isc_list_2nd {
	background: rgb(5, 135, 201);
}
.isc_sub_2nd {
	padding: 50px 25px 0px; border: currentColor; border-image: none; color: rgb(255, 255, 255); position: relative;
}
.isc_list_2nd .isc_sub_tit {
	height: 60px;
}
.isc_sub_2nd .mark_top {
	background-position: -175px -135px; left: 95px; top: 20px; width: 16px; height: 15px;
}
.isc_sub_2nd .mark_bottom {
	background-position: -195px -135px; left: 95px; top: 127px; width: 16px; height: 15px;
}
.isc_list_3rd {
	background: rgb(227, 235, 239); position: relative;
}
.isc_list_3rd .isc_sub_info {
	height: 95px;
}
.isc_list_3rd .isc_sub_3rd {
	padding: 0px 20px; height: auto;
}
.isc_list_3rd .isc_img {
	left: 0px; bottom: 0px; position: absolute;
}
.isc_list_play {
	width: 430px; position: relative;
}
.isc_list_play .isc_tit {
	border: currentColor; border-image: none; left: 0px; width: 100%; color: rgb(255, 255, 255); position: absolute;
}
.isc_list_play .isc_play {
	background-position: -315px -55px; left: 187px; top: 95px; width: 56px; height: 93px;
}
.isc_img_wrap {
	font-size: 0px;
}
.isc_img_gra {
	background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%); left: 0px; top: 0px; width: 430px; height: 95px; position: absolute;
}
.isc_2nd_sub {
	background: rgb(227, 235, 239); padding: 20px 20px 0px; width: 390px; height: 120px; text-align: left;
}
.isc_list_play .isc_sub_tit {
	width: 100%; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.isc_list_play .isc_sub_info {
	height: 45px;
}
.isc_more_view {
	background-position: -140px -380px; margin: 30px auto; width: 40px; height: 40px; display: block; cursor: pointer; background-image: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/set_icon.png");
}
.issue_main_list {
	overflow: hidden; margin-top: 10px;
}
.ism_list_wrap {
	width: 320px; margin-top: 10px; float: left; position: relative;
}
.ism_list_1st {
	margin-right: 10px;
}
.ism_top {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_01.jpg") no-repeat; width: 320px; height: 121px; display: block; position: relative;
}
.ism_top_2 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_02.jpg") no-repeat;
}
.ism_top_3 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_03.jpg") no-repeat;
}
.ism_top_4 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_04.jpg") no-repeat;
}
.ism_top_5 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_05.jpg") no-repeat;
}
.ism_top_6 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_bg_06.jpg") no-repeat;
}
.ism_pro_tit {
	left: 20px; width: 150px; bottom: 20px; color: rgb(255, 255, 255); line-height: 20px; overflow: hidden; font-size: 16px; display: block; position: absolute;
}
.ism_pro_img_wrap {
	top: 0px; width: 144px; right: 0px; overflow: hidden; margin-top: 40px; position: absolute;
}
.ism_pro_img {
	width: 144px; margin-left: -18px; display: block;
}
.ism_pro_img_bg {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_01.png") no-repeat; left: 0px; top: 0px; width: 144px; height: 100px; display: block; position: absolute;
}
.ism_pro_bg_2 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_02.png") no-repeat;
}
.ism_pro_bg_3 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_03.png") no-repeat;
}
.ism_pro_bg_4 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_04.png") no-repeat;
}
.ism_pro_bg_5 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_05.png") no-repeat;
}
.ism_pro_bg_6 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/issue_main_bg_06.png") no-repeat;
}
.ism_info {
	padding: 45px 18px 80px; border-right-color: rgb(234, 234, 234); border-bottom-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: relative;
}
.ism_info :first-child.module_relate_cont {
	margin-top: 0px;
}
.ism_info .module_relate_cont {
	margin-top: 7px;
}
.ism_more_view {
	right: 10px; bottom: 20px; color: rgb(26, 132, 200); font-size: 11px; display: block; position: absolute;
}
.news_corner_main .md_paging_w {
	margin-top: 30px;
}
.hot_top_area {
	height: 180px; overflow: hidden; margin-top: 15px; position: relative;
}
.hot_tit {
	left: 20px; top: 20px; width: 300px; color: rgb(255, 255, 255); line-height: 34px; letter-spacing: -1px; overflow: hidden; font-size: 28px; position: absolute; max-height: 68px;
}
.hot_tit .hot_tit_inner {
	background: rgb(26, 132, 200);
}
.hot_top_bg {
	background: rgba(20, 100, 152, 0.23); left: 0px; top: 0px; width: 650px; height: 180px; display: block; position: absolute; -ms-zoom: 1;
}
.hot_info_wrap {
	
}
[class^='hot_info'] {
	overflow: hidden;
}
.hot_info {
	padding: 25px; border: 1px solid rgb(234, 234, 234); border-image: none; width: 268px; height: 210px; margin-top: 10px; float: left; position: relative;
}
.hot_info_last {
	margin-right: 10px;
}
.hot_info_tit {
	line-height: 21px; font-size: 14px; display: block; max-height: 38px;
}
.hot_info_sub {
	height: 105px; color: rgb(102, 102, 102); line-height: 18px; margin-top: 20px; display: inline-block;
}
.hot_info .md_article_day {
	right: 20px; bottom: 20px; color: rgb(102, 102, 102); margin-top: 35px; position: absolute;
}
.hot_info .md_article_day .vertical_bar {
	margin-right: 9px; background-color: rgb(102, 102, 102);
}
.hot_img_area {
	overflow: hidden; display: block;
}
.hot_info_tit_img {
	margin-right: 12px; float: left;
}
.hot_img_area .hot_info_tit {
	max-height: 59px;
}
.hot_main_wrap {
	width: 660px; overflow: hidden; margin-top: 10px; margin-left: -10px;
}
.hot_main {
	width: 320px; margin-top: 10px; margin-left: 10px; float: left; position: relative;
}
.hotm_top {
	height: 179px; display: block;
}
.hotm_top .hot_top_bg {
	width: 320px;
}
.hot_main .ism_info {
	padding: 20px 20px 75px;
}
.cnbc_pro_list {
	overflow: hidden; margin-top: 20px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.cpro_list {
	padding: 20px 35px 0px 32px; width: 180px; height: 280px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.cpro_list_inner {
	text-align: center; color: rgb(51, 51, 51); padding-top: 197px; display: block; position: relative;
}
.cpro_list_inner:hover {
	text-decoration: none;
}
.cpro_name {
	width: 180px; line-height: 18px; overflow: hidden; font-size: 14px; display: block; max-height: 35px;
}
.cpro_logo_img {
	left: 0px; top: 0px; position: absolute;
}
.cpro_mask {
	background-position: 0px 0px; left: 0px; top: 0px; width: 180px; height: 180px; position: absolute;
}
.cpro_list_inner .md_article_day {
	color: rgb(5, 135, 201); font-size: 12px; margin-top: 13px;
}
.cpro_list_inner .md_article_reporter {
	font-size: 11px;
}
.cpro_list_inner .vertical_bar {
	background-color: rgb(5, 135, 201);
}
.lam {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/layer_mask.png") no-repeat;
}
.cpro_list_inner:hover .cpro_bg {
	background: rgba(23, 119, 180, 0.8); -ms-zoom: 1;
}
.cpro_plus {
	background-position: -110px -190px; left: 75px; top: 75px; width: 32px; height: 32px; display: none; position: absolute;
}
.cpro_list_inner:hover .cpro_plus {
	display: block;
}
.cnbc_pro_paging .mdp_inner a.fncpn {
	background: none;
}
.pro_container {
	background: rgb(255, 255, 255);
}
.pro_container #content {
	padding-top: 0px !important;
}
.cpro_main_top {
	position: relative;
}
.cprom_top {
	background: rgb(255, 255, 255); text-align: center; font-size: 0px;
}
.cprom_pro_list {
	margin: 0px auto; width: 990px;
}
.cpro_main_top .issue_pro_list {
	left: 50%; top: 20px; margin-left: 285px; z-index: 2;
}
.cprom_top img {
	max-width: 100%;
}
.cprom_tit_wrap {
	background: rgba(30, 33, 45, 0.7); width: 100%; height: 130px; bottom: 0px; position: absolute; -ms-zoom: 1;
}
.cprom_tit_area {
	margin: 0px auto; width: 990px; overflow: hidden;
}
.cprom_tit_area > div {
	float: left;
}
.cprom_logo {
	margin-top: 30px;
}
.cprom_logo img {
	width: 70px !important; height: 70px !important;
}
.cprom_tit_area .issue_tit_area {
	margin-top: 40px;
}
.cprom_tit_area .clbc_issue_headtitle {
	margin: 0px 0px 0px 15px; width: 145px; color: rgb(255, 255, 255); line-height: 19px; overflow: hidden; padding-right: 30px; max-height: 37px;
}
.cprom_tit_area .ht_topbar {
	background-color: rgb(255, 255, 255);
}
.cprom_intro {
	width: 405px; height: 63px; color: rgb(255, 255, 255); padding-top: 7px; padding-left: 30px; margin-top: 30px; border-left-color: rgb(110, 113, 124); border-left-width: 1px; border-left-style: solid;
}
.cprom_info {
	font-size: 11px; margin-right: 20px;
}
.cprom_info .cprom_info_tit {
	background: rgb(5, 135, 201); padding: 2px; line-height: 16px; margin-right: 5px;
}
.cprom_info_detail {
	width: 400px; line-height: 18px; overflow: hidden; margin-top: 10px; max-height: 32px;
}
.cprom_play {
	overflow: hidden; font-weight: bold; float: right;
}
.cprom_play .cprom_play_tit {
	background: rgb(5, 135, 201); padding: 18px; width: 94px; line-height: 20px; float: left; position: relative;
}
.cprom_play .cprom_play_tit a {
	height: 94px; color: rgb(255, 255, 255); font-size: 14px; display: block;
}
.cprom_play .on {
	background: rgb(255, 255, 255);
}
.cprom_play .on a {
	color: rgb(5, 135, 201);
}
.play_mask {
	background-position: 0px -75px; top: 103px; width: 14px; height: 8px; right: 58px; position: absolute;
}
.cprom_cal {
	margin: 42px 0px 0px; text-align: center; padding-bottom: 25px; border-bottom-color: rgb(26, 132, 200); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 2;
}
.cprom_cal .cprom_date_wrap {
	margin: 4px 55px 0px; width: 150px; display: inline-block; z-index: 2; -ms-zoom: 1;
}
.cprom_cal .cprom_date {
	color: rgb(204, 204, 204); font-family: "Arial"; font-size: 30px; font-weight: bold; text-decoration: none; display: block;
}
.cprom_cal .cprom_date span {
	line-height: 11px; font-size: 12px; font-weight: normal; display: block;
}
.cprom_cal .cprom_date_wrap .on {
	color: rgb(26, 132, 200);
}
.c_icn {
	position: absolute;
}
.cal_left {
	left: 0px; top: 9px;
}
.cal_left .icn {
	background-position: -285px -135px; width: 20px; height: 39px;
}
.cal_right {
	top: 9px; right: 0px;
}
.cal_right .icn {
	background-position: -285px -180px; width: 20px; height: 39px;
}
.cal_center {
	top: 0px; width: 32px; height: 32px; right: -43px;
}
.cal_center .icn {
	background-position: -135px -155px; width: 32px; height: 32px;
}
.cprom_cal_on {
	position: relative;
}
.cprom_calender {
	background: rgb(255, 255, 255); padding: 0px 10px 10px; border: 1px solid rgb(26, 132, 200); border-image: none; left: 220px; top: 0px; width: 250px; position: absolute; z-index: 1;
}
.cal_date_wrap {
	margin-top: 22px;
}
.cal_date_left {
	left: 55px; top: 20px;
}
.cal_date_left .icn {
	background-position: -100px -35px; width: 20px; height: 20px;
}
.cal_date {
	color: rgb(26, 132, 200); font-size: 14px; display: block;
}
.cal_date_right {
	top: 20px; right: 55px;
}
.cal_date_right .icn {
	background-position: 0px -35px; width: 20px; height: 20px;
}
.cal_x {
	top: 10px; right: 10px;
}
.cal_x .icn {
	background-position: 0px -85px; width: 15px; height: 15px;
}
.cal_wrap {
	line-height: 0; font-size: 0px; margin-top: 10px;
}
.cal_year {
	padding: 0px 10px; border: 1px solid rgb(234, 234, 234); border-image: none; width: 110px; height: 30px; text-align: left; line-height: normal; font-size: 12px; display: inline-block; position: relative; -ms-zoom: 1;
}
.cal_year_show {
	line-height: 30px;
}
.cal_year .icn {
	background-position: -100px -65px; top: 13px; width: 9px; height: 5px; right: 10px;
}
.cla_year_list {
	padding: 10px; border: 1px solid rgb(234, 234, 234); border-image: none; top: 32px; width: 110px; height: 100px; right: -1px; overflow: auto; position: absolute;
}
.cal_month {
	width: 86px; margin-left: 5px;
}
.cal_month .cla_year_list {
	width: 86px;
}
.cprom_calendar {
	border: 0px currentColor; border-image: none; width: 100%; font-size: 11px; border-collapse: collapse; border-spacing: 0;
}
.cprom_cal_week th {
	height: 30px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; font-weight: bold;
}
.cpro_cal_day {
	background: rgb(246, 246, 246); width: 33px; height: 26px; text-align: right; line-height: 26px; padding-right: 5px; margin-top: 2px;
}
.cpro_cal_day:hover {
	background: rgb(26, 132, 200); color: rgb(255, 255, 255);
}
.cprom_calendar .today {
	color: rgb(26, 132, 200); font-weight: bold;
}
.cprom_calendar .today:hover {
	color: rgb(255, 255, 255);
}
.cprom_list {
	overflow: hidden; padding-bottom: 26px; margin-top: 20px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.cprom_list .cprom_list_inner {
	width: 220px; margin-left: 36px; float: left; position: relative;
}
.cprom_list :first-child.cprom_list_inner {
	margin-left: 0px;
}
.cprom_list .cprom_list_inner a {
	display: block;
}
.cprom_list_bg {
	background: rgba(0, 0, 0, 0.5); left: 0px; top: 0px; width: 220px; height: 125px; display: block; position: absolute; -ms-zoom: 1;
}
.cprom_play_icn {
	background-position: -315px 0px; left: 97px; top: 38px; width: 28px; height: 50px; position: absolute;
}
.cprom_list_name {
	overflow: hidden; padding-top: 11px; font-size: 14px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.cprom_list_info {
	color: rgb(102, 102, 102); line-height: 20px; overflow: hidden; margin-top: 9px; display: block; max-height: 38px;
}
[class^='board_top_'] {
	padding: 80px 0px 0px 30px; height: 100px;
}
.board_top_viewer {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/board/view_board_top_img.jpg") no-repeat;
}
[class^='board_top_'] .clbc_issue_headtitle {
	color: rgb(255, 255, 255);
}
[class^='board_top_'] .ht_topbar {
	background-color: rgb(255, 255, 255);
}
[class^='board_top_'] .board_info {
	color: rgb(255, 255, 255); line-height: 18px; margin-top: 13px;
}
.board_top_event {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/board/ev_board_top_img.jpg") no-repeat;
}
.about_bg {
	background: rgb(0, 0, 0); width: 100%; height: auto;
}
.about_bg .about_bg_01 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_01.jpg") no-repeat top;
}
.about_bg .about_bg_02 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_02.jpg") no-repeat top;
}
.about_bg .about_bg_03 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_03.jpg") no-repeat top;
}
.about_bg .about_bg_04 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_04.jpg") no-repeat top;
}
.about_bg .about_bg_05 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_05.jpg") no-repeat top;
}
.about_bg .about_bg_06 {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/about/about_bg_06.jpg") no-repeat top;
}
[class^='about_bg_'] {
	height: 580px;
}
.cnbc_about {
	overflow: hidden;
}
.about_wrap {
	margin-top: 50px; float: left;
}
:first-child.about_wrap {
	width: 482px;
}
.about_mes {
	line-height: 26px; font-size: 14px;
}
.about_mes_color_01 {
	color: rgb(249, 183, 21);
}
.about_mes_color_02 {
	color: rgb(242, 112, 35);
}
.about_mes_color_03 {
	color: rgb(199, 35, 76);
}
.about_mes_color_04 {
	color: rgb(99, 96, 169);
}
.about_mes_color_05 {
	color: rgb(27, 134, 200);
}
.about_mes_color_06 {
	color: rgb(13, 176, 75);
}
.about_copy {
	margin-top: 55px;
}
.about_copy li {
	line-height: 26px;
}
.about_copy li strong {
	width: 75px; color: rgb(102, 102, 102); display: inline-block; -ms-zoom: 1;
}
.about_his_list {
	overflow: hidden; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid;
}
.about_his_list_line {
	line-height: 54px;
}
.about_his_year {
	width: 120px; color: rgb(5, 135, 201); line-height: 54px; font-size: 28px;
}
[class^='about_his_year'] {
	float: left;
}
.about_his_year_inner {
	padding: 10px 0px;
}
.about_his_year_inner li {
	line-height: 26px;
}
.about_his_month {
	width: 65px; color: rgb(5, 135, 201); font-weight: bold; display: inline-block; -ms-zoom: 1;
}
.about_his_detail {
	width: 305px; line-height: 26px; display: inline-table;
}
.about_logo {
	margin: 110px 0px 40px;
}
.about_logo a {
	margin-left: 69px; display: inline-block; -ms-zoom: 1;
}
.about_logo a:first-child {
	margin-left: 0px;
}
.board_top_ch {
	background: url("http://img.sbs.co.kr/sw16/cnbc/pc/img/board/ch_board_top_img.jpg") no-repeat; padding-top: 120px;
}
.ch_tit {
	color: rgb(5, 135, 201); font-size: 14px; margin-bottom: 12px; display: block;
}
.ch_num {
	margin-bottom: 35px; display: block;
}
.ch_cable_wrap {
	overflow: hidden;
}
.ch_cable {
	border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; float: left;
}
.ch_city_tit {
	width: 81px; text-align: center; line-height: 45px; padding-bottom: 2px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; cursor: pointer; -ms-zoom: 1;
}
.ch_cable .select {
	color: rgb(5, 135, 201); padding-bottom: 0px; border-bottom-color: rgb(5, 135, 201); border-bottom-width: 3px; border-bottom-style: solid;
}
.ch_table {
	margin: 20px 0px 40px; width: 100%; text-align: center; border-top-color: rgb(5, 135, 201); border-bottom-color: rgb(5, 135, 201); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.ch_table_tit {
	background: rgb(227, 235, 239); color: rgb(102, 102, 102);
}
.ch_table_tit th {
	text-align: center; font-weight: bold;
}
.ch_table_tit_w {
	line-height: 30px !important;
}
.ch_table_tit_sub {
	background: rgb(227, 235, 239); color: rgb(102, 102, 102);
}
.ch_table_tit_sub th {
	text-align: center; line-height: 30px; font-weight: bold;
}
.col1 {
	width: 112px;
}
.col2 {
	width: 215px;
}
.col3 {
	width: 113px;
}
.col4 {
	width: 64px;
}
.col5 {
	width: 64px;
}
.col6 {
	width: 86px;
}
.ch_table_info td {
	padding: 10px; line-height: 20px; border-top-color: rgb(234, 234, 234); border-right-color: rgb(234, 234, 234); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid;
}
.ch_table_etc {
	width: 100%; text-align: center; border-top-color: rgb(5, 135, 201); border-bottom-color: rgb(5, 135, 201); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.ch_table_etc .ch_table_tit th {
	line-height: 35px;
}
