.penalty_b {
	font: 12px/normal "±¼¸²", "Gulim"; margin: 30px 10px; border: 1px solid rgb(203, 203, 203); border-image: none; color: rgb(128, 128, 128); font-size-adjust: none; font-stretch: normal; _zoom: 1;
}
.penalty_b.postbox1 {
	margin: 0px 0px 10px;
}
.penalty_b .inner {
	padding: 0px 16px; border: 4px solid rgb(249, 249, 249); border-image: none; background-color: rgb(255, 255, 255); _zoom: 1;
}
.penalty_b .st {
	color: rgb(87, 170, 58);
}
.penalty_b .p_title {
	padding: 16px 90px 0px 0px; height: 50px; text-align: center; position: relative; _height: 66px;
}
.penalty_b .p_title.p_added {
	height: 50px; padding-top: 21px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: solid; _height: 71px;
}
.penalty_b .p_title table {
	margin: 0px auto;
}
.penalty_b .p_title td {
	font: bold 13px/18px "±¼¸²", "Gulim"; padding: 0px 8px 0px 30px; text-align: left; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.penalty_b .p_title td.txt {
	padding: 0px 30px 0px 0px;
}
.penalty_b .p_title .newicon {
	margin: 4px 0px 6px; vertical-align: middle;
}
.penalty_b .p_title .viewer {
	margin: 0px; padding: 0px !important; top: 10px; width: 93px; height: 44px; right: 0px; border-left-color: rgb(242, 242, 242); border-left-width: 1px; border-left-style: solid; position: absolute;
}
.penalty_b .p_title.p_added .viewer {
	top: 15px;
}
.penalty_b .p_title .viewer a {
	background: url("https://blogimgs.pstatic.net/nblog/penalty/btn_p_open.gif") no-repeat right 3px; font: 12px/normal "????", "Dotum"; margin: 15px 5px 0px 0px; padding: 0px 12px 0px 0px; color: rgb(0, 0, 0); letter-spacing: -1px; float: right; white-space: nowrap; font-size-adjust: none; font-stretch: normal;
}
.penalty_b .p_title .viewer a.close {
	background-image: url("https://blogimgs.pstatic.net/nblog/penalty/btn_p_close.gif");
}
.penalty_b .p_content {
	padding: 18px 0px 24px; border-top-color: rgb(234, 234, 234); border-top-width: 1px; border-top-style: dashed; -ms-word-wrap: break-word;
}
.penalty_b em {
	color: rgb(87, 170, 58); font-style: normal;
}
.penalty_b em.red {
	color: rgb(224, 72, 0); font-style: normal;
}
.penalty_b p {
	margin: 0px !important; padding: 0px 9px 18px !important; text-align: left; line-height: 18px !important;
}
.penalty_b p a.servicelink {
	color: rgb(0, 0, 0); text-decoration: underline; white-space: nowrap;
}
.penalty_b p a.servicelinkgreen {
	color: rgb(87, 170, 58); text-decoration: underline; white-space: nowrap;
}
.penalty_b .btn {
	background: none !important; margin: -3px 0px 0px; padding: 0px; height: 26px; text-align: center; _filter: none;
}
.penalty_b .btn .btn1 {
	background: url("https://blogimgs.pstatic.net/nblog/penalty/btn1_left.gif") no-repeat left top; margin: 0px 1px 0px 0px; padding: 7px 0px; display: inline; _margin: 0 5px 0 0; _padding: 0;
}
*:first-child + html .penalty_b .btn .btn1 {
	margin: 0px 5px 0px 0px; padding: 0px;
}
body:first-of-type .penalty_b .btn .btn1 {
	padding-top: 8px;
}
.penalty_b .btn .btn1 a {
	background: url("https://blogimgs.pstatic.net/nblog/penalty/btn1_right.gif") no-repeat right top; padding: 7px 7px 5px; color: rgb(0, 0, 0); letter-spacing: -1px; font-family: "????",Dotum; text-decoration: none !important; display: inline-block; _height: 26px; _margin: 0 -4px 0 0;
}
*:first-child + html .penalty_b .btn .btn1 a {
	margin: 0px -4px 0px 0px;
}
.ly_type3 {
	margin: 0px 0px 8px; padding: 23px 18px 20px; border: 1px solid rgb(231, 231, 231); border-image: none; text-align: left; overflow: hidden; font-family: dotum,"????"; position: relative; background-color: rgb(255, 255, 255);
}
.ly_type3 h3 {
	background: url("https://blogimgs.pstatic.net/nblog/penalty/ico_mark.gif") no-repeat 0px 5px; margin: 0px !important; line-height: 20px; padding-left: 42px; font-size: 14px;
}
.ly_type3 h3 span {
	color: rgb(76, 171, 36); font-size: 14px;
}
.ly_type3 .ly_cont {
	margin: 20px 0px 0px; padding: 5px 0px 10px; border-top-color: rgb(243, 243, 243); border-top-width: 1px; border-top-style: solid;
}
.ly_type3 .ly_btn {
	background: url("https://blogimgs.pstatic.net/nblog/penalty/bg_btn_cont.gif") no-repeat 100% 9px; top: 42px; right: 15px; display: inline-block; position: absolute;
}
.ly_type3 .ly_btn_clse {
	background-position: 100% -10px;
}
.ly_type3 .ly_btn button {
	background: none; padding: 0px 6px 0px 0px; border: 0px currentColor; border-image: none; width: 56px; height: 22px; color: rgb(102, 102, 102); line-height: 24px; letter-spacing: -1px; font-family: dotum,"????"; font-size: 11px; cursor: pointer;
}
.ly_type3 .p_type {
	margin: 18px 0px 0px; color: rgb(102, 102, 102); line-height: 18px; font-size: 12px;
}
.ly_type3 .p_type a {
	color: rgb(87, 170, 58); line-height: 18px; text-decoration: underline;
}
.ly_type3 .p_type span {
	color: rgb(87, 170, 58);
}
.ly_type3 .p_type2 {
	margin: 0px; padding: 20px 0px 5px; text-align: center;
}
.ly_type3 .ly_cont_clse {
	display: none;
}
#defineNHNCSS_lego_view-63189325_css {
	color: rgb(255, 255, 238);
}
#defineNHNCSS_lego_view-63189325_https_css {
	color: rgb(255, 255, 238);
}
