@CHARSET "UTF-8";
/*
	↓↓overrides bootstrap styles.↓↓
*/
/* removes round-corners */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
	padding-bottom: 20px;
	font-family: NanumGothic, malgun gothic, dotum;
	font-size: 12px;
	color: #555;
}

/* frame-top */
body#frame-top .navbar-inverse .navbar-inner {
	border: 1px solid #000;
}

/*----------------- 
	SCROLLBAR 
-----------------*/
/* IE */
html {scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #efefef; scrollbar-base-color: #efefef; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef; scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef}
/* Chrome, Safari */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 0; /*background: url('./images/bg.png') #efefef*/}
::-webkit-scrollbar-track {background: #efefef; /*-webkit-border-radius: 10px; border-radius:10px;*/ -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(47,150,180,.2); /*-webkit-border-radius: 8px; border-radius: 8px;*/ -webkit-box-shadow: inset 0 0 4px rgba(47,150,180,.1)}

/*----------------- 

/* common */
h1{
	font-size: 20px;
	line-height: 20px;
}
caption{
	display: none;
}
label{
	font-size: 12px;
	white-space: nowrap;
}
table{
	background-color: #fff;
}
input, button, select, textarea {
	font-family: NanumGothic, malgun gothic, dotum;
}
textarea, input[type="text"], input[type="file"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 5px;font-size: 12px; line-height: 14px;}
img{border: 0;}

hr{border-top-color: #eee;}

ul{
	list-style: none;
}
/* ============================================================	*/
/* 텍스트인풋, 셀렉트 사이트 경량화								*/
/* ------------------------------------------------------------	*/
select.compact{margin-bottom: 0;height: 22px; line-height: 20px; font-size: 12px; padding: 2px 4px;}
input.compact{margin-bottom: 0; height: 12px; line-height: 12px;}
/* ============================================================*/

.logo{height: 20px;}

.page-header{
	margin: 10px 0 10px 0;
	padding-bottom: 0;
}
.form-horizontal .control-label{
	text-align: left;
}
.form-horizontal .control-group {
	margin-bottom: 5px;
}
.form-actions{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;	
}
.muted{
	font-style: italic;
}
.strike{
	text-decoration: line-through;
}
.pagination ul > li > a.page_current{
	color: #08C;
	font-weight: bold;
	background-color: #DDD;
}
.pagination ul > li > a, .pagination ul > li > span {
	line-height: 20px;
	padding: 0 10px;
}
.btn-mini [class^="icon-"], [class*=" icon-"]{
	margin-top: -1px;
}
th.center, td.center{text-align: center;}

.well{
	margin-bottom: 10px;
}
.nav{
	margin-bottom: 10px;
}

/* 관리자 로고 */
.navbar .brand {
	padding: 0 10px 0 10px;
	margin-top: 8px;
}

.alert{
	margin-bottom: 10px;
}
/*----------------- 
	Dashboard 
-----------------*/
.dashboard-panel {
	background-color: #FFF; border: 1px solid #ddd;
}
.situation{
	margin-top: 10px;
	margin-left: 10px;
}
/*----------------- 
	jQuery ui datepicker 
-----------------*/
.ui-widget *{
	font-size: 12px !important;
	font-family: NanumGothic, malgun gothic, dotum !important;
}
.ui-datepicker-trigger{
	margin-left: 5px;
}
select.ui-datepicker-year, select.ui-datepicker-month{
	width: 70px !important;	
}

/*----------------- 
	IE FIX HACK 
-----------------*/
.btn {
	*background-image: url(../bootstrap/img/glass-mat.png);
	*background-repeat: repeat-x;
	background-image: url(../bootstrap/img/glass-mat.png)\9;
	background-repeat: repeat-x\9;
	*margin-top: 1px;
	background-image: url(../bootstrap/img/glass-mat.png) \0/IE9;
	background-repeat: repeat-x \0/IE9;
}
a.btn-mini{
	*padding-top: 2px;	
	*padding-bottom: 1px;	
}
.btn-mini{
	font-size: 11px;
}
.add-on {
	*margin-top: 1px;
}

select { 
	/*font-size: 18px;*/
	font-size: 12px;
}

legend {
	*margin-left: -7px
}
.label{
	*padding-right: 2px;
}
/* 상단 메뉴 망가지는거 수정 */
.nav-collapse.collapse {
	height: auto !important\9;
	overflow: visible !important\9;
}
.input-block-level{
	width: 98%\9;
	min-height: 20px\9;
}
/*
[class^="icon-"], [class*=" icon-"]{
	vertical-align: baseline;
}
*/
.center{text-align: center;}

/* .control-divider  */
.control-divider{border-bottom: 1px solid #EEE; border-left: 5px solid #EEE; margin-bottom: 10px;}

/* well-small */
.well-small{padding: 5px;}