#tt_wrapSameIdAlert p {
	margin: 0px; padding: 0px;
}
#tt_wrapSameIdAlert button {
	margin: 0px; padding: 0px;
}
#tt_wrapSameIdAlert button {
	border: currentColor; border-image: none;
}
#tt_wrapSameIdAlert .hide {
	display: none !important;
}
#tt_wrapSameIdAlert .wrap_popup {
	width: 378px; position: absolute; z-index: 99;
}
#tt_wrapSameIdAlert .wrap_dialog {
	position: relative;
}
#tt_wrapSameIdAlert .wrap_popup .box_btn .btn_dialog {
	overflow: hidden; cursor: pointer; background-image: url("//t1.daumcdn.net/tistory_admin/static/admin/new/btn_comm.gif"); background-repeat: no-repeat;
}
#tt_wrapSameIdAlert .wrap_popup .label_dialog {
	left: -10000em; top: -10000em; position: absolute;
}
#tt_wrapSameIdAlert .wrap_popup .bg_top {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_basetop.png") no-repeat 0px 0px; width: 100%; height: 14px; display: block; _background: none; _zoom: 1;
}
#tt_wrapSameIdAlert .wrap_popup .bg_top .tit {
	display: none;
}
#tt_wrapSameIdAlert .wrap_popup .wrap_popuplayer {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_basemiddle.png") repeat-y 0px 0px; width: 100%; overflow: hidden; _background: none; _zoom: 1;
}
#tt_wrapSameIdAlert .wrap_popup .bg_bottom {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_basebottom.png") no-repeat 0px 0px; width: 100%; height: 14px; display: block; _background: none;
}
#tt_wrapSameIdAlert .wrap_popup .box_close {
	top: -6px; width: 28px; height: 28px; right: -3px; position: absolute;
}
#tt_wrapSameIdAlert .wrap_popup .btn_popup {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_close.png") no-repeat 0px 0px; width: 28px; height: 28px; overflow: hidden; _background: none;
}
#tt_wrapSameIdAlert .wrap_popup .box_option {
	padding: 31px 0px 34px; width: 378px; height: 100%; overflow: hidden; float: left; position: relative; _zoom: 1;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .txt_link {
	font: 14px/21px dotum, sans-serif; margin: 0px auto; width: 342px; text-align: center; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .txt_link_more {
	margin-top: 8px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .notice_sameId {
	text-align: left; color: rgb(102, 102, 102); line-height: 18px; font-size: 12px; margin-left: 20px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .notice_sameId .more_info {
	color: rgb(68, 68, 68);
}
#tt_wrapSameIdAlert .wrap_popup .box_option .select {
	text-align: center; margin-top: 26px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .select select {
	width: 194px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .select .group {
	padding-right: 14px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .box_check {
	margin: 0px 24px 0px 20px; padding: 21px 0px 2px; overflow: hidden;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .box_check input {
	width: 13px; height: 13px; font-size: 0px; float: left;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .box_check label {
	width: 98px; color: rgb(102, 102, 102); line-height: 14px; padding-left: 4px; font-size: 12px; float: left;
}
#tt_wrapSameIdAlert .wrap_popup .box_btn {
	margin: 0px auto; padding: 12px 0px 8px; width: 350px; height: 25px; text-align: center; overflow: hidden; clear: both; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid; _zoom: 1;
}
#tt_wrapSameIdAlert .wrap_popup .box_btn .btn_pluginno {
	
}
#tt_wrapSameIdAlert .wrap_popup .txt {
	display: none;
}
#tt_wrapSameIdAlert .wrap_popup .list_option {
	display: none;
}
#tt_wrapSameIdAlert .wrap_popup .more {
	display: none;
}
#tt_wrapSameIdAlert .wrap_popup .dialog_buttons {
	position: relative;
}
#tt_wrapSameIdAlert .wrap_titpopup {
	width: 413px; position: absolute;
}
#tt_wrapSameIdAlert .wrap_titpopup .bg_top {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_bgtop.png") no-repeat 0px 0px; width: 100%; height: 46px; display: block; _background: none;
}
#tt_wrapSameIdAlert .wrap_titpopup .bg_top .tit {
	display: block;
}
#tt_wrapSameIdAlert .wrap_titpopup .wrap_popuplayer {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_bgmiddle.png") repeat-y 0px 0px; height: 1%; _background: none;
}
#tt_wrapSameIdAlert .wrap_titpopup .bg_bottom {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/popup_bgbottom.png") no-repeat 0px 0px; width: 100%; height: 14px; display: block; _background: none;
}
#tt_wrapSameIdAlert .wrap_titpopup .txt {
	display: block;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option {
	display: block;
}
#tt_wrapSameIdAlert .wrap_titpopup .more {
	display: block;
}
#tt_wrapSameIdAlert .wrap_titpopup .tit {
	font: 14px/16px dotum; padding: 19px 0px 0px 28px; color: rgb(68, 68, 68); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
#tt_wrapSameIdAlert .wrap_titpopup .txt {
	font: 12px/18px dotum; margin: 0px 24px 0px 20px; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option {
	width: 100%; line-height: 25px; overflow: hidden; margin-top: 10px;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option input {
	padding: 3px 5px 0px; border: 1px solid rgb(182, 182, 182); border-image: none; width: 224px; height: 20px; float: left;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option dt {
	width: 49px; height: 25px; padding-left: 20px; clear: both; margin-top: 8px; float: left;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option dd {
	width: 285px; height: 25px; margin-top: 8px; float: left;
}
#tt_wrapSameIdAlert .wrap_titpopup .list_option .btn_comm {
	background-position: -340px -50px; margin: 1px 0px 0px 4px; width: 38px; height: 23px; float: left;
}
#tt_wrapSameIdAlert .wrap_titpopup .more {
	font: 11px/16px dotum; margin: 19px 0px 0px 20px; width: 320px; color: rgb(170, 170, 170); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
#tt_wrapSameIdAlert .wrap_titpopup .box_btn {
	width: 369px; text-align: center;
}
#tt_wrapSameIdAlert .wrap_titpopup .box_option {
	padding: 24px 22px 21px; width: 369px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option {
	position: relative; z-index: 200;
}
.wrap_popup .box_btn {
	position: relative; z-index: 200;
}
#tt_wrapSameIdAlert .mask {
	background: url("//t1.daumcdn.net/tistory_admin/static/tabloid/edit/png.png"); left: 0px; top: 0px; position: absolute; z-index: 98; _background-image: none;
}
#tt_wrapSameIdAlert .btn_checkno {
	background-position: -320px -370px; width: 53px; height: 25px;
}
#tt_wrapSameIdAlert .btn_pluginok {
	background-position: -320px -25px; width: 45px; height: 25px;
}
#tt_wrapSameIdAlert .wrap_popup .box_btn .btn_pluginchange {
	background: url("//t1.daumcdn.net/tistory_admin/static/personal/btn_change_pw.gif") no-repeat 0px 0px; width: 96px; height: 25px; margin-left: 5px;
}
#tt_wrapSameIdAlert .wrap_popup .box_btn .btn_pluginmove {
	background: url("//t1.daumcdn.net/tistory_admin/static/personal/btn_cs.gif") no-repeat 0px 0px; width: 71px; height: 25px; margin-left: 5px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .ip_info {
	color: rgb(68, 68, 68); padding-top: 12px;
}
#tt_wrapSameIdAlert .wrap_popup .box_option .ip_info a {
	color: rgb(79, 129, 189); text-decoration: underline;
}
#tt_wrapSameIdAlert .wrap_titpopup .sameId_box_option {
	padding: 24px 22px 15px; width: 369px;
}
