.tistorytoolbar a {
	font-weight: normal; text-decoration: none;
}
.tistorytoolbar div {
	background: none;
}
.tistorytoolbar .tt_menubar_bg_toolbar {
	font: 0px/0 Arial; border-radius: 5px; left: 0px; top: 0px; width: 372px; height: 26px; position: absolute; z-index: -1; font-size-adjust: none; font-stretch: normal;
}
.tt_menubar_custom .tt_menubar_bg_toolbar {
	border-radius: 4px; -moz-border-radius: 4px;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_bg_toolbar {
	display: none;
}
.tistorytoolbar .tt_menubar_bg_tistorylayer {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/bg_tistorylayer.gif") no-repeat 0px 0px; vertical-align: middle;
}
.tistorytoolbar .tt_menubar_bg_linkarr {
	background-position: -10px -5px; width: 3px; height: 5px; margin-top: -2px;
}
.tistorytoolbar .tt_menubar_bg_linknew {
	background-position: 0px -5px; width: 9px; height: 9px; margin-top: -2px;
}
.tistorytoolbar .tt_menubar_btn_mylink {
	background-position: -20px 0px; border: 0px currentColor; border-image: none; width: 120px; height: 23px; text-indent: -999em;
}
.tt_menubar_whiteBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_w01.png") no-repeat; _background: none;
}
.tt_menubar_whiteSemiBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_w02.png") no-repeat; _background: none;
}
.tt_menubar_blackBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_d01.png") no-repeat; _background: none;
}
.tt_menubar_blackSemiBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_d02.png") no-repeat; _background: none;
}
.tt_menubar_login .tt_menubar_whiteBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_w01_logout.png") no-repeat; _background: none;
}
.tt_menubar_login .tt_menubar_whiteSemiBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_w02_logout.png") no-repeat; _background: none;
}
.tt_menubar_login .tt_menubar_blackBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_d01_logout.png") no-repeat; _background: none;
}
.tt_menubar_login .tt_menubar_blackSemiBar .tt_menubar_bg_toolbar {
	background: url("//t1.daumcdn.net/tistory_admin/static/admin/new/box_d02_logout.png") no-repeat; _background: none;
}
.tt_menubar_whiteBar .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(123, 123, 123);
}
.tt_menubar_whiteSemiBar .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(120, 120, 120);
}
.tt_menubar_white .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(125, 125, 125);
}
.tt_menubar_blackBar .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(189, 189, 189);
}
.tt_menubar_blackSemiBar .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(173, 173, 173);
}
.tt_menubar_black .tt_menubar_inner .tt_menubar_link_tit {
	color: rgb(168, 168, 168);
}
.tt_menubar_white .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.16; background-color: rgb(0, 0, 0);
}
.tt_menubar_whiteSemiBar .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.16; background-color: rgb(0, 0, 0);
}
.tt_menubar_whiteBar .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.16; background-color: rgb(0, 0, 0);
}
.tt_menubar_black .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.2; background-color: rgb(255, 255, 255);
}
.tt_menubar_blackSemiBar .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.2; background-color: rgb(255, 255, 255);
}
.tt_menubar_blackBar .tt_menubar_inner .tt_menubar_bg_bar {
	opacity: 0.2; background-color: rgb(255, 255, 255);
}
.tt_menubar_whiteBar .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(63, 63, 63);
}
.tt_menubar_whiteBar .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(63, 63, 63);
}
.tt_menubar_whiteSemiBar .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(63, 63, 63);
}
.tt_menubar_whiteSemiBar .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(63, 63, 63);
}
.tt_menubar_white .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(63, 63, 63);
}
.tt_menubar_white .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(63, 63, 63);
}
.tt_menubar_blackBar .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(248, 248, 248);
}
.tt_menubar_blackBar .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(248, 248, 248);
}
.tt_menubar_blackSemiBar .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(248, 248, 248);
}
.tt_menubar_blackSemiBar .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(248, 248, 248);
}
.tt_menubar_black .tt_menubar_inner .tt_menubar_link_tit:hover {
	color: rgb(248, 248, 248);
}
.tt_menubar_black .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	color: rgb(248, 248, 248);
}
.tistorytoolbar .tt_menubar_inner {
	padding: 5px 0px 0px 10px; width: 371px; height: 21px; float: left; position: relative;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_bg_bar {
	margin: 4px 7px 0px; width: 1px; height: 8px; line-height: 0; overflow: hidden; font-size: 0px; float: left; display: inline;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_link_tit {
	background: none; height: 22px; line-height: 13px; letter-spacing: -2px; padding-top: 2px; font-family: "µ¸¿ò",Dotum,sans-serif; font-size: 11px; vertical-align: top; float: left; display: inline; cursor: pointer;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_link_tit_daum {
	font-weight: bold;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_link_tit_eng {
	letter-spacing: 0px; padding-top: 1px; font-family: tahoma,sans-serif;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_link_tit:hover {
	text-decoration: none;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_on .tt_menubar_link_tit {
	text-decoration: none;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_box_list {
	left: 0px; top: 26px; display: none; position: absolute;
}
.tistorytoolbar .tt_menubar_on .tt_menubar_box_list {
	display: block;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu {
	margin: 0px; padding: 2px 1px; border: 1px solid rgb(157, 157, 157); border-image: none; line-height: 0; font-size: 0px; float: left; background-color: rgb(255, 255, 255);
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu li {
	list-style: none;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu a {
	padding: 0px 6px; color: rgb(102, 102, 102); line-height: 20px; letter-spacing: -1px; font-size: 11px; text-decoration: none; display: block;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu .tt_menubar_hover {
	background-color: rgb(245, 245, 245);
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu .tt_menubar_hover a {
	color: rgb(242, 91, 0); text-decoration: none; background-color: rgb(245, 245, 245);
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_list_blogmenu a:hover {
	color: rgb(242, 91, 0); text-decoration: none; background-color: rgb(245, 245, 245);
}
.tistorytoolbar .tt_menubar_mainmenu {
	float: left;
}
.tistorytoolbar .tt_menubar_thisblog {
	float: left;
}
.tistorytoolbar .tt_menubar_thisblog .tt_menubar_list_blogmenu a {
	width: 67px;
}
.tistorytoolbar .tt_menubar_myblog {
	float: left;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_list_blogmenu {
	width: 192px;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_list_blogmenu li {
	width: 189px; padding-right: 3px; float: left;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_box_list .tt_menubar_link {
	padding: 0px 0px 0px 6px; width: 125px; float: left;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_box_list .tt_menubar_box_btn {
	float: right;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_box_list .tt_menubar_box_btn a {
	padding: 0px 3px; color: rgb(152, 152, 152); display: inline;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_box_list .tt_menubar_box_btn a:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
.tistorytoolbar .tt_menubar_myblog .tt_menubar_box_list .tt_menubar_box_btn .tt_menubar_txt_bar {
	color: rgb(204, 204, 204); line-height: 20px; font-size: 11px;
}
.tistorytoolbar .tt_menubar_warp_mylink {
	float: left;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_arr {
	padding: 1px 7px 0px 0px; float: right;
}
.tistorytoolbar .tt_menubar_inner .tt_menubar_arr .tt_menubar_btn_arr {
	margin: 0px; padding: 0px; width: 9px; height: 12px; text-indent: -9999px; overflow: hidden; float: left; display: block; cursor: pointer;
}
.tistorytoolbar .tt_menubar_close {
	background: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_mainmenu {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_myblog {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_mylink {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_thisblog {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_random {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_logout {
	display: none;
}
.tistorytoolbar .tt_menubar_close .tt_menubar_bg_bar {
	display: none;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink {
	border: 1px solid rgb(157, 157, 157); border-image: none; top: 26px; width: 218px; overflow: hidden; display: none; position: absolute; max-height: 413px; background-color: rgb(255, 255, 255);
}
.tistorytoolbar .tt_menubar_on .tt_menubar_box_mylink {
	display: block;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_opt {
	width: 100%; height: 32px; text-align: center; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(245, 245, 245);
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_opt select {
	margin: 6px auto 0px; width: 206px;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list {
	top: 0px; width: 218px; height: 348px; line-height: 0; overflow: hidden; font-size: 0px; position: relative; -ms-overflow-y: scroll;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list ul {
	list-style: none; margin: 0px; padding: 0px;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_list_mylink li {
	overflow: hidden; padding-bottom: 6px; border-top-color: rgb(239, 239, 239); border-top-width: 1px; border-top-style: solid; position: relative;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_tit {
	font: 12px/14px dotum, sans-serif; width: 100%; height: 26px; color: rgb(68, 68, 68); letter-spacing: -1px; overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_tit a {
	width: 100%; height: 18px; text-indent: 9px; padding-top: 10px; display: block;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_tit .tt_menubar_num {
	letter-spacing: 0px; padding-left: 4px;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_tit .tt_menubar_bg_linkopenclose {
	background-position: 0px 0px; left: 183px; top: 16px; width: 8px; height: 4px; margin-top: -2px; position: absolute;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_cont {
	display: none;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_on .tt_menubar_cont {
	display: block;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_on .tt_menubar_tit .tt_menubar_bg_linkopenclose {
	background-position: -10px 0px;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_cont .tt_menubar_list_link li {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_cont .tt_menubar_list_link li a {
	font: 12px/14px dotum, sans-serif; padding: 4px 0px 3px; width: 100%; height: 14px; color: rgb(102, 102, 102); text-indent: 9px; display: block; font-size-adjust: none; font-stretch: normal;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_list .tt_menubar_cont .tt_menubar_list_link li a:hover {
	color: rgb(242, 91, 0); text-decoration: none; background-color: rgb(245, 245, 245);
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_control {
	padding: 7px 0px; width: 100%; height: 13px; text-align: center; overflow: hidden; border-top-color: rgb(214, 214, 214); border-top-width: 1px; border-top-style: solid; position: relative;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_control a {
	font: 11px/13px dotum, sans-serif; color: rgb(170, 170, 170); letter-spacing: -1px; font-size-adjust: none; font-stretch: normal;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_control a.tt_menubar_on {
	color: rgb(68, 68, 68);
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_control .tt_menubar_txt_bar {
	padding: 0px 2px; color: rgb(221, 221, 221); line-height: 13px; font-size: 11px;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_control .tt_menubar_edit {
	top: 9px; right: 9px; color: rgb(136, 136, 136); text-decoration: underline; position: absolute;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_txt {
	font: 12px/18px dotum, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_txt .tt_menubar_tit {
	margin: 117px 31px 0px; width: auto; height: auto; color: rgb(68, 68, 68); line-height: 16px; font-weight: bold; display: block;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_txt .tt_menubar_txt {
	margin: 6px 31px 0px 30px; color: rgb(153, 153, 153); display: block;
}
.tistorytoolbar .tt_menubar_mylink .tt_menubar_box_mylink .tt_menubar_box_txt .tt_menubar_btn_mylink {
	margin: 11px 0px 0px 32px;
}
.tistorytoolbar .tt_menubar_random {
	float: left;
}
.tistorytoolbar .tt_menubar_logout {
	float: left; white-space: nowrap;
}
.tt_menubar_login .tt_menubar_inner {
	width: 95px;
}
.tt_menubar_login .tt_menubar_bg_toolbar {
	border-radius: 5px; width: 95px;
}
.tistorytoolbar .tt_menubar_link_tit .tt_menubar_ico_arrow {
	font: 7px/normal "µ¸¿ò", dotum, sans-serif !important; letter-spacing: 0px; margin-left: 3px; font-size-adjust: none !important; font-stretch: normal !important; opacity: 0.45;
}
.tt_menubar_chrome_browser .tt_menubar_link_tit .tt_menubar_ico_arrow {
	font: 7px/normal tahoma, sans-serif !important; font-size-adjust: none !important; font-stretch: normal !important;
}
