.fresh-one-half {
	margin-right: 3.12%; float: left; display: inline; position: relative; min-height: 1px;
}
.fresh-one-third {
	margin-right: 3.12%; float: left; display: inline; position: relative; min-height: 1px;
}
.fresh-two-third {
	margin-right: 3.12%; float: left; display: inline; position: relative; min-height: 1px;
}
.fresh-one-fourth {
	margin-right: 3.12%; float: left; display: inline; position: relative; min-height: 1px;
}
.fresh-three-fourth {
	margin-right: 3.12%; float: left; display: inline; position: relative; min-height: 1px;
}
.fresh-one-half {
	width: 48.43%;
}
.fresh-one-third {
	width: 31.25%;
}
.fresh-two-third {
	width: 65.62%;
}
.fresh-one-fourth {
	width: 22.65%;
}
.fresh-three-fourth {
	width: 74.21%;
}
.fresh-one-half.last {
	clear: right; margin-right: 0px;
}
.fresh-one-third.last {
	clear: right; margin-right: 0px;
}
.fresh-two-third.last {
	clear: right; margin-right: 0px;
}
.fresh-one-fourth.last {
	clear: right; margin-right: 0px;
}
.fresh-three-fourth.last {
	clear: right; margin-right: 0px;
}
a.fresh-btn {
	background: linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); margin: 0px 0px 20px; padding: 6px 20px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(85, 85, 85); line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: normal; display: inline-block; white-space: nowrap; cursor: pointer; -ms-zoom: 1; font-size-adjust: inherit; font-stretch: inherit; box-shadow: 1px 1px 3px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(255,255,255,0.9); -webit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.fresh-btn {
	background: linear-gradient(rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%); margin: 0px 0px 20px; padding: 6px 20px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(85, 85, 85); line-height: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: normal; display: inline-block; white-space: nowrap; cursor: pointer; -ms-zoom: 1; font-size-adjust: inherit; font-stretch: inherit; box-shadow: 1px 1px 3px rgba(0,0,0,0.1); text-shadow: 0px 1px 0px rgba(255,255,255,0.9); -webit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
a.fresh-btn:hover {
	color: rgb(85, 85, 85); text-decoration: none;
}
.fresh-btn:hover {
	color: rgb(85, 85, 85); text-decoration: none;
}
a.fresh-btn:active {
	text-decoration: none; box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.fresh-btn:active {
	text-decoration: none; box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}
a.fresh-btn.small {
	padding: 2px 10px; font-size: 11px;
}
.fresh-btn.small {
	padding: 2px 10px; font-size: 11px;
}
a.fresh-btn.large {
	padding: 12px 20px; font-size: 14px;
}
.fresh-btn.large {
	padding: 12px 20px; font-size: 14px;
}
a.fresh-btn.black {
	background: linear-gradient(rgb(85, 85, 85) 0%, rgb(61, 61, 61) 100%); border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.black {
	background: linear-gradient(rgb(85, 85, 85) 0%, rgb(61, 61, 61) 100%); border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.blue {
	background: linear-gradient(rgb(37, 165, 234) 0%, rgb(31, 136, 193) 100%); border-color: rgb(30, 123, 181); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.blue {
	background: linear-gradient(rgb(37, 165, 234) 0%, rgb(31, 136, 193) 100%); border-color: rgb(30, 123, 181); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.green {
	background: linear-gradient(rgb(102, 188, 32) 0%, rgb(52, 147, 26) 100%); border-color: rgb(44, 135, 24); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.green {
	background: linear-gradient(rgb(102, 188, 32) 0%, rgb(52, 147, 26) 100%); border-color: rgb(44, 135, 24); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.orange {
	background: linear-gradient(rgb(247, 190, 46) 1%, rgb(247, 169, 44) 100%); border-color: rgb(237, 159, 42); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.orange {
	background: linear-gradient(rgb(247, 190, 46) 1%, rgb(247, 169, 44) 100%); border-color: rgb(237, 159, 42); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.pink {
	background: linear-gradient(rgb(239, 100, 160) 0%, rgb(242, 43, 132) 100%); border-color: rgb(239, 0, 103); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.pink {
	background: linear-gradient(rgb(239, 100, 160) 0%, rgb(242, 43, 132) 100%); border-color: rgb(239, 0, 103); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.purple {
	background: linear-gradient(rgb(185, 42, 237) 0%, rgb(169, 41, 229) 100%); border-color: rgb(146, 38, 214); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.purple {
	background: linear-gradient(rgb(185, 42, 237) 0%, rgb(169, 41, 229) 100%); border-color: rgb(146, 38, 214); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
a.fresh-btn.red {
	background: linear-gradient(rgb(234, 42, 42) 0%, rgb(206, 37, 37) 100%); border-color: rgb(188, 36, 33); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-btn.red {
	background: linear-gradient(rgb(234, 42, 42) 0%, rgb(206, 37, 37) 100%); border-color: rgb(188, 36, 33); color: rgb(255, 255, 255); text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}
.fresh-dropcap {
	margin: 0px 10px 0px 0px; padding: 0px; line-height: 1; font-size: 36px; font-weight: bold; float: left; display: block;
}
.fresh-divider {
	margin: 0px 0px 30px; padding: 10px 0px 0px; height: 0px; clear: both; border-bottom-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.fresh-divider::before {
	width: 100%; height: 1px; clear: both; display: block; visibility: hidden; content: "\0020";
}
.fresh-divider::after {
	width: 100%; height: 1px; clear: both; display: block; visibility: hidden; content: "\0020";
}
.fresh-divider.dotted {
	border-bottom-color: rgb(237, 237, 237); border-bottom-width: 2px; border-bottom-style: dotted;
}
.fresh-divider.dashed {
	border-bottom-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: dashed;
}
.fresh-divider.double {
	border-bottom-color: rgb(237, 237, 237); border-bottom-width: 5px; border-bottom-style: double;
}
.fresh-divider.striped {
	background: url("../images/stripes.png"); border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(237, 237, 237); border-image: none; height: 5px;
}
.fresh-accordion {
	margin-bottom: 20px;
}
.fresh-accordion .fresh-accordion-title {
	background: rgb(250, 251, 251); padding: 8px 20px; border: 1px solid rgb(237, 237, 237); border-image: none; color: rgb(85, 85, 85); text-decoration: none; margin-bottom: 10px; display: block; cursor: pointer;
}
.fresh-accordion .fresh-accordion-title:hover {
	text-decoration: none;
}
.fresh-accordion .fresh-accordion-pane {
	background: rgb(255, 255, 255); margin: -11px 0px 10px; padding: 20px; border: 1px solid rgb(237, 237, 237); border-image: none; display: none;
}
.fresh-tabs {
	margin-bottom: 20px;
}
.fresh-tabs ul.fresh-tabs-nav {
	list-style: none; margin: 0px; padding: 0px;
}
.fresh-tabs ul.fresh-tabs-nav li {
	margin: 0px -1px 0px 0px; padding: 0px; float: left;
}
.fresh-tabs ul.fresh-tabs-nav li a {
	background: rgb(250, 251, 251); margin: 0px 0px -1px; padding: 8px 20px; border: 1px solid rgb(237, 237, 237); border-image: none; color: rgb(85, 85, 85); display: block; position: relative;
}
.fresh-tabs ul.fresh-tabs-nav li a:hover {
	text-decoration: none;
}
.fresh-tabs ul.fresh-tabs-nav li a.current {
	background: rgb(255, 255, 255); color: rgb(37, 37, 37); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.fresh-tabs .fresh-panes {
	border: 1px solid rgb(237, 237, 237); border-image: none; clear: both;
}
.fresh-tabs .fresh-panes > div {
	padding: 20px;
}
.fresh-alert {
	background: rgb(255, 255, 255); padding: 8px 50px 8px 20px; border-radius: 3px; border: 1px solid rgb(237, 237, 237); border-image: none; color: rgb(85, 85, 85); margin-bottom: 20px; position: relative; -moz-border-radius: 3px;
}
.fresh-alert span.close {
	top: 6px; width: 20px; height: 20px; text-align: center; right: 10px; color: rgb(204, 204, 204); line-height: 100%; font-size: 20px; font-weight: 700; display: inline-block; position: absolute; cursor: pointer;
}
.fresh-alert span.close:hover {
	color: rgb(153, 153, 153);
}
.fresh-alert.blue {
	background: rgb(219, 243, 249); border: 1px solid rgb(197, 227, 234); border-image: none;
}
.fresh-alert.green {
	background: rgb(226, 255, 201); border: 1px solid rgb(197, 237, 163); border-image: none;
}
.fresh-alert.red {
	background: rgb(255, 226, 226); border: 1px solid rgb(252, 209, 209); border-image: none;
}
.fresh-alert.yellow {
	background: rgb(252, 247, 209); border: 1px solid rgb(244, 216, 0); border-image: none;
}
