@font-face {
	font-family: helveticabold;
	src: url(fonts/helvetica_bold_0-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/helvetica_bold_0-webfont.woff) format("woff"), url(fonts/helvetica_bold_0-webfont.ttf) format("truetype"), url(fonts/helvetica_bold_0-webfont.svg#helveticabold) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: helveticaregular;
	src: url(fonts/helvetica_0-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/helvetica_0-webfont.woff) format("woff"), url(fonts/helvetica_0-webfont.ttf) format("truetype"), url(fonts/helvetica_0-webfont.svg#helveticaregular) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: helveticaneue-light;
	src: url(fonts/helveticaneue-light.eot?#iefix) format("embedded-opentype"), url(fonts/helveticaneue-light.woff) format("woff"), url(fonts/helveticaneue-light.ttf) format("truetype"), url(fonts/helveticaneue-light.svg#helveticaneue-light) format("svg");
	font-weight: 400;
	font-style: normal;
}
body {
	margin: 0px; padding: 0px;
}
.clear {
	clear: both;
}
.space {
	padding: 30px 0px 0px; width: 100%; clear: both; float: left;
}
.like_txt {
	margin: 30px 0px 0px; padding: 0px; text-align: center; color: rgb(18, 162, 82); line-height: 20px; font-family: helveticaregular; font-size: 20px;
}
.like_txt a {
	color: rgb(18, 162, 82);
}
.sfsibeforpstwpr iframe {
	max-width: none;
}
.sfsiaftrpstwpr iframe {
	max-width: none;
}
.sfwp_fivestar_ul li {
	padding-right: 20px; display: block;
}
.shwthmbfraftr {
	margin-top: 5px !important;
}
label.toglpstpgsbttl {
	margin-top: 5px !important; float: left;
}
.tab_3_icns.shwthmbfraftr .cstmdisplaysharingtxt {
	float: left;
}
.tab6 ul.enough_waffling.sfsi_dsplyatend {
	width: 24%; float: left;
}
.tab4 ul.like_icon {
	list-style: none; margin: 0px; padding: 20px 0px 0px; text-align: center;
}
.tab4 ul.like_icon li {
	list-style: none; margin: 0px; padding: 0px; display: inline-block;
}
.tab4 ul.like_icon li span {
	background: url("../images/count_bg.png") no-repeat; margin: 0px; padding: 10px 2px 2px; width: 54px; height: 24px; text-align: center; color: rgb(90, 101, 112); line-height: 24px; overflow: hidden; font-size: 17px; display: block;
}
.tab4 ul.like_icon li a {
	color: rgb(90, 101, 112); text-decoration: none;
}
.tab4 ul.enough_waffling {
	list-style: none; margin: 0px; padding: 25px 0px 27px; text-align: center;
}
.tab4 ul.enough_waffling li {
	list-style: none; margin: 0px 22px; padding: 0px; display: inline-block;
}
.tab4 ul.enough_waffling li span {
	float: left;
}
.tab4 ul.enough_waffling li label {
	margin: 0px 0px 0px 20px; text-align: center; color: rgb(90, 101, 112); line-height: 38px; font-family: helveticaregular; font-size: 18px; font-weight: 400; float: left;
}
.sfsi_mainContainer .checkbox {
	background: url("../images/check_bg.jpg") no-repeat; width: 31px; height: 31px; display: inherit;
}
.sfsi_mainContainer .radio {
	background: url("../images/radio_bg.png") no-repeat; width: 40px; height: 40px; display: inherit;
}
.sfsi_mainContainer .select {
	background: url("../images/select_bg.jpg") no-repeat; width: 127px; height: 47px; line-height: 49px; padding-left: 16px; font-size: 17px; display: block;
}
.sfsi_mainContainer .line {
	background: rgb(234, 235, 238); margin: 15px 0px 0px; width: 100%; height: 1px; clear: both; font-size: 0px; float: left;
}
.specify_counts {
	width: 100%; padding-top: 15px; clear: both; margin-top: 15px; border-top-color: rgb(234, 235, 238); border-top-width: 1px; border-top-style: solid; float: left; display: block;
}
.specify_counts .radio_section {
	margin: 12px 10px 0px 0px; width: 30px; float: left;
}
.specify_counts .social_icon_like {
	margin: 0px 15px 0px 0px; width: 54px; float: left;
}
.specify_counts .social_icon_like ul {
	list-style: none; margin: 0px; padding: 0px; text-align: center;
}
.specify_counts .social_icon_like li {
	list-style: none; margin: 0px; padding: 0px; display: inline-block;
}
.specify_counts .social_icon_like li span {
	background: url("../images/count_bg.jpg") no-repeat; margin: 0px; padding: 10px 2px 2px; width: 54px; height: 24px; text-align: center; color: rgb(90, 101, 112); line-height: 24px; overflow: hidden; font-family: helveticaregular; font-size: 16px; display: block;
}
.specify_counts .social_icon_like li a {
	color: rgb(90, 101, 112); text-decoration: none;
}
.specify_counts .listing {
	width: 88%; margin-top: -5px; float: left; display: inherit;
}
.specify_counts .listing ul {
	list-style: none; margin: 0px; padding: 0px; text-align: left;
}
.specify_counts .listing li {
	list-style: none; margin: 15px 0px 0px; padding: 0px; line-height: 39px; clear: both; font-size: 17px;
}
.specify_counts .listing li span {
	margin-right: 20px; float: left;
}
.specify_counts .listing li .input {
	background: rgb(229, 229, 229); padding: 10px; border: 0px currentColor; border-image: none; margin-left: 25px; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.specify_counts .listing li .input_facebook {
	background: rgb(229, 229, 229); padding: 10px; border: 0px currentColor; border-image: none; width: 288px; margin-left: 16px; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.save_button {
	margin: auto; width: 450px; padding-top: 30px; clear: both;
}
.save_button a {
	background: rgb(18, 162, 82); padding: 11px 0px; text-align: center; color: rgb(255, 255, 255) !important; font-size: 23px; text-decoration: none; display: block;
}
.save_button a:hover {
	background: rgb(7, 147, 69);
}
.tab5 ul.share_icon_order {
	list-style: none; margin: 0px; padding: 0px; text-align: left;
}
.tab5 ul.share_icon_order li {
	list-style: none; margin: 22px 6px 0px 0px; padding: 0px; line-height: 37px; float: left;
}
.tab5 ul.share_icon_order li:last-child {
	margin: 22px 0px 0px 3px;
}
.tab5 .row {
	width: 100%; line-height: 42px; padding-top: 15px; clear: both; font-family: helveticaregular; margin-top: 25px; border-top-color: rgb(234, 235, 238); border-top-width: 1px; border-top-style: solid; float: left; display: block;
}
.tab5 .icons_size {
	position: relative;
}
.tab5 .icons_size span {
	line-height: 46px; font-size: 18px; font-weight: 400; margin-right: 18px; float: left; display: block;
}
.tab5 .icons_size span.last {
	margin-left: 55px;
}
.tab5 .icons_size input {
	background: rgb(229, 229, 229); padding: 13px 13px 12px; border: 0px currentColor; border-image: none; width: 73px; margin-right: 18px; float: left; display: block; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.tab5 .icons_size select.styled {
	left: 0px; width: 135px; height: 46px; line-height: 46px; position: absolute;
}
.tab5 .icons_size .field {
	margin-right: 20px; float: left; display: block; position: relative;
}
.tab5 .icons_size ins {
	font-size: 17px; font-weight: 400; text-decoration: none; margin-right: 25px; float: left;
}
.tab5 .icons_size ins.leave_empty {
	line-height: 23px;
}
.tab5 .icons_size {
	padding-top: 15px;
}
.tab5 ul.enough_waffling {
	list-style: none; margin: -5px 0px 0px; padding: 0px; text-align: center;
}
.tab5 .new_wind .row_onl ul.enough_waffling {
	list-style: none; margin: 20px 0px 0px; padding: 0px; width: 61%; height: 38px; text-align: center;
}
.tab5 ul.enough_waffling li {
	list-style: none; margin: 0px 22px; padding: 0px; float: left; display: inline-block;
}
.tab5 ul.enough_waffling li span {
	float: left;
}
.tab5 ul.enough_waffling li label {
	margin: 0px 0px 0px 20px; text-align: center; color: rgb(90, 101, 112); line-height: 38px; font-family: helveticaregular; font-size: 18px; font-weight: 400; float: left;
}
.sticking p {
	font-size: 18px !important; float: left;
}
.sticking p.list {
	width: 168px;
}
.sticking p.link {
	margin: 3px 0px 0px 12px; padding: 0px !important; float: left;
}
.sticking .float {
	font-size: 17px; margin-top: 3px; margin-left: 188px; float: left;
}
.sticking ul {
	list-style: none; margin: 0px; padding: 30px 0px 0px; float: left;
}
.sticking a {
	color: rgb(164, 169, 173);
}
.sticking p {
	line-height: 19px !important;
}
.sticking .field {
	margin-left: 20px; float: left; display: block; position: relative;
}
.sticking .field .select {
	background: url("../images/select_bg1.jpg") no-repeat; width: 206px; height: 47px; padding-left: 10px; display: block;
}
.sticking .field select.styled {
	left: 0px; top: 0px; width: 211px; height: 46px; line-height: 46px; position: absolute;
}
.mouseover_field {
	width: 455px; font-size: 18px; margin-top: 10px; float: left;
}
.mouseover_field label {
	width: 125px; float: left;
}
.mouseover_field input {
	background: rgb(229, 229, 229); padding: 10px; border: 0px currentColor; border-image: none; width: 256px; float: left; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.pop_up_box {
	background: rgb(255, 255, 255); margin: 200px auto; padding: 20px 25px 0px; width: 474px; color: rgb(90, 101, 112); font-family: helveticaregular; position: relative; min-height: 250px; box-shadow: 0px 0px 5px 3px #d8d8d8;
}
.pop_up_box h4 {
	margin: 0px; padding: 0px; text-align: center; color: rgb(90, 101, 112); line-height: 22px; font-size: 20px;
}
.pop_up_box_ex h4 {
	margin: 0px; padding: 0px; text-align: center; color: rgb(90, 101, 112); line-height: 22px; font-size: 20px;
}
.pop_up_box p {
	margin: 0px; padding: 25px 0px 0px; text-align: left; color: rgb(90, 101, 112); line-height: 28px; font-family: helveticaregular; font-size: 17px;
}
.pop_up_box_ex p {
	margin: 0px; padding: 25px 0px 0px; text-align: left; color: rgb(90, 101, 112); line-height: 28px; font-family: helveticaregular; font-size: 17px;
}
.sfsi_popupcntnr {
	width: 100%; float: left;
}
.sfsi_popupcntnr > h3 {
	width: 100%; color: rgb(0, 0, 0); font-weight: 700; margin-bottom: 5px; float: left;
}
ul.flwstep {
	width: 100%; float: left;
}
ul.flwstep > li {
	margin: 5px; color: rgb(0, 0, 0); font-size: 16px;
}
.upldbtn {
	width: 100%; text-align: center; float: left;
}
.upload_butt {
	padding: 5px 45px; border: currentColor; border-image: none; width: auto; color: rgb(255, 255, 255); font-weight: 700; margin-top: 10px; cursor: pointer; background-color: rgb(18, 162, 82);
}
.pop_up_box .button {
	background: rgb(18, 162, 82); text-align: center; color: rgb(90, 101, 112); line-height: 24px; font-size: 22px; margin-top: 32px; min-height: 80px; box-shadow: none;
}
.pop_up_box .button:hover {
	box-shadow: none !important;
}
.pop_up_box .button a.activate {
	padding: 0px;
}
.pop_up_box a {
	width: 100%; text-align: center; color: rgb(164, 169, 173); font-size: 20px; text-decoration: none; margin-top: 20px; display: inline-block;
}
.pop_up_box_ex a {
	width: 100%; text-align: center; color: rgb(164, 169, 173); font-size: 20px; text-decoration: none; margin-top: 20px; display: inline-block;
}
.pop_up_box .upload {
	width: 100%; height: 46px; text-align: left; margin-top: 15px; float: left;
}
.pop_up_box .upload label {
	width: 135px; text-align: left; line-height: 45px; font-family: helveticaregular; font-size: 18px; float: left;
}
.pop_up_box .upload input[type=text] {
	background: rgb(229, 229, 229); padding: 0px 10px; border: 0px currentColor; border-image: none; width: 248px; height: 44px; text-align: left; color: rgb(90, 101, 112); font-family: helveticaregular; font-size: 16px; float: left; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.pop_up_box .upload input.upload_butt {
	background: rgb(18, 162, 82); border: 0px currentColor; border-image: none; top: 71px; width: 100px; height: 45px; text-align: center; right: 32px; color: rgb(255, 255, 255); font-family: helveticaregular; font-size: 18px; position: absolute; box-shadow: 0px 0px 0px;
}
.pop_up_box .upload a {
	margin: 0px 0px 16px 140px; color: rgb(18, 162, 82); font-family: helveticaregular; font-size: 18px; text-decoration: underline;
}
.pop_up_box a:hover {
	color: rgb(164, 169, 173);
}
.pop_up_box_ex a:hover {
	color: rgb(164, 169, 173);
}
.inr_cont .fb_url {
	clear: both;
}
.inr_cont .fb_url .checkbox {
	float: left;
}
.inr_cont .fb_url input.add {
	float: left;
}
.inr_cont .fb_url label {
	float: left;
}
.inr_cont .fb_url lable {
	float: left;
}
.inr_cont .fb_url input.add {
	margin-left: 19px;
}
.inr_cont .fb_url .checkbox {
	margin: 6px 0px 0px;
}
.inr_cont .fb_url label {
	margin: 0px 0px 0px 15px; line-height: 41px; font-size: 18px;
}
.inr_cont textarea.add_txt {
	margin: 0px 0px 0px 19px !important; height: 60px; resize: none;
}
.tab2 .inr_cont textarea.add_txt {
	width: 382px !important; height: 90px; overflow: hidden;
}
.tab2 .inr_cont input.add {
	width: 417px;
}
.red_txt {
	text-align: center !important; color: rgb(239, 71, 69) !important; padding-top: 5px !important;
}
.tab2 .red_txt {
	text-align: center !important; color: rgb(239, 71, 69) !important; padding-top: 5px !important;
}
.green_txt {
	text-align: center !important; color: rgb(18, 162, 82) !important; padding-top: 5px !important;
}
.red_txt {
	text-align: center !important; color: rgb(248, 0, 0) !important; padding-top: 5px !important;
}
.linked_tab_2 .fb_url label {
	width: 32%;
}
.twt_tab_2 label {
	width: 18%;
}
.bdr_top {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.linked_tab_2 .fb_url input.link_dbl {
	margin-bottom: 6px;
}
.tab3 {
	overflow: hidden;
}
.tab3 .row {
	padding: 15px 0px; overflow: hidden; clear: both;
}
.tab3 ul.tab_3_list {
	margin: 4px 0px 11px; overflow: hidden;
}
ul.tab_3_list li {
	background: url("../images/tab_3_list_bg.jpg") no-repeat 13px 7px; padding: 0px 0px 0px 30px; color: rgb(119, 128, 136); font-family: helveticaregular; font-size: 17px; margin-bottom: 4px;
}
.tab5 ul.tab_3_list li {
	background: url("../images/tab_3_list_bg.jpg") no-repeat 13px 18px;
}
.tab3 .row h3 {
	margin: 0px 0px 20px; color: rgb(65, 73, 81); font-family: helveticabold; font-size: 20px;
}
ul.tab_3_icns {
	list-style: none; margin: 34px 0px 0px; overflow: hidden;
}
ul.tab_3_icns li {
	margin: 0px 0px 21px; width: 100%; float: left;
}
ul.tab_3_icns label {
	color: rgb(105, 115, 124); line-height: 42px; font-family: helveticaregular; font-size: 18px; float: left; min-width: 120px;
}
ul.tab_3_icns li .icns_tab_3 {
	float: left;
}
ul.tab_3_icns li .radio {
	float: left;
}
.tab3 .sub_row {
	margin: 35px 0px 0px 4%; width: 90%; float: left;
}
.tab3 .sub_row h4 {
	color: rgb(164, 169, 173) !important;
}
.tab3 .sub_row label {
	margin: 0px 20px; line-height: 36px; font-size: 18px; float: left;
}
.tab3 .sub_row p {
	overflow: hidden; padding-top: 18px !important; clear: both;
}
.sub_row .sub_sub_box p {
	padding-top: 18px !important;
}
.tab3 .sub_row .checkbox {
	margin-top: 4px; float: left;
}
.tab3 .sub_row .sub_sub_box {
	margin: 7px 0px 15px 10%; width: 80%; float: left;
}
.tab3 .sub_row input.smal_inpt {
	background: rgb(229, 229, 229); padding: 10px; border: 0px currentColor; border-image: none; width: 73px; float: left; box-shadow: inset 2px 2px 3px #dcdcdc;
}
.tab3 .sub_row .drop_lst {
	border: 1px solid rgb(214, 214, 214); border-image: none; width: 120px; color: rgb(90, 101, 112); font-size: 16px;
}
.tab3 .first_row {
	float: left;
}
.tab3 .first_row p {
	float: left;
}
.tab3 .first_row p .radio {
	float: left;
}
.tab3 .first_row p label {
	float: left;
}
.tab3 .first_row {
	width: 90%; float: left;
}
.tab3 .first_row p {
	padding: 0px !important;
}
.tab3 .first_row p label {
	margin: 0px 10px; line-height: 44px;
}
.tab3 .first_row p:last-child {
	margin-left: 27%;
}
.tab3 .tab_1_sav {
	margin: 10px auto 20px; padding-top: 20px !important;
}
.suc_msg {
	background: rgb(18, 162, 82); padding: 10px; text-align: left; color: rgb(255, 255, 255); font-size: 23px; text-decoration: none; display: none;
}
.error_msg {
	background: rgb(210, 43, 48); padding: 10px; text-align: left; color: rgb(255, 255, 255); font-size: 23px; text-decoration: none; display: none;
}
.fileUPInput {
	top: -43px; width: 100%; height: 42px; right: 0px; font-size: 5px; position: relative; z-index: 99; cursor: pointer; opacity: 0; -moz-opacity: 0;
}
.inputWrapper {
	width: 50px; height: 20px; overflow: hidden; position: relative; cursor: pointer;
}
.custom-txt {
	background: none !important; padding-left: 2px !important;
}
.custom-img {
	margin-left: 20px; float: left;
}
.loader-img {
	margin-left: -70px; float: left; display: none;
}
.pop-overlay {
	padding: 20px; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 10; backgound-color: #d3d3d3;
}
.fb-overlay {
	padding: 20px; left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: fixed; z-index: -1000; opacity: 0; backgound-color: #d3d3d3;
}
.inputError {
	border: 1px solid rgb(248, 0, 0) !important; border-image: none !important;
}
.sfsicloseBtn {
	top: 0px; right: 0px; position: absolute; cursor: pointer;
}
.top_arow {
	background: url("../images/top_aro.png") no-repeat; left: 38%; top: -29px; width: 33px; height: 29px; position: absolute; backgoround-color: #fff;
}
.sfsi_tool_tip_2 .top_arow .sfsi_inside {
	float: left;
}
.top_arow .sfsi_inside {
	float: left;
}
.sfsi_tool_tip_2 .tool_tip > img {
	margin-right: 4px; float: left; display: inline-block;
}
.tool_tip > img {
	margin-right: 4px; float: left; display: inline-block;
}
.norm_row {
	float: left; min-width: 25px;
}
.norm_row a {
	border: currentColor; border-image: none; float: left; display: inline-block; position: relative;
}
.sfsi_tool_tip_2 a {
	min-height: 0px !important;
}
.sfsi_widget {
	min-height: 55px;
}
.sfsi_widget a img {
	outline: 0px; box-shadow: none !important;
}
.sfsi_wicons {
	color: rgb(0, 0, 0); display: inline-block;
}
.sel-active {
	background-color: rgb(247, 148, 29);
}
.sfsi_outr_div .close {
	top: 18px; right: 18px; position: absolute;
}
.sfsi_outr_div h2 {
	margin: 0px 0px 9px; padding: 0px; text-align: center; color: rgb(119, 128, 136); font-family: helveticaregular; font-size: 26px; font-weight: 400;
}
.sfsi_outr_div ul li a {
	color: rgb(90, 101, 112); text-decoration: none;
}
.sfsi_outr_div ul li {
	list-style: none; margin: 0px; padding: 0px; float: none; display: inline-block;
}
.expanded-area {
	display: none;
}
.sfsi_wicons a {
	transition:0.2s ease-in-out; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out;
}
.scale {
	transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);
}
.scale-div {
	transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);
}
.sfsi_Sicons {
	float: left;
}
.sfsi_Sicons .sf_subscrbe {
	margin: 2px 3px 3px 0px; line-height: 20px;
}
.sfsi_Sicons .sf_fb {
	margin: 0px 4px 0px 5px; line-height: 20px;
}
.sfsi_Sicons .sf_google {
	margin: 0px 5px; line-height: 20px;
}
.sfsi_Sicons .sf_twiter {
	margin: 2px 7px 0px 4px; line-height: 17px;
}
.sfsi_Sicons .sf_addthis {
	margin: 2px 7px 0px 2px; line-height: 20px;
}
.sfsi_Sicons.left .sf_subscrbe {
	margin: 2px 8px 3px 0px;
}
.sfsi_Sicons.left .sf_fb {
	margin: 0px 8px 0px 0px;
}
.sfsi_Sicons.left .sf_google {
	margin: 0px 9px 0px 0px;
}
.sfsi_Sicons.left .sf_twiter {
	margin: 2px 7px 0px 0px;
}
.sfsi_Sicons.left .sf_addthis {
	margin: 2px 7px 0px 0px;
}
.sfsi_Sicons.right .sf_subscrbe {
	margin: 2px 0px 3px;
}
.sfsi_Sicons.right .sf_fb {
	margin: 0px 0px 0px 7px;
}
.sfsi_Sicons.right .sf_google {
	margin: 0px 0px 0px 7px;
}
.sfsi_Sicons.right .sf_twiter {
	margin: 2px 0px 0px 8px;
}
.sfsi_Sicons.right .sf_addthis {
	margin: 2px 0px 0px 6px;
}
.sfsi_Sicons .sf_subscrbe {
	width: 75px; position: relative;
}
.sfsi_Sicons .sf_twiter {
	width: 75px; position: relative;
}
.sfsi_Sicons .sf_twiter iframe {
	margin: 0px; height: 20px !important; overflow: visible !important;
}
.sfsi_Sicons .sf_twiter iframe #widget {
	overflow: visible !important;
}
.sfsi_Sicons .sf_subscrbe a {
	border: currentColor; border-image: none; width: auto; padding-top: 0px; float: left;
}
.sfsi_Sicons .sf_subscrbe a:focus {
	
}
.sfsi_Sicons .sf_subscrbe a img {
	width: 65px; height: 20px !important; float: left;
}
.sfsi_Sicons .sf_fb {
	width: 75px; position: relative;
}
.sfsi_Sicons .fb_iframe_widget {
	margin: 2px 0px 0px; width: 73px; float: left;
}
.sfsi_pop_up .button a:hover {
	color: rgb(255, 255, 255);
}
.sfsi_pop_up .button:hover {
	background: rgb(18, 162, 82); border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
ul.icn_listing li .right_info a {
	outline: 0px; font-family: helveticaregular;
}
.upload_pop_up .upload_butt {
	line-height: 27px; margin-left: 6px;
}
.sfsi_pop_up .addthis_toolbox {
	margin: 40px auto 0px; width: 80px;
}
a.addthis_button_compact {
	width: auto; margin-top: 0px;
}
.drop_lsts {
	left: 220px; top: -40px; position: relative;
}
.drop_lsts .styled {
	top: -42px; width: 127px; height: 33px;
}
.drop_lsts span {
	line-height: 50px;
}
.drag_drp {
	left: 11px; top: 38px; font-size: 17px; position: relative;
}
.listing ul li label {
	width: 224px; float: left;
}
.row_onl {
	width: 100%; float: left;
}
#sfsi_Show_popupOn_PageIDs option.sel-active {
	background: rgb(247, 148, 29);
}
.sfsi_inside div iframe {
	margin: 0px; float: left;
}
.sfsi_inside div #___plus_0 {
	height: 27px;
}
.sfsi_inside div #___plusone_0 {
	height: 27px;
}
.sfsi_outr_div li {
	float: left;
}
.sfsi_tool_tip_2 .sfsi_inside div {
	min-height: 0px;
}
#___plus_1 > iframe {
	height: 30px;
}
.main_contant h1 {
	margin: 0px 0px 19px;
}
.main_contant p {
	margin: 0px 0px 26px;
}
.main_contant p > a {
	color: rgb(26, 29, 32); text-decoration: underline;
}
.tab1 .gary_bg {
	background: rgb(241, 241, 241);
}
#accordion {
	margin-top: 25px;
}
.main_contant p > a {
	font-family: helveticabold;
}
.tab1 p span {
	font-family: helveticabold;
}
.wapper .ui-accordion-header-active {
	margin-top: 20px !important;
}
.wapper .tab2 {
	padding: 20px 33px 12px 34px !important;
}
.wapper .tab2 p {
	margin-bottom: 6px;
}
.tab2 .twt_tab_2 label {
	width: 175px;
}
.tab2 .twt_fld {
	margin: 16px 0px 23px; float: left;
}
.tab2 .twt_fld_2 {
	margin: 0px 0px 12px; float: left;
}
.tab2 .google_in {
	margin: 0px 0px 8px 94px; float: left;
}
.tab2 .google_in p.radio_section {
	padding-top: 8px !important;
}
.tab2 .google_in .fb_url input.add {
	width: 417px !important;
}
.tab2 .utube_inn {
	padding-bottom: 2px; float: left;
}
.tab2 .utube_inn label {
	max-width: 90%;
}
.tab2 .utube_inn label span {
	font-family: helveticabold;
}
.tab2 .inr_cont p > a {
	color: rgb(119, 128, 136); font-family: helveticabold; text-decoration: none;
}
.pinterest_section .inr_cont .pint_url {
	padding-top: 6px; clear: both; float: left;
}
.pinterest_section .inr_cont .add {
	width: 417px !important;
}
.linkedin_section .link_1 {
	width: 100%; float: left;
}
.linkedin_section .link_2 {
	width: 100%; float: left;
}
.linkedin_section .link_3 {
	width: 100%; float: left;
}
.linkedin_section .link_4 {
	width: 100%; float: left;
}
.linkedin_section .link_1 input.add {
	width: 417px;
}
.linkedin_section .link_2 input.add {
	width: 417px;
}
.linkedin_section .link_3 input.add {
	width: 417px;
}
.linkedin_section .link_4 input.add {
	width: 417px;
}
.linkedin_section .link_1 {
	margin-bottom: 7px;
}
.linkedin_section .link_2 {
	margin-bottom: 12px;
}
.linkedin_section .link_3 {
	margin-bottom: 13px;
}
.linkedin_section .link_4 {
	margin-bottom: 13px;
}
.tab2 .linkedin_section .link_4 {
	margin-bottom: 0px;
}
ul.tab_3_list li span {
	font-family: helveticabold;
}
.tab3 .Shuffle_auto {
	top: -93px; width: 80%; float: left; position: relative;
}
#accordion .tab4 h4 {
	color: rgb(65, 73, 81); font-size: 20px;
}
#accordion1 .tab4 h4 {
	color: rgb(65, 73, 81); font-size: 20px;
}
.specify_counts .listing li .input {
	width: 73px;
}
.sfsi_fbpgidwpr {
	width: 160px; color: rgb(0, 0, 0); font-size: 17px; font-weight: bold; float: left;
}
.sfsi_fbpgiddesc {
	padding: 4px 0px 0px 60px; width: 42%; color: rgb(136, 136, 136); font-size: 14px; font-weight: normal;
}
.specify_counts .listing li .input.mypginpt {
	width: 288px;
}
.tab3 .Shuffle_auto .sub_sub_box .tab_3_option {
	padding-top: 0px !important; margin-bottom: 10px !important;
}
.tab3 .sub_row {
	margin-top: 10px !important;
}
.tab4 {
	padding-top: 35px !important;
}
.tab4 .save_button {
	padding-top: 46px;
}
.tab5 {
	padding-top: 31px !important;
}
.tab6 {
	padding-top: 28px !important;
}
.tab7 {
	padding-top: 28px !important;
}
.tab5 .row_onl {
	margin-top: 15px;
}
.tab5 .sticking .link > a {
	color: rgb(164, 169, 173); text-decoration: underline;
}
.tab5 .mouse_txt h4 {
	margin-bottom: 8px !important;
}
.tab5 .save_button {
	padding-top: 54px;
}
.tab7 .like_pop_box h2 {
	text-align: center; color: rgb(65, 73, 81); font-family: helveticabold; font-size: 26px;
}
.tab1 ul.icn_listing li .right_info label:hover {
	text-decoration: none !important;
}
.tab1 ul.icn_listing li .right_info label.expanded-area {
	clear: both; margin-top: 14px; float: left;
}
.tab7 .space {
	margin-top: 14px;
}
.tab7 .pop_up_show label {
	font-family: helveticaregular !important;
}
.tab7 .save_button {
	padding-top: 78px;
}
.like_txt a {
	font-family: helveticaregular; text-decoration: none;
}
.bdr_btm_non {
	border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important;
}
.tab1 .tab_1_sav {
	padding-top: 13px;
}
#accordion .tab2 .facebook_section .inr_cont p.extra_sp {
	padding-top: 7px;
}
#accordion1 .tab2 .facebook_section .inr_cont p.extra_sp {
	padding-top: 7px;
}
.tab2 .custom_section {
	width: 100%;
}
.tab7 {
	padding-bottom: 40px !important;
}
.tab9 .save_button {
	padding-top: 40px;
}
.tab9 .save_button a {
	padding: 16px 0px;
}
.tab2 .twitter_section .twt_fld input.add {
	width: 464px !important;
}
.tab2 .twitter_section .twt_fld_2 textarea.add_txt {
	width: 464px !important;
}
.tab2 .utube_inn .fb_url label span {
	font-family: helveticaregular;
}
.tab1 label {
	cursor: default !important;
}
.tab2 label {
	cursor: default !important;
}
.tab3 label {
	cursor: default !important;
}
.tab4 label {
	cursor: default !important;
}
.tab5 label {
	cursor: default !important;
}
.tab6 label {
	cursor: default !important;
}
.tab7 label {
	cursor: default !important;
}
.tab8 label {
	cursor: default !important;
}
.tab5 .new_wind h4 {
	margin-bottom: 11px !important;
}
.pop_up_box .fb_2 span {
	height: 28px !important;
}
.pop_up_box .sfsi_tool_tip_2 .fbb .fb_1 a {
	margin-top: 0px;
}
.tab6 .social_icon_like1 ul li span {
	margin-top: -1px;
}
#sfpageLoad {
	background: url("../images/ajax-loader.gif") no-repeat 50% 50% rgb(249, 249, 249); left: 160px; top: 0px; width: 92%; height: 100%; position: fixed; z-index: 9999; opacity: 1;
}
.sfsi_tool_tip_2 {
	background: rgb(255, 255, 255); border-width: 1px 1px 4px; border-style: solid; border-color: rgb(231, 231, 231) rgb(231, 231, 231) rgb(229, 229, 229); margin: 0px 0px 0px -52px; padding: 5px 14px; border-image: none; width: 100px; float: left; display: block; position: absolute; z-index: 10000; box-shadow: 0px 0px 2px 1px #e7e7e7;
}
.tool_tip {
	background: rgb(255, 255, 255); border-width: 1px 1px 4px; border-style: solid; border-color: rgb(231, 231, 231) rgb(231, 231, 231) rgb(229, 229, 229); margin: 0px 0px 0px -52px; padding: 5px 14px; border-image: none; width: 100px; float: left; display: block; position: absolute; z-index: 10000; box-shadow: 0px 0px 2px 1px #e7e7e7;
}
.sfsi_tool_tip_2 {
	display: inline-table;
}
.inerCnt {
	outline: 0px;
}
.inerCnt:hover {
	outline: 0px;
}
.inerCnt > a {
	outline: 0px;
}
.inerCnt > a:hover {
	outline: 0px;
}
.widget-area .widget a {
	outline: 0px;
}
.sfsi_tool_tip_2_inr {
	left: 20%; bottom: 90%; opacity: 0;
}
.sfsi_tool_tip_2 .bot_arow {
	background: url("../images/bot_tip_icn.png") no-repeat; left: 50%; width: 15px; height: 21px; bottom: -21px; margin-left: -5px; position: absolute;
}
.sfsi_tool_tip_2 .top_big_arow {
	left: 50%; top: -21px; width: 15px; height: 21px; margin-right: -5px; position: absolute; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg);
}
.sfsi_tool_tip_2_inr .gpls_visit > a {
	margin-top: 0px;
}
.sfsi_tool_tip_2_inr .prints_visit_1 a {
	margin-top: 0px;
}
.sfsi_tool_tip_2_inr .utub_visit > a {
	margin-top: 0px;
}
.sfsi_tool_tip_2_inr .linkin_1 a {
	margin: 0px;
}
.sfsi_tool_tip_2_inr .linkin_2 a {
	margin: 0px;
}
.sfsi_tool_tip_2_inr .linkin_3 a {
	margin: 0px;
}
.sfsi_tool_tip_2_inr .linkin_4 a {
	margin: 0px;
}
.sfsi_tool_tip_2_inr .prints_visit a {
	margin: 0px;
}
.sfsiTlleftBig {
	left: 22%; bottom: 121%; margin-left: -54%;
}
.sfsiTlleft {
	left: 50%; bottom: 100%; margin-bottom: 2px; margin-left: -66px;
}
.sfsi_plc_btm {
	left: 50%; top: 100%; bottom: auto; margin-top: -6px; margin-bottom: auto; margin-left: -63px;
}
.inerCnt {
	width: 100%; float: left; position: relative; z-index: inherit !important;
}
.sfsi_wicons {
	padding-top: 5px; margin-bottom: 30px; position: relative;
}
.norm_row .bot_no {
	background: rgb(255, 255, 255); padding: 1px 0px; border-radius: 5px; border: 1px solid rgb(51, 51, 51); border-image: none; left: 50%; top: 100%; width: 40px; text-align: center; line-height: 12px !important; font-size: 12px !important; margin-top: 10px; margin-left: -20px; white-space: pre; position: absolute; z-index: 9; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.norm_row .bot_no::before {
	left: 50%; top: -10px; width: 15px; height: 9px; margin-left: -7.5px; position: absolute; content: url(images/count_top_arow.png);
}
.bot_no.sfsiSmBtn {
	font-size: 10px; margin-top: 4px;
}
.bot_no.sfsiSmBtn::before {
	top: -9px; margin-left: -8px;
}
.norm_row .cbtn_vsmall {
	left: -28%; top: 4px; font-size: 9px;
}
.norm_row .cbtn_vsmall::before {
	left: 31%; top: -9px; margin-left: -31%;
}
h2.optional {
	margin: 14px 0px 19px; color: rgb(90, 101, 112); font-family: helveticaregular; font-size: 25px;
}
.utube_tool_bdr .utub_visit {
	margin: 9px 0px 0px; height: 24px; float: none; display: inline-block;
}
.utube_tool_bdr .utub_2 {
	margin: 9px 0px 0px; width: 86px; height: 24px; float: none; display: inline-block;
}
.printst_tool_bdr {
	width: 79px;
}
.printst_tool_bdr .prints_visit {
	margin: 0px 0px 10px -22px;
}
.printst_tool_bdr .prints_visit_1 {
	margin: 0px 0px 0px -53px;
}
.fb_tool_bdr {
	width: 68px; height: auto;
}
.fb_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; overflow: hidden; float: left;
}
.fb_tool_bdr .sfsi_inside .icon1 {
	margin: 2px 0px; width: 62px; height: 28px; float: none; display: inline-block;
}
.fb_tool_bdr .sfsi_inside .icon2 {
	margin: 2px 0px; width: 49px; height: 20px; overflow: hidden; display: inline-block;
}
.fb_tool_bdr .sfsi_inside .icon3 {
	margin: 1px 0px 2px; width: 62px; height: 20px; float: none; display: inline-block;
}
.fb_tool_bdr .sfsi_inside .fb_1 {
	margin: 9px 0px 0px; height: 25px;
}
.fb_tool_bdr .sfsi_inside .fb_2 {
	margin: 9px 0px 0px; height: 25px;
}
.fb_tool_bdr .sfsi_inside .fb_3 {
	margin: 9px 0px 0px; height: 25px;
}
.printst_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; float: left;
}
.printst_tool_bdr .sfsi_inside .icon1 {
	margin: 2px 0px; width: 73px; height: 24px; float: none; display: inline-block;
}
.printst_tool_bdr .sfsi_inside .icon2 {
	margin: 2px 0px; width: auto; height: 20px; float: none; display: inline-block; max-width: 73px;
}
.printst_tool_bdr .sfsi_inside .prints_visit {
	margin: 9px 0px 0px; height: 20px; float: none; display: inline-block;
}
.printst_tool_bdr .sfsi_inside .prints_visit_1 {
	margin: 9px 0px 0px; height: 20px; float: none; display: inline-block;
}
.printst_tool_bdr {
	margin-left: -59px;
}
.fb_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.gpls_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.linkedin_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.linkedin_tool_bdr .sfsi_inside .icon4 > a > img {
	padding-top: 0px;
}
.printst_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.printst_tool_bdr .sfsi_inside .icon2 > a > img {
	padding-top: 0px;
}
.utube_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.gpls_tool_bdr {
	width: 76px;
}
.gpls_tool_bdr .sfsi_inside .icon1 > a > img {
	padding-top: 0px;
}
.gpls_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; float: left;
}
.gpls_tool_bdr .sfsi_inside .icon1 {
	margin: 2px 0px; width: 76px; height: 29px; float: none; display: inline-block;
}
.gpls_tool_bdr .sfsi_inside .icon2 {
	margin: 2px 0px 3px; width: 38px; height: 24px; float: none; display: inline-block;
}
.gpls_tool_bdr .sfsi_inside .icon3 {
	margin: 3px 0px 2px; width: 76px; height: 24px; float: none; display: inline-block;
}
.gpls_tool_bdr .sfsi_inside .gpls_visit {
	margin: 9px 0px 0px; height: 29px;
}
.gpls_tool_bdr .sfsi_inside .gtalk_2 {
	margin: 9px 0px 0px; height: 29px;
}
.gpls_tool_bdr .sfsi_inside .gtalk_3 {
	margin: 9px 0px 0px; height: 29px;
}
.fb_tool_bdr {
	left: 50%; bottom: 100%; margin-bottom: 2px;
}
.gpls_tool_bdr {
	left: 50%; bottom: 100%; margin-bottom: 2px;
}
.linkedin_tool_bdr {
	left: 50%; bottom: 100%; margin-bottom: 2px;
}
.printst_tool_bdr {
	left: 50%; bottom: 100%; margin-bottom: 2px;
}
.twt_tool_bdr {
	left: 50%; bottom: 100%; margin-bottom: 2px;
}
.twt_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; float: left;
}
.twt_tool_bdr .sfsi_inside .cstmicon1 {
	margin: 2px 0px !important; width: 62px; overflow: hidden; float: none; display: inline-block;
}
.twt_tool_bdr .sfsi_inside .cstmicon1 a img {
	float: left;
}
.twt_tool_bdr .sfsi_inside .icon1 {
	margin: -4px 0px 0px !important; width: 61px; height: 24px; overflow: hidden; float: none; display: inline-block;
}
.twt_tool_bdr .sfsi_inside .icon1 iframe {
	width: 61px !important;
}
.twt_tool_bdr .sfsi_inside .icon2 {
	margin: 2px 0px !important; width: 58px; height: 19px; float: none; display: inline-block;
}
.twt_tool_bdr .sfsi_inside .twt_1 {
	margin: 9px 0px 0px; width: 58px; height: 20px; overflow: hidden; float: none; display: inline-block;
}
.twt_tool_bdr .sfsi_inside .twt_1 iframe {
	width: 100% !important;
}
.twt_tool_bdr .sfsi_inside .twt_2 {
	margin: 9px 0px 0px; width: 58px; height: 20px; float: none; display: inline-block;
}
.utube_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; float: left;
}
.utube_tool_bdr .sfsi_inside .icon1 {
	margin: 5px 0px 0px; width: 96px; height: 24px; float: none; display: inline-block;
}
.utube_tool_bdr .sfsi_inside .icon2 {
	margin: 9px 0px 0px; width: 82px; height: 24px; float: none; display: inline-block; max-width: 96px;
}
.utube_tool_bdr {
	left: 50%; width: 93px; bottom: 100%; margin-bottom: 2px;
}
.linkedin_tool_bdr {
	width: 66px;
}
.linkedin_tool_bdr .sfsi_inside {
	width: 100%; text-align: center; float: left;
}
.linkedin_tool_bdr .sfsi_inside .icon1 {
	margin: 2px 0px; width: 100%; height: 20px; float: none; display: inline-block;
}
.linkedin_tool_bdr .sfsi_inside .icon2 {
	margin: 2px 0px; width: 100%; height: 20px; float: none; display: inline-block;
}
.linkedin_tool_bdr .sfsi_inside .icon3 {
	margin: 2px 0px; width: 100%; height: 20px; float: none; display: inline-block;
}
.linkedin_tool_bdr .sfsi_inside .icon4 {
	margin: 0px 0px 2px; width: 100%; height: 25px !important; float: none; display: inline-block;
}
.sfsi_FrntInner_chg .linkedin_tool_bdr .sfsi_inside .icon1 {
	margin: 7px 0px;
}
.sfsi_widget .linkedin_tool_bdr .sfsi_inside .icon4 {
	height: auto;
}
.sfsi_widget .gpls_tool_bdr .sfsi_inside .icon1 {
	height: auto;
}
.sfsi_widget .fb_tool_bdr .sfsi_inside .icon1 {
	height: auto;
}
.linkedin_tool_bdr .linkin_1 {
	margin: 9px 0px 0px !important; height: 20px; overflow: hidden; float: none; display: inline-block;
}
.linkedin_tool_bdr .linkin_2 {
	margin: 9px 0px 0px !important; height: 20px; overflow: hidden; float: none; display: inline-block;
}
.linkedin_tool_bdr .linkin_3 {
	margin: 9px 0px 0px !important; height: 20px; overflow: hidden; float: none; display: inline-block;
}
.linkedin_tool_bdr .linkin_4 {
	margin: 9px 0px 0px !important; height: 20px; overflow: hidden; float: none; display: inline-block;
}
.twt_tool_bdr {
	width: 62px; height: auto;
}
.twt_tool_bdr .sfsi_inside .icon1 > iframe {
	margin: 0px auto !important; width: 100%; float: none !important;
}
.twt_tool_bdr .sfsi_inside .icon1 > iframe #widget {
	text-align: center;
}
.sfsi_pop_up .button {
	padding: 0px; border: currentColor; border-image: none;
}
.pop_up_box .button a {
	margin: 0px; width: 482px; height: 80px; text-align: center; color: rgb(255, 255, 255); line-height: normal; font-family: helveticabold; font-size: 22px; text-decoration: none; vertical-align: middle; display: table-cell;
}
.tab3 ul.tab_3_icns li .radio {
	margin-top: 7px;
}
.tab3 ul.tab_3_icns li label {
	line-height: 50px !important; margin-left: 20px;
}
.sfsi_mainContainer input[type=email] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=number] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=password] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=search] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=tel] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=text] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer input[type=url] {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer select {
	color: rgb(90, 101, 112) !important;
}
.sfsi_mainContainer textarea {
	color: rgb(90, 101, 112) !important;
}
.adminTooltip {
	left: 142px; position: absolute;
}
.adPopWidth {
	min-height: 100px !important;
}
.main_contant p > a.lit_txt {
	color: rgb(65, 73, 81); font-family: helveticaregular;
}
.tab4 p > a {
	color: rgb(65, 73, 81); font-family: helveticaregular;
}
.tab1 ul.icn_listing li .custom-txt {
	margin-left: 5px;
}
.tab1 ul.icn_listing li .custom-img {
	margin-left: 18px;
}
.linkedin_section .link_4 > label.anthr_labl {
	height: 94px;
}
.tab3 .tab_3_sav {
	margin: -69px auto 20px; padding-top: 0px; position: relative; z-index: 9;
}
.mediam_txt {
	font-family: helveticabold;
}
.sfsiCtxt {
	color: rgb(90, 101, 112); line-height: 51px; padding-left: 19px; font-family: helveticaregular; font-size: 22px; float: left;
}
.customstep2-img {
	width: 51px; float: left;
}
.tab2 .row h2.custom {
	margin: 15px 0px 7px 21px; height: 52px; line-height: 51px; font-family: helveticaregular; font-size: 22px;
}
.custom-links p.cus_link label {
	margin-left: 0px;
}
.pop_up_box .sfsi_tool_tip_2 .fbb .fb_1 a > img:hover {
	opacity: 0.9;
}
.tab2 .rss_url_row .sfrsTxt {
	margin: 0px 0px 0px 4px; line-height: 41px; font-family: helveticaregular; font-size: 17px;
}
.tab2 .rss_url_row .sfrsTxt > strong {
	font-family: helveticaregular;
}
.tab2 .utube_inn p.extra_pp {
	margin: 0px 0px 0px 48px; width: 100%; float: left;
}
.tab2 .utube_inn p.extra_pp label {
	line-height: 41px; margin-right: 8px; float: left;
}
.sfsi_inside .icon2 .fb_iframe_widget span {
	width: 500px !important;
}
@media all and (max-width:767px)
{
.sfsi_inside .icon2 .fb_iframe_widget span {
	width: auto;
}
.sfsi_outr_div {
	top: 10%;
}
.sfsi_outr_div h2 {
	line-height: 28px; font-size: 22px !important;
}
.sfsi_wicons {
	padding-top: 0px;
}
}
.specify_counts .listing li .high_prb {
	height: 41px;
}
.sfsi_Sicons {
	position: relative;
}
.sfsi_Sicons .sf_fb {
	width: 75px; position: relative;
}
.sfsi_Sicons .fb_iframe_widget {
	margin: 2px 0px 0px; width: 73px; float: left;
}
.sfsi_Sicons .sf_fb .fb_iframe_widget > span {
	position: absolute;
}
.sfsi_Sicons .sf_addthis {
	position: relative;
}
.sfsi_Sicons .sf_google {
	position: relative;
}
.wrapper .sfsi_Sicons .sf_addthis {
	margin: 7px 0px 0px 4px !important;
}
.tab2 .utube_inn label {
	font-size: 18px;
}
.sfsi_plc_btm {
	padding: 5px 14px 9px;
}
.tab7 .field {
	margin-top: 7px;
}
.sfsi_outr_div ul li .cmcls img {
	margin-top: 0px !important;
}
.sfsi_outr_div ul li .inerCnt {
	float: left;
}
.sfsi_outr_div ul li .inerCnt .bot_no {
	background: rgb(255, 255, 255); padding: 1px 0px; border-radius: 5px; border: 1px solid rgb(51, 51, 51); border-image: none; left: 50%; width: 40px; text-align: center; line-height: 12px !important; font-size: 12px !important; margin-top: 6px; margin-left: -20px; display: block; white-space: pre; position: absolute; -ms-word-break: break-all; -ms-word-wrap: break-word; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.sfsi_outr_div ul li .inerCnt .bot_no::before {
	left: 50%; top: -10px; width: 15px; height: 9px; margin-left: -7.5px; position: absolute; content: url(images/count_top_arow.png);
}
.sfsi_outr_div {
	left: 50%; top: 20%; width: 100%; text-align: center; margin-left: -50%; float: none; display: block; position: fixed; z-index: -1; opacity: 0;
}
.sfsi_outr_div .sfsi_FrntInner_chg {
	background: rgb(255, 255, 255); margin: 20px; padding: 15px 17px 27px 18px; border: 1px solid rgb(237, 237, 237); border-image: none; display: inline-block; position: relative; box-shadow: 0px 0px 5px #ccc;
}
.sfsi_FrntInner_chg .sfsiclpupwpr {
	top: -10px; width: 25px; right: -10px; position: absolute; cursor: pointer;
}
.sfsi_FrntInner_chg .sfsiclpupwpr img {
	border: currentColor; border-image: none; width: auto; float: left;
}
.tab7 .like_pop_box {
	margin: 35px auto auto; width: 100%; text-align: center; position: relative;
}
.tab7 .like_pop_box .sfsi_Popinner {
	background: rgb(255, 255, 255); padding: 18px 20px; border: 1px solid rgb(237, 237, 237); border-image: none; display: inline-block; box-shadow: 0px 0px 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc;
}
.tab7 .like_pop_box .sfsi_Popinner h2 {
	margin: 0px 0px 23px; padding: 0px; text-align: center; color: rgb(65, 73, 81); font-family: helveticabold; font-size: 26px;
}
.tab7 .like_pop_box .sfsi_Popinner ul {
	list-style: none; margin: 0px; padding: 0px; text-align: center;
}
.tab7 .like_pop_box .sfsi_Popinner ul li {
	list-style: none; margin: 0px; padding: 0px; display: inline-block;
}
.tab7 .like_pop_box .sfsi_Popinner ul li span {
	background: url("../images/count_bg.png") no-repeat; margin: 0px; padding: 10px 2px 2px; width: 54px; height: 24px; text-align: center; color: rgb(90, 101, 112); line-height: 24px; overflow: hidden; font-family: helveticaregular; font-size: 16px; display: block;
}
.tab7 .like_pop_box .sfsi_Popinner ul li a {
	color: rgb(90, 101, 112); text-decoration: none;
}
.sfsi_outr_div .sfsi_FrntInner_chg .sfsi_wicons {
	margin-bottom: 0px;
}
.sfsi_outr_div ul {
	list-style: none; margin: 0px 0px 24px; padding: 0px; text-align: center;
}
a.sfsiColbtn {
	margin: -35px -30px 0px 0px; width: 100px; right: 0px; color: rgb(90, 101, 112) !important; font-family: helveticaregular; font-size: 14px; text-decoration: none; float: right; position: relative;
}
.tab3 a.sfsiColbtn {
	margin-top: -55px;
}
.sfsi_FrntInner_chg ul li:first-of-type .sfsi_wicons {
	margin-left: 0px !important;
}
ul.tab_3_icns li .trans_bg {
	background: rgb(0, 0, 0); padding-left: 3px;
}
.tab2 .instagram_section {
	padding-bottom: 20px;
}
h1.abt_titl {
	margin: 19% 0px 0px; text-align: center;
}
.sfcm.sfsi_wicon {
	padding: 0px; border: currentColor; border-image: none; width: 100%;
}
.fb_iframe_widget span {
	vertical-align: top !important;
}
.sfsi_outr_div .sfsi_FrntInner_chg ul {
	margin: 0px 0px 0px 3px;
}
.sfsi_outr_div .sfsi_FrntInner_chg ul li {
	margin: 0px 3px 0px 0px;
}
.sfcm.sfsi_wicon {
	margin: -1px; padding: 0px;
}
@media all and (max-width:480px) and (min-width:320px)
{
.sfsi_tool_tip_2 {
	padding: 5px 14px 0px;
}
.tool_tip {
	padding: 5px 14px 0px;
}
:last-child.sfsi_inside {
	clear: both; margin-bottom: 18px;
}
.sfsi_outr_div {
	top: 10%;
}
.sfsi_FrntInner_chg .sfsi_wicons {
	width: 31px !important; height: 31px !important;
}
.sfsi_FrntInner_chg .sfsi_wicons img {
	width: 100%;
}
.sfsi_Sicons .sf_fb {
	margin-bottom: 24px;
}
.sfsi_Sicons .sf_google {
	margin-bottom: 7px;
}
.sfsi_Sicons .sf_twiter {
	margin-bottom: 4px;
}
}
@media all and (max-width:320px)
{
.sfsi_tool_tip_2 {
	padding: 5px 14px 0px;
}
.tool_tip {
	padding: 5px 14px 0px;
}
:last-child.sfsi_inside {
	clear: both; margin-bottom: 18px;
}
.sfsi_FrntInner_chg .sfsi_wicons {
	width: 31px !important; height: 31px !important;
}
.sfsi_FrntInner_chg .sfsi_wicons img {
	width: 100%;
}
}
ul.SFSI_lsngfrm {
	width: 61%; float: left;
}
ul.SFSI_instructions {
	width: 39%; float: left;
}
ul.SFSI_instructions li {
	margin: 0px !important; padding: 0px 0px 0px 15px !important; width: 100%; line-height: 25px !important; font-size: 12px !important;
}
.cstmskin_popup {
	background: rgb(255, 255, 255); margin: 40px 0px auto; padding: 20px 25px; left: 35%; width: 500px; height: auto; color: rgb(90, 101, 112); font-family: helveticaregular; float: left; position: relative; box-shadow: 0px 0px 5px 3px #d8d8d8;
}
.cstomskins_wrpr {
	width: 100%; float: left;
}
.custskinmsg {
	width: 100%; font-size: 15px; margin-top: 10px; float: left;
}
.custskinmsg > ul {
	width: 100%; color: rgb(0, 0, 0); margin-top: 8px; float: left;
}
ul.cstmskin_iconlist {
	margin: 0px; padding: 11px 0px 40px 8px; width: 100%; float: left; max-width: 1000px;
}
.placethemanulywpr {
	max-width: 98% !important;
}
.cstmskin_iconlist > li {
	margin: 3px 0px; width: 100%; float: left;
}
.cstm_icnname {
	width: 30%; float: left;
}
.cstmskins_btn > img {
	margin-right: 25px; float: left;
}
.cstmskin_btn {
	margin: 0px 10px; padding: 3px 20px; width: auto; color: rgb(255, 255, 255); text-decoration: none; float: left; background-color: rgb(18, 162, 82);
}
.cstmskins_sbmt {
	width: 100%; text-align: center; margin-top: 15px; float: left;
}
.done_btn {
	padding: 3px 80px; width: auto; color: rgb(255, 255, 255); font-size: 18px; text-decoration: none; background-color: rgb(18, 162, 82);
}
.cstmskin_btn:hover {
	color: rgb(255, 255, 255);
}
.done_btn:hover {
	color: rgb(255, 255, 255);
}
.cstmskin_btn:focus {
	color: rgb(255, 255, 255);
}
.done_btn:focus {
	color: rgb(255, 255, 255);
}
.skswrpr {
	display: none;
}
.dlt_btn {
	display: none;
}
.cstmutbewpr {
	width: 100%; margin-top: 10px; float: left;
}
.cstmutbewpr ul.enough_waffling li {
	width: auto; margin-right: 20px; float: left;
}
.cstmutbewpr ul.enough_waffling li span {
	float: left;
}
.cstmutbewpr ul.enough_waffling li label {
	width: auto; margin-top: 10px; margin-left: 10px; float: left;
}
.cstmutbewpr .cstmutbtxtwpr {
	width: 100%; padding-top: 10px; float: left;
}
.cstmutbewpr .cstmutbtxtwpr .cstmutbchnlnmewpr {
	width: 100%; float: left; display: none;
}
#accordion .cstmutbewpr .cstmutbtxtwpr .cstmutbchnlnmewpr p {
	margin-left: 0px;
}
#accordion .cstmutbewpr .cstmutbtxtwpr .cstmutbchnlidwpr p {
	margin-left: 0px;
}
.cstmutbewpr .cstmutbtxtwpr .cstmutbchnlidwpr {
	width: 100%; float: left; display: none;
}
#accordion .cstmutbewpr .cstmutbtxtwpr .cstmutbchnlnmewpr p label {
	width: 120px;
}
#accordion .cstmutbewpr .cstmutbtxtwpr .cstmutbchnlidwpr p label {
	width: 120px;
}
.sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%; float: left;
}
.sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a.sficn {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%; float: left;
}
.sfsi_socialwpr {
	width: auto; vertical-align: middle; display: inline-block;
}
.sfsi_socialwpr .sf_fb {
	float: left;
}
.sfsi_socialwpr .sf_google {
	float: left; min-height: 20px; min-width: 35px; max-width: 62px;
}
.sf_google > div {
	float: left !important;
}
.sfsi_socialwpr .sf_addthis {
	float: left; min-height: 20px;
}
.sfsipyplfrm {
	width: 100%; margin-top: 10px; float: left;
}
.sfsipyplfrm input[type='submit'] {
	background: 0px 0px rgba(0, 0, 0, 0); margin: 0px; padding: 5px 10px; border: currentColor; border-image: none; color: rgb(0, 116, 162); font-weight: normal; text-decoration: underline; cursor: pointer;
}
.sfsipyplfrm input[type='submit']:hover {
	color: rgb(46, 162, 204);
}
.pop_up_box_ex {
	background: 0px 0px rgb(255, 255, 255); margin: 200px auto; padding: 20px 25px 0px; width: 290px; color: rgb(90, 101, 112); font-family: helveticaregular; position: relative; min-height: 150px; box-shadow: 0px 0px 5px 3px #d8d8d8;
}
.pop_up_box_ex {
	color: rgb(90, 101, 112); font-family: helveticaregular;
}
.cstmutbchnlidwpr .utbe_instruction {
	width: 100%; line-height: 22px; margin-top: 10px; float: left;
}
.cstmutbchnlnmewpr .utbe_instruction {
	width: 100%; line-height: 22px; margin-top: 10px; float: left;
}
.lnkdin_instruction {
	width: 100%; line-height: 22px; margin-top: 10px; float: left;
}
.fb_iframe_widget iframe {
	max-width: none;
}
.sfsi_mainContainer p.bldtxtmsg {
	width: 100%; text-align: center; font-size: 15px; font-weight: bold; margin-top: 12px; float: left;
}
.addthis_toolbox a {
	border: currentColor !important; border-image: none !important; float: left;
}
.sfsinewplgndesc {
	background: 0px 0px rgb(229, 229, 229); padding: 5px 10px 8px; margin-top: 25px; float: left;
}
.sfsinewplgndesc > .clear > a {
	color: rgb(90, 101, 112); font-weight: bold;
}
.sfsiicnsdvwrp {
	width: 110px; float: left;
}
.sfsi_Sicons .sf_subscrbe .bot_no {
	background: url("images/count_left_arow.png") no-repeat 0px 0px / 27px auto rgba(0, 0, 0, 0); padding: 1px 0px; left: 67px; top: -8px; width: 33px; height: 20px; text-align: center; line-height: 18px !important; font-size: 12px !important; margin-top: 8px; margin-left: 0px; white-space: pre; position: absolute; z-index: 9;
}
.sfsi_wicons a.sficn {
	border: currentColor; border-image: none; box-shadow: none;
}
.sfsi_wicons .sfsi_inside a {
	border: currentColor; border-image: none; box-shadow: none;
}
.sfsi_Sicons div a {
	border: currentColor; border-image: none; box-shadow: none;
}
.sfsi_Sicons .sf_pinit > span {
	height: 20px !important;
}
.sfsi_Sicons .sf_pinit > span > span {
	width: 38px !important; right: -45px !important;
}
.sfsi_wicons a {
	box-shadow: none !important;
}
