@import url( stylesheets/base.css );
.ten_hide {
	display: none;
}
body {
	font-family: ¸¼Àº°íµñ, "Nanum Gothic",µ¸¿ò, sans-serif;
}
body.fixed {
	background: rgb(245, 245, 245);
}
h1 {
	color: rgb(70, 77, 93);
}
h2 {
	color: rgb(70, 77, 93);
}
h3 {
	color: rgb(70, 77, 93);
}
h4 {
	color: rgb(70, 77, 93);
}
h5 {
	color: rgb(70, 77, 93);
}
h6 {
	color: rgb(70, 77, 93);
}
#wrapper {
	background: rgb(255, 255, 255); position: relative; box-shadow: 0px 2px 5px #ddd; -webkit-box-shadow: 0 2px 5px #ddd; -moz-box-shadow: 0 2px 5px #ddd;
}
body.fixed #wrapper {
	padding: 0px; width: 1005px; margin-right: auto; margin-left: auto;
}
#main {
	padding: 20px 0px 35px;
}
#content-wrapper {
	
}
#sidebar-wrapper {
	margin: 0px 0px 0px -16px; padding-right: 0px; padding-left: 29px; border-left-color: rgb(238, 238, 238); border-left-width: 1px; border-left-style: solid; float: left;
}
#content {
	padding-right: 28px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.layout-left-sidebar#content-wrapper {
	float: right;
}
.layout-left-sidebar#sidebar-wrapper {
	margin: 0px -16px 0px 0px; padding: 0px 29px 0px 0px; border-right-color: rgb(238, 238, 238); border-left-color: currentColor; border-right-width: 1px; border-left-width: medium; border-right-style: solid; border-left-style: none; float: right;
}
.layout-left-sidebar#content-wrapper #content {
	padding: 0px 0px 0px 30px; border-right-color: currentColor; border-left-color: rgb(238, 238, 238); border-right-width: medium; border-left-width: 1px; border-right-style: none; border-left-style: solid;
}
.layout-fullwidth#content-wrapper #content {
	padding: 0px; border: currentColor; border-image: none;
}
#header {
	padding: 15px 0px;
}
#logo {
	padding-bottom: 5px; margin-top: 25px;
}
#logo h1#site-title {
	margin: 0px;
}
#logo h2#site-description {
	margin: 5px 0px 0px; color: rgb(157, 157, 157); line-height: 18px; font-size: 10px; font-weight: bold; display: none;
}
#top-banner {
	background: rgb(255, 255, 255); padding-left: 0px;
}
#top-banner-tablet {
	display: none;
}
#menu {
	background-image: -ms-linear-gradient(bottom, rgb(50, 53, 62), rgb(63, 67, 76)); background-color: rgb(50, 53, 62);
}
#menu ul {
	list-style: none; margin: 0px; padding: 0px;
}
#menu > ul > li > a {
	padding: 15px; color: rgb(255, 255, 255); letter-spacing: 0px !important; font-size: 12px; font-weight: bold; text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}
#menu > ul > li > a:hover {
	background: rgb(238, 35, 117); color: rgb(255, 255, 255);
}
#menu > ul > li.active > a {
	background: rgb(238, 35, 117); color: rgb(255, 255, 255);
}
#menu > ul > li.sfHover > a {
	background: rgb(238, 35, 117); color: rgb(255, 255, 255);
}
#menu ul li a span.sf-sub-indicator {
	line-height: 0.5em; font-size: 11px; margin-left: 5px;
}
#menu ul li:hover ul {
	top: 45px;
}
#menu ul li.sfHover ul {
	top: 45px;
}
#menu ul li ul {
	background: rgb(255, 255, 255); padding: 5px 20px; box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
#menu ul li ul li a {
	padding: 10px 0px; color: rgb(85, 85, 85); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
#menu ul li ul li a:hover {
	color: rgb(72, 174, 222);
}
#menu ul li ul li:last-child > a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#menu ul li li:hover ul {
	left: 161px; top: 0px;
}
#menu ul li li.sfHover ul {
	left: 161px; top: 0px;
}
#menu ul li li a span.sf-sub-indicator {
	color: rgb(153, 153, 153); line-height: 0.5em; font-size: 10px; margin-top: 4px; margin-left: 0px; float: right;
}
#newsticker {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
#newsticker .label {
	margin: 13px 20px 0px 0px; padding-right: 20px; font-size: 16px; font-weight: bold; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left;
}
#newsticker .ticker-container {
	margin: 0px; padding: 0px; height: 48px; overflow: hidden; position: relative;
}
#newsticker .ticker-container-mask {
	padding: 14px 0px; overflow: hidden;
}
#newsticker ul#ticker {
	list-style: none; margin: 0px; padding: 0px; width: 9999em; height: 20px; overflow: hidden; position: relative;
}
#newsticker ul#ticker li {
	margin: 0px 20px 0px 0px; padding: 0px; float: left;
}
#newsticker ul#ticker li a {
	padding: 0px; white-space: nowrap;
}
#newsticker ul#ticker li a:hover {
	text-decoration: none;
}
#newsticker ul#ticker li a strong {
	font-size: 12px; margin-right: 5px;
}
.entry-thumb {
	position: relative;
}
.entry-title a {
	color: rgb(70, 77, 93);
}
.entry-title a:hover {
	color: rgb(238, 35, 117); text-decoration: none;
}
.entry-meta {
	color: rgb(153, 153, 153); margin-bottom: 5px;
}
.comment-bubble {
	right: 0px; bottom: 0px; position: absolute; z-index: 100;
}
.comment-bubble a {
	background: rgb(238, 35, 117); padding: 2px 9px; color: rgb(255, 255, 255); font-size: 12px; display: block;
}
.comment-bubble a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.comment-bubble .arrow {
	left: 50%; width: 0px; height: 0px; bottom: -6px; margin-left: -6px; border-right-color: transparent; border-bottom-color: transparent; border-left-color: rgb(238, 35, 117); border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute;
}
a.format-icon {
	background: rgb(0, 0, 0); border-radius: 4px; left: 50%; top: 50%; width: 48px; height: 48px; text-align: center; color: rgb(255, 255, 255); line-height: 48px; font-size: 22px; margin-top: -24px; margin-left: -24px; display: block; position: absolute; opacity: 0.65;
}
a.format-icon:hover {
	color: rgb(255, 255, 255); text-decoration: none; opacity: 1;
}
.ratings {
	display: inline-block;
}
.ratings .icon-star {
	color: rgb(153, 153, 153); font-size: 13px; text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.ratings .icon-star-empty {
	color: rgb(153, 153, 153); font-size: 13px; text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.ratings .icon-star {
	color: rgb(255, 153, 0);
}
.entry {
	margin-bottom: 30px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry .entry-thumb {
	width: 186px; margin-bottom: 30px; float: left;
}
.entry .entry-header {
	margin-left: 213px;
}
.entry .entry-excerpt {
	margin-left: 213px;
}
.entry .entry-footer {
	margin-left: 213px;
}
.entry.no-thumb .entry-header {
	margin-left: 0px;
}
.entry.no-thumb .entry-excerpt {
	margin-left: 0px;
}
.entry.no-thumb .entry-footer {
	margin-left: 0px;
}
.entry.no-thumb .entry-header {
	margin-left: 0px;
}
.entry.no-thumb .entry-excerpt {
	margin-left: 0px;
}
.entry.no-thumb .entry-footer {
	margin-left: 0px;
}
.entry .entry-meta .ratings {
	width: 70px; margin-left: 5px;
}
.entry .entry-meta .ratings i {
	margin-right: 2px;
}
.entry-grid {
	margin-bottom: 20px;
}
.entry-grid .entry-thumb {
	margin-bottom: 15px;
}
.entry-grid .entry-title {
	line-height: 21px; font-size: 14px;
}
.entry-grid .entry-excerpt {
	text-align: justify; margin-bottom: 15px;
}
.entry-grid .entry-excerpt p {
	margin-bottom: 0px;
}
.entry-grid .entry-meta .ratings {
	width: 70px; margin-left: 5px;
}
.entry-grid .entry-meta .ratings i {
	margin-right: 1px;
}
.photo-grid {
	height: 200px; margin-bottom: 30px;
}
.photo-grid .entry-thumb {
	margin-bottom: 5px;
}
.photo-grid .entry-title {
	line-height: 21px; font-size: 12px; font-weight: normal;
}
.photo-grid .entry-excerpt {
	margin-bottom: 15px;
}
.photo-grid .entry-excerpt p {
	margin-bottom: 0px;
}
.photo-grid .entry-meta .ratings {
	width: 70px; margin-left: 5px;
}
.photo-grid .entry-meta .ratings i {
	margin-right: 1px;
}
.single-entry {
	padding-bottom: 30px; margin-bottom: 20px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.single-entry .entry-header {
	margin-bottom: 20px;
}
.single-entry .entry-header .cats {
	font-size: 16px; font-weight: bold; margin-bottom: 8px;
}
.single-entry .entry-thumb {
	margin-bottom: 30px;
}
.single-entry .entry-content {
	color: rgb(101, 101, 101); line-height: 1.8em; font-size: 16px;
}
.single-entry .entry-footer {
	padding: 20px 0px;
}
.single-page {
	
}
.single-page .entry-header {
	padding-bottom: 10px; margin-bottom: 30px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
#featured-posts {
	margin-bottom: 30px;
}
#featured-slider {
	margin-right: 213px;
}
#featured-slider .flex-caption {
	top: 0px; width: 193px; right: -213px; position: absolute;
}
#featured-slider .flex-caption p {
	margin-bottom: 10px;
}
#featured-slider .flex-caption .cats {
	font-size: 14px; font-weight: bold; margin-bottom: 10px;
}
#featured-slider .flex-caption .cats span {
	color: rgb(72, 174, 222);
}
#featured-posts .entry-title {
	line-height: 32px; letter-spacing: -1px; font-size: 21px !important; font-weight: bold;
}
#featured-slider ol.flex-control-nav {
	left: 15px; bottom: 10px; float: left; position: absolute;
}
.flexslider.module ol.flex-control-nav {
	top: -20px; text-align: center; position: relative;
}
.flexslider.module .flex-direction-nav a {
	top: 25%;
}
.flexslider.module li {
	overflow: hidden;
}
ol.flex-control-nav li {
	margin: 0px 5px;
}
ol.flex-control-paging li a {
	background: rgb(238, 238, 238); border-radius: 100%; width: 12px; height: 12px; -moz-border-radius: 100%; -webkit-border-radius: 100%;
}
ol.flex-control-paging li a:hover {
	background: rgb(238, 35, 117); border-radius: 100%;
}
ol.flex-control-paging li a.flex-active {
	background: rgb(238, 35, 117); border-radius: 100%; cursor: default;
}
.archive-header {
	margin-bottom: 30px;
}
.archive-header h1 {
	color: rgb(238, 35, 117);
}
.archive-header p {
	padding: 15px; background-color: rgb(243, 243, 243);
}
.author-info {
	padding-bottom: 15px; margin-bottom: 30px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
#author-box {
	padding: 0px; border: currentColor; border-image: none;
}
.author-avatar {
	margin-bottom: 15px; float: left;
}
.author-description {
	margin-left: 100px;
}
.author-description h2 {
	font-size: 16px; margin-bottom: 5px;
}
.author-description h2 a {
	color: rgb(70, 77, 93);
}
.author-description h2 a:hover {
	color: rgb(80, 80, 80); text-decoration: none;
}
#related-posts {
	margin-bottom: 30px;
}
#related-posts .entry-grid .comment-bubble {
	display: none;
}
#related-posts .entry-grid h2.entry-title {
	letter-spacing: 0px; font-size: 100%; font-weight: normal;
}
.post-navigation {
	margin-bottom: 30px;
}
.post-navigation span {
	margin-bottom: 5px; display: block;
}
.post-navigation i {
	font-size: 15px;
}
.post-navigation a {
	color: rgb(70, 77, 93); font-size: 12px; font-weight: bold;
}
.post-navigation a:hover {
	color: rgb(80, 80, 80); text-decoration: none;
}
.page-navigation {
	
}
.page-navigation a {
	color: rgb(70, 77, 93); line-height: 22px; font-size: 16px; font-weight: bold;
}
.page-navigation a:hover {
	color: rgb(80, 80, 80); text-decoration: none;
}
#content .wp-pagenavi {
	clear: both;
}
#content .wp-pagenavi a {
	margin: 2px; padding: 3px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(70, 77, 93) !important; font-weight: bold; text-decoration: none; display: inline-block;
}
#content .wp-pagenavi span {
	margin: 2px; padding: 3px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(70, 77, 93) !important; font-weight: bold; text-decoration: none; display: inline-block;
}
#content .wp-pagenavi a:hover {
	background: rgb(238, 35, 117) !important; border-color: rgb(238, 35, 117) !important; color: rgb(255, 255, 255) !important;
}
#content .wp-pagenavi span.current {
	background: rgb(238, 35, 117) !important; border-color: rgb(238, 35, 117) !important; color: rgb(255, 255, 255) !important;
}
#content .wp-pagenavi span.current {
	font-weight: bold;
}
#comments {
	margin-bottom: 20px;
}
h2#comments-title {
	margin-bottom: 30px;
}
ol.commentlist {
	list-style: none; margin: 0px; padding: 0px;
}
ul.children {
	list-style: none; margin: 0px; padding: 0px;
}
ol.commentlist {
	margin-bottom: 30px;
}
ol.commentlist li {
	list-style: none; margin: 0px 0px 0px 85px; padding: 0px;
}
ol.commentlist li li {
	margin-left: 73px;
}
ol.commentlist li > .comment {
	background: rgb(255, 255, 255); padding: 15px 0px; border: 1px solid rgb(238, 238, 238); border-image: none; margin-bottom: 20px; position: relative;
}
ol.commentlist li.bypostauthor > .comment {
	background: rgb(251, 251, 251);
}
ol.commentlist li > .comment span.triangle {
	border-width: 11px; border-style: solid; border-color: transparent rgb(238, 238, 238) transparent transparent; border-image: none; left: -11px; top: 30px; width: 0px; height: 0px; margin-left: -11px; display: block; position: absolute; content: " "; pointer-events: none;
}
ol.commentlist li > .comment span.triangle::before {
	border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; border-image: none; left: 1px; top: -10px; width: 0px; height: 0px; margin-left: -10px; display: block; position: absolute; content: " "; pointer-events: none;
}
ol.commentlist li.bypostauthor > .comment span.triangle::before {
	border-right-color: rgb(251, 251, 251);
}
ol.commentlist li li > .comment span.triangle {
	top: 18px;
}
ol.commentlist li .comment-meta {
	margin: 0px 15px 10px; color: rgb(68, 68, 68); padding-bottom: 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted;
}
ol.commentlist li .comment-meta .comment-awaiting-moderation {
	color: rgb(153, 153, 153); font-size: 11px; font-style: italic; font-weight: normal;
}
ol.commentlist li .comment-author {
	position: relative;
}
ol.commentlist li .comment-author img.avatar {
	margin-top: -15px; margin-left: -100px; position: absolute;
}
ol.commentlist li li .comment-author img.avatar {
	margin-left: -88px;
}
ol.commentlist li .comment-content {
	margin: 0px 15px;
}
ol.commentlist li .reply {
	margin: 0px 15px;
}
#respond {
	
}
h3#reply-title {
	
}
h3#reply-title small {
	text-transform: none; font-weight: normal; float: right;
}
form#commentform {
	
}
form#commentform p {
	margin-bottom: 15px; position: relative;
}
form#commentform p.form-allowed-tags {
	margin-bottom: 20px;
}
form#commentform p.comment-notes {
	margin-bottom: 20px;
}
form#commentform input[type='text'] {
	margin: 0px; width: 100%; clear: both;
}
form#commentform p.comment-form-author {
	width: 33.33%; padding-right: 15px; float: left;
}
form#commentform p.comment-form-email {
	width: 33.33%; padding-right: 15px; float: left;
}
form#commentform p.comment-form-url {
	width: 33.33%; padding-right: 15px; float: left;
}
form#commentform p.comment-form-url {
	padding-right: 0px;
}
form#commentform p.comment-form-comment {
	margin-bottom: 10px;
}
form#commentform textarea {
	margin: 0px; width: 100%;
}
form#commentform label {
	margin-bottom: 5px; display: block;
}
form#commentform span.required {
	color: rgb(255, 0, 0);
}
form#commentform .comment-form-author span.required {
	margin-left: 5px;
}
form#commentform .comment-form-email span.required {
	margin-left: 5px;
}
.heading {
	background: url("images/line.png") repeat-x left; padding: 0px; color: rgb(238, 35, 117); line-height: 22px; letter-spacing: 0px; font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; font-size: 12px; margin-bottom: 20px;
}
.heading span {
	background: rgb(255, 255, 255); padding: 0px 15px 0px 0px; margin-top: -20px; display: inline-block; position: relative;
}
.heading a {
	color: rgb(238, 35, 117);
}
.heading a:hover {
	color: rgb(238, 35, 117); text-decoration: none;
}
#content .heading {
	margin-bottom: 30px;
}
.widget {
	margin-bottom: 30px;
}
.widget ul {
	list-style: none; margin: 0px; padding: 0px;
}
.widget ul li {
	padding: 0px 0px 5px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed;
}
.widget ul li:last-child {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.entry-listing ul {
	list-style: none; margin: 0px; padding: 0px;
}
.entry-listing li {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed;
}
.widget .entry-listing li {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed;
}
.entry-listing li:last-child {
	margin: 0px; padding: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.entry-listing li .thumb {
	width: 70px; margin-right: 15px; float: left; position: relative;
}
.entry-listing li .thumb a.format-icon {
	border-radius: 2px; width: 24px; height: 24px; line-height: 24px; font-size: 12px; margin-top: -12px; margin-left: -12px;
}
.entry-listing li h5 {
	margin-left: 0px;
}
.entry-listing li .meta {
	margin-left: 0px;
}
.entry-listing li h5 {
	margin-bottom: 3px;
}
.entry-listing li h5 a {
	color: rgb(70, 77, 93);
}
.entry-listing li h5 a:hover {
	color: rgb(238, 35, 117); text-decoration: none;
}
.entry-listing li .meta {
	color: rgb(153, 153, 153); line-height: 100%; font-size: 90%;
}
.entry-listing li .meta .ratings {
	width: 70px; margin-left: 3px;
}
.entry-listing li .meta .ratings i {
	width: 14px;
}
.searchform {
	margin: 0px; position: relative;
}
.searchform input[type='text'] {
	padding: 8px 48px 8px 10px; width: 100%; height: 32px;
}
.searchform .search_btn {
	background: none; padding: 0px; border: currentColor; border-image: none; top: 0px; width: 38px; height: 38px; right: 0px; color: rgb(153, 153, 153); font-size: 14px; position: absolute; box-shadow: none; text-shadow: none;
}
.searchform .search_btn {
	border: 1px solid rgb(238, 238, 238); border-image: none; height: 32px; color: rgb(68, 68, 68); line-height: 0; vertical-align: middle; cursor: pointer; text-shadow: 0px 1px 0px rgba(255,255,255,0.5); background-image: -ms-linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234)); background-repeat: repeat-x; background-color: rgb(250, 250, 250);
}
.searchform .search_btn:hover {
	border-color: rgb(187, 187, 187); color: rgb(70, 77, 93); background-image: -ms-linear-gradient(rgb(250, 250, 250), rgb(229, 229, 229)); background-repeat: repeat-x; background-color: rgb(250, 250, 250);
}
.searchform .search_btn:active {
	border-color: rgb(187, 187, 187) rgb(204, 204, 204) rgb(204, 204, 204); color: rgb(70, 77, 93); background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(229, 229, 229)); background-repeat: repeat-x; background-color: rgb(229, 229, 229);
}
.social-counter ul li {
	margin: 0px 0px 10px; padding: 0px 0px 10px; width: 50%; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed; float: left;
}
.social-counter ul li:nth-last-child(-n+2) {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.social-counter ul li [class^='zocial-'] {
	margin-right: 15px;
}
.social-counter ul li [class*=' zocial-'] {
	margin-right: 15px;
}
.social-counter ul li strong {
	line-height: 100%; font-size: 18px; margin-bottom: 3px; display: block;
}
.social-counter ul li span {
	color: rgb(153, 153, 153); line-height: 100%; font-size: 12px; display: block;
}
.tagcloud a {
	background: rgb(255, 255, 255); margin: 0px 0px 2px; padding: 3px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(80, 80, 80); display: inline-block;
}
.tagcloud a:hover {
	border-color: rgb(72, 174, 222); color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(72, 174, 222);
}
.widget_calendar table th {
	background: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-image: none; text-align: center;
}
.widget_calendar table td {
	background: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-image: none; text-align: center;
}
.widget_calendar table thead th {
	background: rgb(238, 238, 238); border-color: rgb(226, 226, 226);
}
.widget_calendar table td#today {
	border-color: rgb(72, 174, 222); color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(72, 174, 222);
}
.widget_calendar table td#today a {
	color: rgb(255, 255, 255);
}
.widget_calendar caption {
	background: rgb(70, 77, 93); padding: 8px 10px; color: rgb(255, 255, 255); font-size: 16px; font-weight: bold;
}
.widget_calendar #calendar_wrap table {
	margin-bottom: 0px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.widget_calendar table tfoot td a {
	color: rgb(80, 80, 80); font-weight: bold;
}
.widget_calendar table tfoot td a:hover {
	text-decoration: none;
}
#footer-widgets .widget_calendar table th {
	background: rgb(70, 70, 70); border: 1px solid rgb(70, 77, 93); border-image: none; color: rgb(204, 204, 204);
}
#footer-widgets .widget_calendar table td {
	background: rgb(70, 70, 70); border: 1px solid rgb(70, 77, 93); border-image: none; color: rgb(204, 204, 204);
}
#footer-widgets .widget_calendar table thead th {
	background: rgb(57, 57, 57); border-color: rgb(70, 77, 93);
}
#footer-widgets .widget_calendar caption {
	background: rgb(72, 174, 222);
}
#footer-widgets .widget_calendar table tfoot td a {
	color: rgb(80, 80, 80); font-weight: bold;
}
#footer-widgets .widget_calendar table td#today {
	border-color: rgb(72, 174, 222); color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(72, 174, 222);
}
#footer-widgets .widget_calendar table td#today a {
	color: rgb(255, 255, 255);
}
#footer-widgets .widget_calendar table tfoot td a {
	color: rgb(255, 255, 255);
}
.tweet ul {
	list-style: none; margin: 0px; padding: 0px;
}
.tweet ul li {
	margin: 0px 0px 12px; padding: 0px 0px 12px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed;
}
.tweet ul li:last-child {
	margin: 0px; padding: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tweet ul li .tweet_text {
	margin-bottom: 5px; display: inline-block; -ms-word-wrap: break-word;
}
.tweet ul li .tweet_time {
	color: rgb(153, 153, 153); font-size: 90%;
}
.tweet ul li .tweet_time a {
	color: rgb(153, 153, 153);
}
.flickr-photos ul {
	list-style: none; margin: 0px -4px 0px 0px; padding: 0px;
}
.dribbble-shots ul {
	list-style: none; margin: 0px -4px 0px 0px; padding: 0px;
}
.flickr-photos ul li {
	margin: 0px 4px 4px 0px; padding: 0px; border: currentColor; border-image: none; width: 74px; height: 74px; float: left;
}
.dribbble-shots ul li {
	margin: 0px 4px 4px 0px; padding: 0px; border: currentColor; border-image: none; width: 74px; height: 74px; float: left;
}
.medium-rectangle-ad a {
	background: rgb(251, 251, 251); padding: 5px; display: block;
}
#footer-widgets {
	background: rgb(63, 68, 76); padding: 40px 0px 15px;
}
#footer-widgets a {
	color: rgb(204, 204, 204);
}
#footer-widgets a:hover {
	color: rgb(255, 255, 255);
}
#footer-widgets .widget .heading {
	color: rgb(255, 255, 255); background-image: url("images/line-footer.png");
}
#footer-widgets .widget .heading span {
	background-color: rgb(63, 68, 76);
}
#footer-widgets .widget {
	color: rgb(153, 153, 153);
}
#footer-widgets .tagcloud a {
	border-color: rgb(70, 77, 93); color: rgb(255, 255, 255); background-color: rgb(70, 77, 93);
}
#footer-widgets .tagcloud a:hover {
	border-color: rgb(238, 35, 117); background-color: rgb(238, 35, 117);
}
#footer-widgets .widget ul li {
	border-color: rgb(70, 70, 70);
}
#footer-widgets .entry-listing li {
	border-color: rgb(70, 70, 70);
}
#footer-widgets .tweet ul li {
	border-color: rgb(70, 70, 70);
}
#footer-widgets .tweet ul li .tweet_time a {
	color: rgb(102, 102, 102);
}
#footer {
	background: rgb(58, 61, 70); color: rgb(153, 153, 153);
}
#footer .container {
	padding: 20px 0px;
}
#footer a {
	color: rgb(204, 204, 204);
}
#footer a:hover {
	color: rgb(255, 255, 255);
}
#footer-menu {
	text-align: right;
}
#footer-menu ul {
	list-style: none; margin: 0px; padding: 0px;
}
#footer-menu li {
	margin: 0px 0px 0px 10px; display: inline-block;
}
div:empty.wp-caption {
	display: none;
}
.wp-caption {
	padding: 0px 0px 10px; color: rgb(146, 148, 151);
}
.wp-caption img {
	width: 100%; margin-bottom: 5px; display: block;
}
.wp-caption-text {
	margin: 0px; padding: 5px; text-align: left; line-height: 1.6em; font-size: 12px;
}
.gallery-caption {
	margin: 0px; padding: 5px; text-align: left; line-height: 1.6em; font-size: 12px;
}
.alignright {
	float: right;
}
.alignleft {
	margin-right: 10px; float: left;
}
.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
.sticky {
	
}
#content .gallery {
	margin-bottom: 0px;
}
#content .gallery .gallery-icon {
	margin: 0px; padding: 5px;
}
#content .gallery img {
	border: 1px solid rgb(255, 255, 255); border-image: none; width: 100%; display: block;
}
#content .gallery .gallery-item {
	margin: 0px; padding-bottom: 20px;
}
#contact-form {
	
}
#contact-form label {
	margin-bottom: 5px; display: block;
}
#contact-form .captcha {
	background: rgb(238, 238, 238); padding: 4px 10px; font-weight: bold; display: inline-block;
}
.review-box {
	margin: 0px 0px 20px; padding: 0px; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.review-box .left {
	padding: 20px; width: 50%;
}
.review-box .right {
	padding: 20px; width: 50%;
}
.review-box .left {
	border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.review-box h3 {
	margin-bottom: 10px;
}
ul.criterias {
	list-style: none; margin: 0px; padding: 0px;
}
ul.criterias li {
	margin: 0px 0px 10px;
}
ul.criterias li:last-child {
	margin-bottom: 8px;
}
ul.criterias .criteria-label {
	margin-bottom: 5px;
}
ul.criterias .criteria-scorebar {
	background: rgb(240, 240, 240); padding: 3px; border-radius: 3px; border: 1px solid rgb(224, 224, 224); border-image: none; position: relative; box-shadow: inset 0px 0px 3px #efefef; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
ul.criterias .criteria-scorebar .score-number {
	top: 2px; right: 10px; font-size: 11px; font-weight: bold; position: absolute;
}
ul.criterias .criteria-scorebar-value {
	background: rgb(72, 174, 222); padding: 2px; border-radius: 2px; border: 1px solid rgb(72, 174, 222); border-image: none; height: 18px; box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.1);
}
.average-score {
	padding-bottom: 15px; margin-bottom: 15px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.summary {
	
}
.average-score strong {
	line-height: 56px; font-size: 48px; display: block;
}
.average-score .ratings .icon-star {
	font-size: 17px; margin-right: 2px; text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.average-score .ratings .icon-star-empty {
	font-size: 17px; margin-right: 2px; text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
a[class^='zocial-'] {
	background: rgb(238, 238, 238); margin: 0px 4px 4px 0px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.3); border-image: none; width: 32px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; float: left; display: block; white-space: nowrap; position: relative; cursor: pointer; box-shadow: 0px 1px 3px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(225,225,225,0.3); text-shadow: 0px 1px 0px rgba(0,0,0,0.5); -moz-border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(225, 225, 225, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(225, 225, 225, 0.3); -webkit-border-radius: 2px; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
a[class*=' zocial-'] {
	background: rgb(238, 238, 238); margin: 0px 4px 4px 0px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.3); border-image: none; width: 32px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; float: left; display: block; white-space: nowrap; position: relative; cursor: pointer; box-shadow: 0px 1px 3px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(225,225,225,0.3); text-shadow: 0px 1px 0px rgba(0,0,0,0.5); -moz-border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(225, 225, 225, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(225, 225, 225, 0.3); -webkit-border-radius: 2px; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
a[class^='zocial-']:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
a[class*=' zocial-']:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.zocial-facebook {
	background-color: rgb(72, 99, 174);
}
a.zocial-googleplus {
	background-color: rgb(221, 75, 57);
}
a.zocial-twitter {
	background-color: rgb(0, 172, 238);
}
a.zocial-linkedin {
	background-color: rgb(0, 131, 168);
}
a.zocial-evernote {
	background-color: rgb(107, 177, 48);
}
a.zocial-skype {
	background-color: rgb(0, 162, 237);
}
a.zocial-stumbleupon {
	background-color: rgb(235, 73, 36);
}
a.zocial-forrst {
	background-color: rgb(30, 54, 13);
}
a.zocial-lastfm {
	background-color: rgb(220, 26, 35);
}
a.zocial-dribbble {
	background-color: rgb(234, 76, 137);
}
a.zocial-github {
	background-color: rgb(192, 192, 192);
}
a.zocial-pinterest {
	color: rgb(255, 255, 255); background-color: rgb(201, 22, 24);
}
a.zocial-itunes {
	background-color: rgb(239, 239, 235);
}
a.zocial-android {
	background-color: rgb(164, 198, 57);
}
a.zocial-yahoo {
	background-color: rgb(162, 0, 194);
}
a.zocial-vimeo {
	background-color: rgb(0, 162, 205);
}
a.zocial-tumblr {
	background-color: rgb(55, 74, 97);
}
a.zocial-aol {
	background-color: rgb(255, 0, 0);
}
a.zocial-youtube {
	background-color: rgb(216, 43, 23);
}
a.zocial-rss {
	background-color: rgb(255, 127, 37);
}
a.zocial-blogger {
	background-color: rgb(238, 90, 34);
}
a.zocial-myspace {
	background-color: rgb(0, 0, 0);
}
a.zocial-flickr {
	background-color: rgb(255, 0, 132);
}
a.zocial-delicious {
	background-color: rgb(50, 113, 203);
}
a.zocial-digg {
	background-color: rgb(22, 70, 115);
}
a.zocial-reddit {
	background-color: rgb(255, 255, 255);
}
a.zocial-instagram {
	background-color: rgb(63, 114, 155);
}
a.zocial-drupal {
	background-color: rgb(0, 119, 192);
}
a.zocial-ycombinator {
	background-color: rgb(255, 102, 0);
}
a.zocial-stackoverflow {
	background-color: rgb(255, 255, 255);
}
a.zocial-buffer {
	background-color: rgb(35, 35, 35);
}
a.zocial-soundcloud {
	background-color: rgb(255, 69, 0);
}
#footer-widgets .social-links a {
	border: 1px solid rgba(0, 0, 0, 0.6); border-image: none; color: rgb(255, 255, 255);
}
#footer-widgets .social-links a:hover {
	border: 1px solid rgba(0, 0, 0, 0.6); border-image: none; color: rgb(255, 255, 255);
}
a.zocial-github {
	color: rgb(70, 77, 93); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-github:hover {
	color: rgb(70, 77, 93); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-github {
	color: rgb(70, 77, 93); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-github:hover {
	color: rgb(70, 77, 93); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-itunes {
	color: rgb(26, 109, 210); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-itunes {
	color: rgb(26, 109, 210); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-itunes:hover {
	color: rgb(26, 109, 210); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-itunes:hover {
	color: rgb(26, 109, 210); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-reddit {
	color: rgb(255, 0, 0); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-reddit {
	color: rgb(255, 0, 0); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-reddit:hover {
	color: rgb(255, 0, 0); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-reddit:hover {
	color: rgb(255, 0, 0); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-stackoverflow {
	color: rgb(255, 122, 21); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-stackoverflow {
	color: rgb(255, 122, 21); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
a.zocial-stackoverflow:hover {
	color: rgb(255, 122, 21); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
#footer-widgets a.zocial-stackoverflow:hover {
	color: rgb(255, 122, 21); text-shadow: 0px 1px 0px rgba(225,225,225,0.5);
}
h3 {
	text-transform: uppercase !important;
}
#top_tool {
	padding: 3px 0px 0px; height: 28px; overflow: hidden; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 10;
}
#top_tool a {
	color: rgb(70, 77, 93);
}
#top_tool h3 {
	padding-right: 10px; padding-left: 20px; font-size: 12px; font-weight: bold; float: left;
}
#top_tool li {
	padding: 0px 5px 0px 8px; font-size: 11px; float: left; display: inline-block; position: relative;
}
.site_all {
	margin: 0px; float: left;
}
.login_all {
	margin-right: 20px; float: right;
}
.yarpp-related {
	padding-top: 20px; clear: both; font-size: 14px;
}
.ten_com {
	color: rgb(68, 68, 68);
}
#footer .grid.one-half {
	width: 100%;
}
#back-top {
	right: 10px; bottom: 5px; position: fixed; z-index: 100;
}
#back-top a {
	background: rgb(58, 61, 70); font: 10px/100% Arial, Helvetica, sans-serif; padding: 10px 0px 0px; transition:1s; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none; display: block; font-size-adjust: none; font-stretch: normal; -webkit-transition: 1s; -moz-transition: 1s;
}
#back-top a:hover {
	color: rgb(255, 255, 255); background-color: rgb(238, 35, 117);
}
.tptn_posts_daily li a {
	width: 300px;
}
.tptn_posts_daily li img {
	margin-right: 15px; float: left;
}
.tptn_posts_daily li br {
	clear: both;
}
#text-5 {
	background: none;
}
.discovery-post a.title {
	font-size: 14px !important;
}
.video_container {
	height: 0px; overflow: hidden; padding-top: 30px; padding-bottom: 56.25%; position: relative;
}
.video_container iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video_container object {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.video_container embed {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.tptn_posts_daily a {
	color: rgb(70, 77, 93); font-weight: bold;
}
.tptn_posts_daily a:hover {
	color: rgb(238, 35, 117); text-decoration: none;
}
#jp-carousel-comment-form-container {
	display: none !important;
}
#jp-carousel-comments-loading {
	display: none !important;
}
.jp-carousel-buttons {
	display: none !important;
}
.jp-carousel-image-meta {
	display: none !important;
}
div.sharedaddy div.sd-block {
	margin: 0px; padding: 10px 0px 5px; width: 100% !important; text-align: left !important; border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
div.sharedaddy .sd-content {
	margin: 0px !important; width: 100%; float: left !important;
}
.yarpp-related li {
	list-style: circle;
}
#main-posts1 .entry-title {
	letter-spacing: 0px; font-size: 12px;
}
#main-posts2 .entry-title {
	letter-spacing: 0px; font-size: 12px;
}
#main-posts3 .entry-title {
	letter-spacing: 0px; font-size: 12px;
}
#main-posts4 .entry-title {
	letter-spacing: 0px; font-size: 12px;
}
#snsdrama .entry-title {
	letter-spacing: 0px; font-size: 12px;
}
#shareUnderPost div {
	height: 21px; float: left;
}
.adfit-view {
	display: none;
}
.adfit-item {
	display: none;
}
.adfit-fitted {
	display: block;
}
