@charset "euc-kr";

.article_end_w {}
  .atend_top {position:relative;width:510px;padding-left:140px;padding-bottom:30px;border-bottom:1px solid #eaeaea;}
    .atend_top .md_ast_headtitle {left:0;top:0;}
    .atend_path_w {font-size:11px;color:#1a84c8;padding:15px 0 10px;}
      .atend_path {color:#1a84c8;font-weight:bold;}
    .atend_title {overflow:hidden;margin-bottom:7px;font-size:24px;color:#333;line-height:32px;}
      .atend_reporter {display:block;margin-top:29px;color:#666;font-size:11px;}
        .atend_today {padding-left:12px;font-weight:normal;}
        .atend_modify {font-weight:normal;}
        .atend_reporter .vertical_bar {position:relative;top:2px;display:inline-block;zoom:1;*display:inline;margin:0 10px;background-color:#666;.top:-4px;}
        .atend_sns {position:absolute;right:0;bottom:21px;overflow:hidden;width:111px;}
          [class^="atends_cont"] {float:left;padding-left:5px;}
            .atendsc_link {width:32px;height:32px;}
          .atends_cont_face .atendsc_link {background-position:0 0;}
          .atends_cont_twit .atendsc_link {background-position:-35px 0;}
          .atends_cont_kakao .atendsc_link {background-position:-70px 0;}
  .atend_center {margin-top:20px;}
    .atend_image_w {width:650px;margin-bottom:50px;}
      .atend_image {width:100%;}
    .atend_vod {width:650px;margin-bottom:30px;}
    .atend_center p {font-size:14px;line-height:2;}
	.atend_modify_bottom {font-size:11px!important;color:#666;}
  .atend_btm {position:relative;margin-top:70px;}
    .atend_btm_reporter {overflow:hidden;height:70px;}
      .atendrp_img_w {position:relative;float:left;width:70px;padding-right:20px;}
        .atendrp_img {width:100%;}
        .atendrp_img_w .mask {position:absolute;left:0;top:0;width:70px;height:70px;background-position:-140px -305px;}
      .atendrp_name_w {float:left;width:430px;height:40px;margin-top:15px;padding-left:10px;border-left:3px solid #d0d0d0;}
        .atendrp_name {font-size:14px;}
          .atendrp_rp {padding-left:5px;font-size:12px;font-weight:normal;}
        .atendrp_text {display:block;width:350px;margin-top:6px;font-size:11px;color:#666;}
          .atendrp_title {position:relative;top:6px;.top:0;overflow:hidden;display:inline-block;max-width:270px;padding-right:10px;text-overflow:ellipsis;white-space:nowrap;color:#1a84c8;font-weight:bold;}
            .atendrp_text .icn {display:inline-block;width:11px;height:13px;background-position:-160px -65px;}
    .atend_btm .atend_sns {bottom:102px;}
    .atend_copyright {width:100%;margin-top:30px;padding:15px 0 55px;border-top:2px solid #1a84c8;font-size:11px;color:#666;}
    .atend_btn {overflow:hidden;position:absolute;right:0;bottom:30px;}
      .atend_btn [class^="atend_btn"] {position:relative;float:left;margin-left:10px;padding-top:13px;padding-bottom:9px;border:1px solid #1a84c8;color:#1a84c8;font-size:11px;font-weight:bold;}
      .atend_btn_print {width:36px;padding-left:32px;}
        .atend_btn_print .icn {position:absolute;left:13px;top:13px;width:14px;height:12px;background-position:-175px -65px;}
      .atend_btn_up {width:39px;padding-left:29px;}
        .atend_btn_up .icn {position:absolute;left:14px;top:13px;width:10px;height:11px;background-position:-160px -95px;}
  .atend_ad_bnr {text-align:center;margin-top:10px;}
  .atend_etc {padding-bottom:40px;}
    .atend_corner, .atend_lbar_news, .atend_popular_news {position:relative;padding-top:14px;margin-top:40px;border-top:1px solid #eaeaea;}
	.atend_lbar_news, .atend_popular_news {margin-top:32px;}
      .atend_etc [class*="_lbar_list"] {margin-top:10px;.margin-top:15px;}
        .atend_etc [class*="_lbar_cont"] {margin-top:0px;font-size:14px;line-height:28px;height:auto;}
        .atend_etc [class*="_lbar_cont"]:first-child {font-weight:bold;}
      .atendc_more {position:absolute;right:0;top:14px;padding-right:15px;color:#777;font-size:11px;}
        .atendc_more .icn {position:absolute;right:0;top:1px;width:5px;height:9px;background-position:-60px -35px;}
  .atend_sns_comment {margin-top:40px;}

  /*rio banner*/
  .asd_rio_bn {display:block;margin-top:7px;}
/*ratio 0*/
  @media screen and (-webkit-min-device-pixel-ratio:0){
    .atendrp_title {top:3px;}
  }
