.h_icon {
	background: url("../../../../../custom/theme/www/t60/icon.png") no-repeat;
}
.header {
	margin: 0px; height: auto; overflow: hidden;
}
.h_top {
	margin: 0px auto; padding: 10px 30px 20px; width: 980px; height: auto; overflow: hidden; background-color: rgb(255, 255, 255);
}
.h_top1 {
	margin: 0px auto; height: 75px; overflow: hidden;
}
.h_top1 .ht_ul {
	
}
.h_top1 .ht_li {
	float: left;
}
.h_top1 .ht1 {
	padding: 17px 0px 0px; width: 270px; text-align: left;
}
.h_top1 .htc {
	width: 440px; text-align: center;
}
.h_top1 .ht2 {
	padding: 0px; width: 270px; text-align: right;
}
.h_top1 .ht1 .ht1_menu {
	background-position: 0px -400px; margin: 0px 12px 0px 0px; width: 28px; height: 24px; text-indent: -10000px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.h_top1 .ht1 .n_form {
	width: 60px; height: 24px; overflow: hidden; vertical-align: middle; display: inline-block; background-color: rgb(255, 255, 255);
}
.h_top1 .ht1 .n_form .n_search_box {
	display: none;
}
.h_top1 .ht1 .n_form .n_btn_submit {
	display: none;
}
.h_top1 .ht1 .n_form .n_btn_detail {
	display: none;
}
.h_top1 .ht1 .n_form.on {
	margin: -8px 0px 0px -40px; width: 270px; height: 40px; position: absolute;
}
.h_top1 .ht1 .n_form .ht2_search {
	background-position: -100px -400px; border: currentColor; border-image: none; width: 24px; height: 24px; line-height: 10em; overflow: hidden; vertical-align: middle; display: inline-block;
}
.h_top1 .ht1 .n_form .ht3_search {
	background-position: -100px -400px; border: currentColor; border-image: none; width: 24px; height: 24px; line-height: 10em; overflow: hidden; vertical-align: middle; display: inline-block;
}
.h_top1 .ht1 .n_form.on .n_btn_submit {
	background-position: -100px -400px; border: currentColor; border-image: none; width: 24px; height: 24px; line-height: 10em; overflow: hidden; vertical-align: middle; display: inline-block;
}
.h_top1 .ht1 .n_form .ht3_search {
	background-position: -400px -401px; margin-left: 0.5em;
}
.h_top1 .ht1 .n_form.on .ht2_search {
	background-position: -8px -208px;
}
.h_top1 .ht1 .n_form.on .n_search_box {
	display: inline-block; position: relative;
}
.h_top1 .ht1 .n_form.on .n_search_box .n_search_input_label {
	left: 15px; top: 12px; color: rgb(201, 201, 201); font-size: 12px; position: absolute;
}
.h_top1 .ht1 .n_form.on .n_search_input {
	border: 1px solid rgb(113, 168, 228); border-image: none; width: 200px; height: 40px; vertical-align: middle; box-sizing: border-box;
}
.h_top1 .ht1 .n_form.on .n_btn_detail {
	display: inline;
}
.h_top1 .ht2 .account_box {
	margin: 5px 20px 0px 0px; width: 60px; vertical-align: middle; display: inline-block;
}
.h_top1 .ht2.login .account_box {
	margin: -5px 0px 0px -80px; position: absolute;
}
.windows.msie .h_top1 .ht2.login .account_box {
	margin: -5px 0px 0px 80px;
}
.h_top1 .ht2 .htb_a {
	margin: 0px; color: rgb(0, 0, 0); letter-spacing: -0.04em; font-size: 13px; display: inline-block;
}
.h_top1 .ht2 .htb_a.rss {
	background-position: 0px -500px; width: 20px; height: 20px; line-height: 10em; overflow: hidden; vertical-align: middle;
}
.h_top2 {
	border-width: 1px 0px; border-style: solid; border-color: rgb(51, 51, 51) transparent rgb(153, 153, 153); margin: 0px; padding: 0px; height: 40px; text-align: center; overflow: hidden; background-color: rgb(255, 255, 255);
}
.h_top2 .ht2_a {
	font: bold 16px/2.5 nanum gothic; padding: 0px 1.5em; transition:background 0.3s; width: auto; height: 100%; color: rgb(51, 51, 51); text-decoration: none; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
.h_top2 .ht2_a:hover {
	color: rgb(237, 28, 36);
}
.menu {
	transition:width 0.15s; left: 0px; top: 0px; width: 0px; height: 100%; overflow: hidden; position: absolute; z-index: 10; background-color: rgb(221, 221, 221);
}
.menu .m_top {
	padding: 10px 20px; text-align: right; background-color: rgb(247, 247, 247);
}
.menu .m_top .mt_close {
	border: currentColor; border-image: none; width: 17px; height: 17px; text-indent: -10000px; overflow: hidden; display: inline-block;
}
.menu.on {
	width: 330px; overflow: visible;
}
.menu .nav {
	margin: 0px;
}
.menu .nav .n_li {
	height: auto; overflow: hidden;
}
.menu .nav .n_li.is_menu {
	width: 100%; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; display: table; background-color: rgb(247, 247, 247);
}
.menu .nav .n_li .n_a {
	padding: 14px 0px; text-align: center; line-height: 1em; overflow: hidden; font-family: Nanum Gothic,nanumgothic,malgun gothic; font-weight: bold; vertical-align: middle; display: table-cell; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.menu .nav .n_li .n_a.one {
	padding: 16px 0px; color: rgb(255, 255, 255); font-size: 18px; background-color: rgb(28, 21, 101);
}
.menu .nav .n_li .n_a.half {
	width: 50%; color: rgb(51, 51, 51); font-size: 15px; box-sizing: border-box;
}
.menu .nav .n_li .n_a.half.first {
	border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid;
}
.menu .nav .n_li .n_a .s {
	color: rgb(136, 136, 136); line-height: 1; font-family: inherit; font-size: 13px; text-decoration: none;
}
.menu .nav .n_li a.n_a:hover {
	color: rgb(255, 0, 8); text-decoration: none;
}
.menu .nav .n_li .n_a .s:hover {
	color: rgb(255, 0, 8); text-decoration: none;
}
.menu .vhr {
	border-width: 0px 0px 0px 5px; border-style: solid; border-color: rgb(0, 0, 0); margin: 0px; padding: 0px; top: 0px; width: 0px; height: 100%; right: -5px; overflow: hidden; position: absolute; opacity: 0.3;
}
.sns_box {
	text-align: center; margin-top: 10px; vertical-align: middle; display: inline-block;
}
.h_top1 .ht2.login .sns_box {
	margin-top: 25px;
}
.sns_box .sb_b {
	background: url("../../../../../../custom/theme/www/t60/sns-icons.png") 0% 0% / 20px 133px; margin: 0px; width: 20px; height: 20px; text-indent: -10000px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.sns_box .sb_b.sb_face {
	background-position: 0px 0px;
}
.sns_box .sb_b.sb_twitter {
	background-position: 0px -20px;
}
.sns_box .sb_b.sb_insta {
	background-position: 0px -40px;
}
.sns_box .sb_b.sb_story {
	background-position: 0px -60px;
}
.f_content {
	margin: 0px auto; padding: 0px 30px; width: 980px; background-color: rgb(24, 61, 101);
}
.f_top {
	margin: 0px -30px; padding: 11px 0px; text-align: center; word-spacing: 15px; border-bottom-color: rgb(103, 157, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.f_top .ft_a {
	font: 13px/normal Nanum Gothic, nanumgothic, malgun gothic; color: rgb(255, 255, 255) !important; font-size-adjust: none; font-stretch: normal;
}
.footer {
	margin: 0px;
}
.f_bottom {
	padding: 15px 0px 30px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.footer .fb_ul {
	height: auto; overflow: hidden;
}
.footer .fb_li {
	float: left;
}
.footer .fb_li.logo {
	margin: 0px 30px 0px 0px; padding: 10px 0px 0px; width: 650px; height: auto;
}
.footer .fb_li .info {
	font: 11px/1.7em Nanum Gothic, nanumgothic, malgun gothic; margin: 20px 0px 0px; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.footer .fb_li .info a {
	font: 13px/1.5em Nanum Gothic, nanumgothic, malgun gothic; color: rgb(255, 255, 255) !important; font-size-adjust: none; font-stretch: normal;
}
.footer .fb_li .info .vhr {
	margin: 0px 5px; padding: 0px; border: currentColor; border-image: none; width: 1px; height: 9px; overflow: hidden; vertical-align: middle; display: inline-block; background-color: rgb(99, 162, 232);
}
.footer .fb_li.etc {
	width: 300px; height: auto;
}
.footer .fb_li.etc .fb_t {
	font: bold 15px/1.2 Nanum Gothic, nanumgothic, malgun gothic; margin: 11px 0px 18px; padding: 0px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.footer .fb_li.etc .fb_list {
	margin: 7px 0px; padding: 0px 0px 7px;
}
.footer .fb_li.etc .fb_list .fbl_a {
	font: bold 13px/1.2 Nanum Gothic, nanumgothic, malgun gothic; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.float_header {
	transition:height 200ms ease-out; left: 0px; top: 0px; height: 0px; right: 0px; overflow: hidden; position: fixed; z-index: 99999999; min-width: 980px; box-shadow: 0px 0px 10px #777; background-color: rgb(255, 255, 255);
}
.float_header.on {
	height: 60px;
}
.float_header .icon {
	background: url("../../../../../../custom/theme/www/t60/article-icon-sns.png") no-repeat 0px 0px;
}
.float_header .fh_btn {
	margin: auto; top: 0px; width: 18px; height: 30px; bottom: 0px; text-indent: -10000px; overflow: hidden; display: inline-block; position: absolute;
}
.float_header .fh_btn.prev {
	background-position: -6px -215px; left: 25px;
}
.float_header .fh_btn.prev:hover {
	background-position: -106px -215px;
}
.float_header .fh_btn.next {
	background-position: -56px -215px; right: 25px;
}
.float_header .fh_btn.next:hover {
	background-position: -156px -215px;
}
.float_header .fh_box {
	margin: auto; left: 0px; top: 0px; width: 980px; height: 40px; right: 0px; bottom: 0px; position: absolute;
}
.float_header .fh_box li {
	float: left;
}
.float_header .fh_box .logo {
	width: 10%;
}
.float_header .fh_box .title {
	font: bold 17px/2.5 nanum gothic; width: 65%; text-align: center; color: rgb(39, 40, 41); overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; font-size-adjust: none; font-stretch: normal;
}
.float_header .fh_box .sns {
	padding: 5px 0px 0px; width: 25%; text-align: right;
}
.float_header .fh_box .sns .sa {
	margin: 0px 0px 0px 10px; height: 18px; line-height: 10em; overflow: hidden; vertical-align: middle; display: inline-block;
}
.float_header .fh_box .sns .sa.facebook {
	background-position: 0px -2px; width: 8px;
}
.float_header .fh_box .sns .sa.facebook:hover {
	background-position: 0px -22px;
}
.float_header .fh_box .sns .sa.twitter {
	background-position: -50px -2px; width: 17px;
}
.float_header .fh_box .sns .sa.twitter:hover {
	background-position: -50px -22px;
}
.float_header .fh_box .sns .sa.google {
	background-position: -100px -2px; width: 17px;
}
.float_header .fh_box .sns .sa.google:hover {
	background-position: -100px -22px;
}
.float_header .fh_box .sns .sa.kakao {
	background-position: -150px -2px; width: 8px;
}
.float_header .fh_box .sns .sa.kakao:hover {
	background-position: -150px -22px;
}
.float_header .fh_box .sns .sa.mail {
	background-position: -200px -2px; width: 19px;
}
.float_header .fh_box .sns .sa.mail:hover {
	background-position: -200px -22px;
}
.float_header .fh_box .sns .kakaotalk {
	padding: 5px 10px; border-radius: 20px; border: 1px solid rgb(246, 195, 6); border-image: none; vertical-align: middle; display: inline-block; background-color: rgb(255, 230, 13);
}
.float_header .fh_box .sns .kakaotalk .sk_i {
	background: url("../../../../../../custom/theme/www/t60/katalk.png") no-repeat 50% 50% / cover; width: 22px; height: 20px; line-height: 10em; overflow: hidden; vertical-align: middle; display: inline-block;
}
.float_header .fh_box .sns .kakaotalk .sk_t {
	font: 13px nanumgothic; margin: 0px 0px 0px 3px; color: rgb(22, 0, 25); vertical-align: middle; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
