@charset "utf-8";

/* 메인 레이아웃 */
.lo_2,
.lo_3{overflow:hidden;height:100%;}
.lo_2 .lo_2_1{float:left;width:650px;height:100%;}
.lo_2 .lo_2_2{float:right;width:300px;height:100%;}

.lo_3 .lo_3_1,
.lo_3 .lo_3_2{float:left;width:340px;height:100%;}
.lo_3 .lo_3_3{float:right;width:300px;height:100%;}
.lo_3 .edit_drag_disable{border-right:1px solid #f4f4f4}


.lo_2.half .lo_2_1,
.lo_2.half .lo_2_2{width:480px;}

.lo_3.third .lo_3_1,
.lo_3.third .lo_3_2,
.lo_3.third .lo_3_3{width:310px;}
.lo_3.third .lo_3_1{margin-right:25px}

.lo_3 .lo_3_3 .edit_drag_disable,
.lo_3.third .edit_drag_disable{border-right:none}


/* 중간bg */
.lo_bg{}
.lo_bg .lo_3_1,
.lo_bg .lo_3_2{height:380px;background-color:#205187/*3482d9*/}
.lo_bg .lo_3_1{width:339px;border-right:1px solid #88a8ca/*71a8e4*/}
.lo_bg .lo_3_3{height:380px;background-color:#c6c4d4/*231a53*/}



/* 하단 탭 */
.lo_tab{height:176px;}
.lo_tab .lot_1{float:left;width:130px;background-color:#205187;cursor:pointer;}
.lo_tab .lot_1 .li{position:relative;padding:35px 0;text-align:center;}
.lo_tab .lot_1 .li .lot_a{font-size:15px;color:#a1bfea}
.lo_tab .lot_1 .li.on .lot_a,
.lo_tab .lot_1 .li:hover .lot_a{color:#fff}
.lo_tab .lot_1 .li .arrow{display:none;position:absolute;top:0;bottom:0;right:-7px;margin:auto;width:7px;height:14px;background:url(../../../../custom/theme/www/t50/icon.png) no-repeat -100px -200px;}
.lo_tab .lot_1 .li.on .arrow,
.lo_tab .lot_1 .li:hover .arrow{display:inline-block;}

.lo_tab .lot_2{float:left;padding:19px 19px 19px 20px;width:850px;height:100%;border-style:solid;border-color:#e0e1e2;border-width:1px 1px 1px 0;}
.lo_tab .lot_2 .li{display:none}
.lo_tab .lot_2 .li.on{display:list-item;}


/* 
 2_1 line 서브페이지 레이아웃 - 기사면 + 기사 리스트면
 아래는 거의 수정할일 없음
*/
.lo_vertical_line_2_1{background:url(../../../../dot_d8dddf.gif) repeat-y 740px 0 #fff}

.lo_left_2_1{float:left;width:700px;}
.lo_aside_right{float:right;width:260px;/*overflow:hidden;*/height:100%}


/* 구분선 - basic.css에 기본으로 정의되 있고 여기서 override */
.line_dot_normal,.line_dash_normal,.line_solid_normal{border-top-color:#e7e7e7;}




/* body */
body.normal{/*background:url(../../../../../custom/theme/www/t50/bg.png) repeat-y 50% 0*/background-color:#e8e8e8}
.container{padding:0 30px;background-color:#fff}
/* 윙 펼침메뉴일때 주석해제
body.normal #content,
body.normal .lo_aside_right{padding-top:30px;padding-bottom:30px;}*/












/************************************************************************************************************************
메인에 사용된 css
************************************************************************************************************************/
.t50_main_title{margin:0 0 10px;padding:0;}
.t50_main_title .t50mt_t{display:inline-block;padding:7px 20px;font:15px/1.2 "Nanum Gothic","nanumgothic";border:1px solid #3482d9;border-radius:20px;color:#3482d9;}


.t50_blank_30{margin:30px 0 0;padding:0;height:0;overflow:hidden;border:none;}










