.noticeAd_pc_wrap {margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:999999998;}
.noticeAd_pc_wrap div, .noticeAd_pc_wrap dl, .noticeAd_pc_wrap dt, .noticeAd_pc_wrap dd, .noticeAd_pc_wrap ul, .noticeAd_pc_wrap ol, .noticeAd_pc_wrap li, .noticeAd_pc_wrap h1, .noticeAd_pc_wrap h2, .noticeAd_pc_wrap h3, .noticeAd_pc_wrap h4, .noticeAd_pc_wrap h5, .noticeAd_pc_wrap h6, .noticeAd_pc_wrap pre, .noticeAd_pc_wrap form, .noticeAd_pc_wrap fieldset, .noticeAd_pc_wrap input, .noticeAd_pc_wrap p, .noticeAd_pc_wrap blockquote, .noticeAd_pc_wrap table, .noticeAd_pc_wrap th, .noticeAd_pc_wrap td, .noticeAd_pc_wrap embed, .noticeAd_pc_wrap object, .noticeAd_pc_wrap textarea, .noticeAd_pc_wrap a, .noticeAd_pc_wrap img{padding:0;margin:0;}
.noticeAd_pc_wrap ol, .noticeAd_pc_wrap ul, .noticeAd_pc_wrap li{list-style:none;display:block;}
.noticeAd_pc_wrap div{display:block;}
.noticeAd_pc_wrap img{border:0;vertical-align:top;}
.noticeAd_pc_wrap{display:none;}
.noticeAd_pc_wrap.run{display:block;}
.noticeAd_pc_wrap.run ul{list-style-type:none;margin:0;padding:0;}
.noticeAd_pc_wrap .banner_wrap{bottom:0;}
.noticeAd_pc_wrap .banner_wrap:hover{cursor:pointer;}
.noticeAd_pc_wrap.run .banner_wrap{width:320px;position:fixed;right:50px;z-index:999999998;}
.noticeAd_pc_wrap.type1.run .banner_wrap{animation:type1 0.5s ease-in-out;}
.noticeAd_pc_wrap.type2.run .banner_wrap{animation:type2 0.5s ease-in-out;}
.noticeAd_pc_wrap.run .banner_wrap img{width:100%;}
.noticeAd_pc_wrap.run .banner_wrap .btn_close{position:absolute;top:-23px;right:3px;width:18px;height:18px;border:1px solid #ccc;display:block;text-indent:-9999em;background:#FFF url(../images/notice_close.png) center center no-repeat;}
.noticeAd_pc_wrap.run .banner_wrap,.noticeAd_pc_wrap.run .banner_wrap a,.noticeAd_pc_wrap.run .banner_wrap a:after{box-sizing:initial;}
@keyframes type1{
	0%{bottom:-120px;}
	100%{bottom:0;}
}
@keyframes type2{
	0%{bottom:-132px;}
	100%{bottom:0;}
}

#noticeAd_pc_iframe{background:#FFF;border:2px solid #000;border-radius:3px;z-index:9999999999 !important;display:inline-block;}/*20180810 변경*/
#noticeAd_pc_iframe .noticeAd_pc_iframe_box{position:relative;margin:0;padding:13px 13px 9px 13px;}/*20180810 변경*/
#noticeAd_pc_iframe .close{position:absolute;right:-39px;top:7px;width:28px;height:28px;background:url(../images/notice_close2.png) center center no-repeat;cursor:pointer;text-indent:-9999em;}/*20180810 변경*/
.bg_noticeAd_pc_iframe{width:100%;height:200%;position:fixed;top:0;left:0;background:rgba(255,255,255,0.75);z-index:9999999999 !important;display:none;text-align:center;}/*20180810 변경*/
.noticeAd_pc_wrap.run .banner_wrap .gauge{position:absolute;top:0px;left:10px;width:0;height:4px;display:block;text-indent:-9999em;background:#00eaff;}
.noticeAd_pc_wrap.run .banner_wrap .gauge.bar{animation:gauge 0.5s ease-in-out;}


@keyframes gauge{
	0%{width:0;}
	100%{width:300px;}
}

