.twitter-share-button { width: 75px !important; }
#___plusone_0 {width: 57px !important;}
#___plusone_1 {width: 57px !important;}
.click { cursor: pointer; }
#mailto {cursor: pointer; margin-bottom: 2px !important; } 