body {
	background:#f4f4f4;
}
#wrap {
	width:1000px;
	margin:0 auto;
	font-family:'Nanum Gothic';
}
.header {
	margin-top:20px;
	background:#86ba23;
	height:70px;
	margin-bottom:20px; width: 80%; float: left;
}
.header h1 {
	font-weight:bold;
	font-size:30px;
	text-align:center;
	line-height:70px;
	color:#fff;
}

.header_menu { margin-top:20px; background:#86ba23; height:70px;float: left; width: 20%; }
.header_menu h3 { float: left; font-weight:bold; font-size:17px; text-align:center; line-height:70px; padding: 10px 12px 0;}
.header_menu a { color:#fff;  text-decoration: none; }
.header_menu a:hover { color:#c5d6f7; text-decoration: none; }




.footer {
	margin-top: 30px;
	border-top: 2px solid #999;
	padding: 20px 0 20px 40px;
	clear: both;
	background: #cfcfcf;
}
/* ±âº» */

.container ul li {
	border:1px solid #cfcfcf;
	padding:15px;
	background:#fff;
	float:left;
	line-height:180%;
	font-size:13px;
}
.container ul li dt {
	font-size:17px;
	font-weight:bold;
	padding-bottom:15px;
	margin-bottom:10px;
	border-bottom:1px solid #dedede;
}
.container ul li dd {
	color:#555;
}
.topb ul li {
	padding:0;
}
.topb ul li.phone {
	margin-left:15px;
	width:321px;
	height:206px;
}
.topb ul li.phone a {
	background:#444;
	display:block;
	width:321px;
	height:126px;
	text-align:center;
	padding-top:80px;
	color:#fff;
	font-size:18px;
}
.mba ul li:first-child {
	margin-left:0;
}
.mba ul li {
	width:291px;
	margin-left:15px;
	height:200px;
}
.topb, .mba, .bba {
	clear:both;
	float:left;
	margin-bottom:15px;
}
.bba {
	width:968px;
	background:#fff;
	padding:15px;
	border:1px solid #cfcfcf;
}
.bba h3 {
	font-size:17px;
	font-weight:bold;
	padding-bottom:15px;
	margin-bottom:10px;
	border-bottom:1px solid #dedede;
}
.bba table {
	width:100%;
	border-collapse:collapse;
}
.bba table td, .bba table th {
	padding:20px 0;
	text-align:center;
	border-bottom:1px dotted #dedede;
}
.bba table th {
	background:#f1f9d5;
}
.bba table td {
	color:#FF3300;
}
.bba table td em {
	color:#000;
}






























/**/
