@charset "euc-kr";
/* Chosun.com Article Stylesheet */

/* Reset import */
@import url("css_reset_2015_min.css");




/* news comment 100 */
/*.news_comment { clear:both; width:1115px; padding:20px 0 30px; position:relative; border-top:solid 1px #e58387; overflow:hidden; letter-spacing:-1px;}*/
.news_comment { clear:both; width:1075px; padding:20px 0 30px; position:relative; border-top:solid 1px #e58387; overflow:hidden; letter-spacing:-1px;
                margin-left:60px;}
.news_title + .news_comment { border-top:0;}
/*.news_comment .sec_tit { float:left; width:134px;}*/
.news_comment .sec_tit { float:left; width:75px;}
.news_comment .sec_tit h3 { margin-bottom:10px; font-size:18px; font-weight:bold; color:#222; letter-spacing:-1px; text-align:left; margin-left:1px;}
.news_comment .sec_tit em.cmt_count { padding:1px 5px; background:#d61b22; color:#fff; font-size:16px; font-weight:bold; text-align:center; position:relative; border-radius:3px; }
.news_comment .sec_tit em.cmt_count:after { content:''; width:11px; height:14px; display:block; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -200px -500px; position:absolute; bottom:-14px; right:5px; }
.news_comment .sec_tit #cmt_today_help_trig { font-size:10px; display:block;}
.news_comment .sec_tit .cmt_today_help { font-size:12px; color:#666; }

.news_comment .sec_con { position:relative; float:left; width:600px; padding:0 20px; border-left:solid 1px #d7d7d7; border-right:solid 0px #d7d7d7;}
.news_comment .sec_sub { float:left; width:320px; padding-left:19px;}
.news_comment:after, .sec_tit:after, .sec_con:after, .sec_sub:after { content: "."; display: block; font-size: 0; height: 0px; line-height: 0; clear: both; }
.news_comment a.sec_close { width:25px; height:25px; display:none; position:absolute; top:0px; right:0px; background:red;}
.news_comment .sec_closed { overflow:hidden; }
.news_comment .sec_closed a.sec_close { background:blue}
.news_comment .sec_closed .sec_con, .news_comment.sec_closed .sec_sub, .news_comment .sec_closed ul.sec_tit_sub { display:none;} 

ul.sec_tit_sub { position:absolute; width:115px; padding-right:19px; bottom:30px; left:0px; text-align:right;}
ul.sec_tit_sub li { line-height:24px;}
ul.sec_tit_sub li a { font-size:12px; color:#888;}

/* news comment 100 body */
.cmt_title { padding-bottom:10px; border-bottom:solid 1px #666; font-size:20px; line-height:20px; color:#222; }
.cmt_today_title { text-align:center; border-bottom:solid 1px #909090;}
.cmt_today_title .cmt_today { font-size:20px; font-weight:bold; color:#222; }
.cmt_today_title .cmt_today_prev {}
.cmt_today_title .cmt_today_next {}
.cmt_today_title .cmt_today_cal { position:relative;}
#cmt_today_cal_layer_id { position:absolute; top:14px; left:0px; background:#fff; border:solid 1px #ccc; display:none;}
#cmt_today_cal_layer_id.open { display:block;}
.cmt_today_title .cmt_today_gotoday {}

.cmt_title .cmt_user_name {}
.cmt_title .cmt_user_id { font-weight:normal; color:#666;}
.cmt_title em { color:#c51917;}

.cmt_top_btn { position:relative; margin-bottom:20px;}
ul.cmt_order {}
ul.cmt_order li { display:inline; margin-right:10px;}
ul.cmt_order li a { color:#666;}
ul.cmt_order li a.current { color:#222; font-weight:bold;}
.cmt_font_sz { width:46px; position:absolute; top:00px; right:0px;}
.cmt_font_sz a { width:23px; height:22px; display:block; float:left; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -150px -550px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.cmt_font_sz a + a { background-position:-173px -550px;}

.cmt_body {}
.cmt_box { border-bottom:solid 1px #eaeaea;} /* one comment */
.cmt_reply { padding:10px 20px 15px; background:#f8f8f8; border-top:solid 1px #eaeaea;} 
.cmt_reply dl.cmt_comment:before { content:''; width:7px; height:7px; position:absolute; left:-10px; top:22px; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -100px -300px;}
/* reply to one comment */
.cmt_go_all { padding-top:10px; text-align:right; font-weight:bold;}
.cmt_go_all span.light { font-weight:normal; color:#666;}
.cmt_go_all a:after { content:''; display:inline-block; width:3px; height:5px; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -225px -500px; vertical-align:middle; margin-left:4px;}
.cmt_go_all em { color:#c41a1a;}

.cmt_reply_more { text-align:center;}
.cmt_reply_more:after { content:''; display:inline-block; width:3px; height:5px; margin-left:5px; vertical-align:middle; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -250px -525px;}
.cmt_reply_more a { font-weight:bold;}
.cmt_reply_more a em { color:#c41a1a;}

.cmt_pager { text-align:center; font-size:13px; }
.cmt_pager li { display:inline;}
.cmt_pager li a, .cmt_pager li strong { padding:3px 10px; border:solid 1px #fff;}
.cmt_pager li .current { color:#c41a1a; font-weight:bold; text-decoration:underline;}
.cmt_pager li a:hover { text-decoration:none; border:solid 1px #c41a1a}
.cmt_pager li a.cmt_pager_prev {}
.cmt_pager li a.cmt_pager_next {}


dl.cmt_comment { position:relative; padding-top:10px;}
dl.cmt_comment .cmt_thumb { width:41px; height:36px; margin-right:10px; margin-bottom:10px; position:relative; float:left; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -200px -450px;}
dl.cmt_comment .cmt_thumb img { width:35px; height:35px; border-radius:17px}
dl.cmt_comment .cmt_thumb span { width:14px; height:14px; display:block; position:absolute; bottom:0px; right:0px;}
dl.cmt_comment .cmt_thumb span.fb { background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -250px -450px; }
dl.cmt_comment .cmt_thumb span.tw { background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -250px -475px; }
dl.cmt_comment .cmt_thumb span.gp { background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -250px -500px; }

dl.cmt_comment .cmt_user_name { font-size:14px; font-weight:bold; line-height:35px; color:#222; }
dl.cmt_comment .cmt_user_name .cmt_user_id { font-weight:normal; color:#666;}
dl.cmt_comment .cmt_date_control { position:absolute; top:20px; right:0px; white-space:nowrap; font-size:12px; color:#888;}
dl.cmt_comment .cmt_date_control span { letter-spacing:0; margin:0 3px;}
dl.cmt_comment .cmt_date_control a { color:#888; margin:0 5px;}
dl.cmt_comment .cmt_date_control a.go_logout { text-decoration:underline;}
dl.cmt_comment .cmt_date_control .cmt_mobile { width:7px; height:10px; display:inline-block; background:#ccc; font-size:0; text-indent:-9999; overflow:hidden;}

dl.cmt_comment .cmt_news_tit { clear:both;}
dl.cmt_comment .cmt_news_tit a { font-size:14px; color:#222;}
dl.cmt_comment .cmt_txt { clear:both; margin-bottom:15px; font-size:13px; line-height:1.5; color:#666;}

dl.cmt_comment .cmt_reply_link { position:relative; margin-bottom:15px; font-size:12px; color:#222}
dl.cmt_comment .cmt_reply_link a { color:#222; }
dl.cmt_comment .cmt_reply_link .cmt_yesno_box { position:absolute; top:0px; right:0px; white-space:nowrap;}
dl.cmt_comment .cmt_reply_link span { width:14px; height:14px; display:inline-block; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; vertical-align:middle;}
dl.cmt_comment .cmt_reply_link span.fb { width:18px; height:18px; background-position:-325px -450px;}
dl.cmt_comment .cmt_reply_link span.tw { width:18px; height:18px; background-position:-325px -475px;}
dl.cmt_comment .cmt_reply_link span.gp { width:18px; height:18px; background-position:-325px -500px;}

dl.cmt_comment .cmt_reply_link .cmt_reply_yes span { margin-right:3px; background-position:-200px -550px;}
dl.cmt_comment .cmt_reply_link .cmt_reply_no span { margin-right:3px; background-position:-225px -550px;}
dl.cmt_comment .cmt_reply_link .cmt_reply_yes { margin-right:10px; color:#d51d1f}
dl.cmt_comment .cmt_reply_link em { color:#d51d1f;}
dl.cmt_comment .cmt_export {}
dl.cmt_comment .cmt_export strong:after { content:''; display:inline-block; width:3px; height:5px; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat -225px -500px; margin-left:4px;}
dl.cmt_comment .cmt_export span { display:inline-block; margin-right:5px; vertical-align:middle;}
dl.cmt_comment .cmt_export span a { width:18px; height:18px; display:block; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; background:url('http://health.chosun.com/images/2015/cs_art_ico.png') no-repeat; vertical-align:middle;}
dl.cmt_comment .cmt_export span.fb a { background-position:-300px -450px}
dl.cmt_comment .cmt_export span.tw a { background-position:-300px -475px}
dl.cmt_comment .cmt_export span.gp a { background-position:-300px -500px}
dl.cmt_comment .cmt_export span.fb a.selected { background-position:-325px -450px}
dl.cmt_comment .cmt_export span.tw a.selected { background-position:-325px -475px}
dl.cmt_comment .cmt_export span.gp a.selected { background-position:-325px -500px;}

.cmt_txt_input { clear:both; position:relative; padding-right:111px; line-height:0;}
.cmt_txt_input textarea.cmt_form_textarea { width:100%; height:78px; display:block; padding:7px 9px;  border:solid 1px #d7d7d7; font-family: '맑은 고딕', '돋움', Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; overflow-y:auto; position:relative; z-index:3; resize:vertical;}
.cmt_txt_input input.cmt_form_submit_btn { width:92px; height:100%; background:#fff; border:solid 1px #d7d7d7; position:absolute; top:0px; right:0px; font-size:14px; font-weight:bold; color:#222; cursor:pointer;  z-index:2}
.cmt_txt_input:hover input.cmt_form_submit_btn { color:#C41A1A;}
.cmt_txt_input textarea.cmt_form_textarea:focus + input.cmt_form_submit_btn {color:#C41A1A;}
.cmt_txt_input input.cmt_form_submit_btn:focus { z-index:4;}

.cmt_write {}
.cmt_write {}


.cmt_many {}
dl.cmt_many_news { clear:both; padding:15px 0; overflow:hidden; border-bottom:solid 1px #eaeaea; position:relative;}
dl.cmt_many_news dt { margin-bottom:5px; font-size:16px; font-weight:bold; color:#222;}
dl.cmt_many_news dt a {}
dl.cmt_many_news dd.thumb  { float:left; margin-right:10px; line-height:0}
dl.cmt_many_news dd.thumg img { max-width:110px; max-height:80px}
dl.cmt_many_news dd.data { font-size:12px; color:#dadada}
dl.cmt_many_news dd.data span { color:#888; }
dl.cmt_many_news dd.count { padding:0 5px; border:solid 1px #d9d9d9; font-size:11px; color:#c61817; border-radius:10px; position:absolute; top:15px; right:0px; letter-spacing:0;}
dl.cmt_many_news dd.count:before { content:''; width:16px; height:14px; display:inline-block; background:#ccc; margin-right:5px; vertical-align:middle; }


ul.cmt_help { position:absolute; width:115px; padding-right:19px; bottom:0px; left:-126px; text-align:right;}
ul.cmt_help li { line-height:24px;}
ul.cmt_help li a { font-size:12px; color:#888;}


/* cmt aside */

.user_profile { margin-bottom:20px; padding:17px; border:solid 3px #eaeaea;}
.user_profile h3.profile_tit { position:relative; font-size:18px; font-weight:bold; color:#000}
.user_profile h3.profile_tit .more_help { position:absolute; top:0px; right:0px; white-space:nowrap; font-size:13px; color:#e8e8e8;}
.user_profile h3.profile_tit .more_help a { color:#666; font-weight:normal;}
dl.profile_data {}
dl.profile_data dd.profile_thumb { width:82px; height:80px; position:relative; float:left;}
dl.profile_data dd.profile_thumb img { width:80px; height:80px; border-radius:40px}

dl.profile_data dd.profile_thumb span { width:20px; height:20px; display:block; position:absolute; bottom:0px; right:0px;}
dl.profile_data dd.profile_thumb span.fb { background:#3b5997}
dl.profile_data dd.profile_thumb span.tw { background:#41b7d8}
dl.profile_data dd.profile_thumb span.gp { background:#d64937}

dl.profile_data dd.no_login { width:100%; height:140px; text-align:center; display:table;}
dl.profile_data dd.no_login span { display:table-cell;  vertical-align:middle; text-align:center;}
dl.profile_data dd.no_login a { text-decoration:underline;}

dl.profile_data dd.profile_name {}
dl.profile_data dd.profile_edit {}
dl.profile_data dd.profile_act { clear:both; overflow:hidden; border-top:solid 1px #eaeaea}
ul.profile_act_data { width:100px; float:left; color:#666; }
ul.profile_act_data + ul.profile_act_data { margin-left:70px;}
ul.profile_act_data li { position:relative;}
ul.profile_act_data li em { position:absolute; top:0px; right:0px;}
ul.profile_act_data li.profile_act_tit { font-weight:bold; color:#222;}

.overlay_t { background-color: #000; bottom: 0; left: 0; opacity: 0.5; filter: alpha(opacity = 50); /* IE7 & 8 */ position: fixed; right: 0; top: 0; z-index: 99; }
#profile_edit_layer { width:398px; background:#fff; border:solid 1px #d6d6d6; position:absolute; top:40%; left:50%; margin-left:-199px; padding-bottom:30px; text-align:center; z-index:9999; display:none;}
#profile_edit_layer h4 { height:39px; line-height:38px; padding-left:19px; position:relative; background:#f6f7f9; border-bottom:solid 1px #e5e5e5; font-size:15px; font-weight:bold; color:#000; text-align:left; }
#profile_edit_layer h4 a#profile_edit_layer_close { width:17px; height:17px; display:block; position:absolute; top:12px; right:20px; background:black; overflow:hidden;}
#profile_edit_layer .profile_pic_file { width:358px; margin:0 0 20px; border:solid 1px #d7d7d7; }
#profile_edit_layer .profile_pic_btn { font-size:13px; font-weight:bold; color:#000; background:#fff; border:0; cursor:pointer;}
#profile_edit_layer .pic_size { margin-top:20px; font-size:12px; color:#888; display:block; text-align:left; padding-left:19px; }

.cmt_aside_favnews { position:relative; border:solid 1px #d6d6d6; border-top:solid 1px #c61817; letter-spacing:-1px;}
.cmt_aside_favnews h3.tit { height:38px; padding:0 19px; background:#f8f8f8; border-bottom:solid 1px #d6d6d6; font-size:15px; font-weight:bold; line-height:38px; color:#000; }
.cmt_aside_favnews .tit_tab { position:absolute; top:10px; right:19px; white-space:nowrap; font-size:13px;}
.cmt_aside_favnews .tit_tab a { color:#666; margin-left:5px;}
.cmt_aside_favnews .tit_tab a.current { font-weight:bold; color:#000;}
.cmt_aside_favnews_pan { padding: 0 19px;}
dl.cmt_favnews_item { padding:10px 0; overflow:hidden; border-top:solid 1px #eaeaea;}
dl.cmt_favnews_item:first-child { border-top:0;}
dl.cmt_favnews_item dd.thumb { float:right; margin-left:10px; line-height:0;}
dl.cmt_favnews_item dd.thumb img { width:60px; height:60px;}
dl.cmt_favnews_item dt { padding-top:8px; font-size:16px; font-weight:bold; line-height:22px;}
dl.cmt_favnews_item dt a { color:#222;}

.cmt_aside_today { position:relative; border:solid 1px #d6d6d6; border-top:solid 1px #c61817; letter-spacing:-1px;}
.cmt_aside_today h3.tit { height:38px; padding:0 19px; background:#f8f8f8; border-bottom:solid 1px #d6d6d6; font-size:15px; font-weight:bold; line-height:38px; color:#000; }
.cmt_aside_today_in { padding: 0 19px;}
.cmt_aside_today dl.cmt_comment { padding:10px 0; border-top:solid 1px #eaeaea;}
.cmt_aside_today dl.cmt_comment:first-child { border-top:0}

.cmt_aside_ad { padding:20px 10px;}

.cmt_aside_forum { border:solid 1px #d6d6d6;}
.cmt_aside_forum h3.tit { padding:20px 19px 15px; position:relative; font-size:15px; font-weight:bold; color:#c51917; border-top:solid 1px #d6d6d6; margin-top:-1px;}
.cmt_aside_forum h3.tit .more { font-size:13px; font-weight:normal; color:#666; position:absolute; top:20px; right:19px;}
.cmt_aside_forum h3.tit .more a { margin-left:5px; color:#666;}
.cmt_aside_forum h3.tit .more a.current { color:#222; font-weight:bold;}
.cmt_aside_forum .cmt_forum_yesorno_if { width:260px; height:182px; margin:0 auto 20px; display:block;}

.cmt_forum_pan { padding:0 19px 19px;}
.cmt_forum_pan dl.cmt_forum_item { border-top:solid 1px #eaeaea;}
.cmt_forum_pan dl.cmt_forum_item:first-child { border-top:0;}
.cmt_forum_pan dl.cmt_forum_item dt a { font-size:16px; font-weight:bold; color:#222}
.cmt_forum_pan dl.cmt_forum_item dd.name { color:#888;}


/* 20160127 */
.share {height:48px; padding:30px 0 0 0;}
.share .fl {width:272px; float:left; padding-left:13px;}
.share .fl a, .share .fr a {display:block; width:100%; height:auto;}
.share .fr {width:272px; float:right; padding-right:13px;}