@import url( //fonts.googleapis.com/earlyaccess/notosanskr.css );
body {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
th {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
td {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
input {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
select {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
button {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h1 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h2 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h3 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h4 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h5 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h6 {
	font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.admin-board .link-fa .badge {
	min-width: 0.93rem;
}
.user-style-black#user-footer {
	background: rgb(44, 52, 58); border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.user-style-black#user-footer .user-address ul li {
	color: rgba(255, 255, 255, 0.5);
}
.user-style-black#user-footer .user-address ul li a {
	color: rgba(255, 255, 255, 0.5);
}
.user-style-black#user-footer .user-address ul li.bars::before {
	color: rgba(255, 255, 255, 0.25);
}
.index-wrap.type-aktv .index-columns.grid-1 {
	padding-right: 0px;
}
.index-wrap.type-aktv .index-columns.grid-2 {
	padding-left: 0px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid;
}
.index-wrap.type-aktv .index-columns.grid-3 {
	padding-left: 0px; border-right-color: rgb(221, 221, 221); border-left-color: rgb(183, 183, 183); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.index-wrap.type-aktv .index-columns.grid-4 {
	padding-right: 0px; border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.index-wrap.type-aktv .index-columns.grid-2 .box-skin {
	padding-left: 1.25rem;
}
.index-wrap.type-aktv .index-columns.grid-2 .box-skin.line.bg {
	border-width: 2px medium medium; border-style: solid none none; border-color: rgb(85, 85, 85) currentColor currentColor; border-image: none;
}
.index-wrap.type-aktv .index-columns.grid-3 .box-skin {
	padding-right: 1.25rem; padding-left: 1.25rem;
}
.index-wrap.type-aktv .index-columns.grid-3 iframe {
	width: 302px; margin-right: -1px; margin-left: -1px; display: block;
}
.index-wrap.type-aktv .index-columns.grid-4 .box-skin {
	padding-right: 1.25rem;
}
.article-list .article-list-content .list-image {
	background-position: center; background-size: 100% auto;
}
.article-veiw-body.view-page .photo-layout figcaption {
	text-align: center;
}
.auto-ha04-3 .auto-column {
	padding: 0.62rem 1rem 0px 0px; width: 50%; margin-top: 0.62rem; border-top-color: rgba(0, 0, 0, 0.12); border-top-width: 1px; border-top-style: solid; float: left;
}
.auto-ha04-3 :first-child.auto-column {
	padding: 0px; width: auto; margin-top: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; float: none;
}
.auto-ha04-3 :first-child.auto-column::after {
	clear: both; display: table; content: "";
}
.auto-ha04-3 :nth-child(3n).auto-column {
	float: right;
}
.auto-ha04-3 :nth-child(3n+1).auto-column {
	clear: both;
}
.auto-ha04-3 .auto-column .auto-section {
	line-height: 1; letter-spacing: -0.08em; margin-bottom: 0.5rem;
}
.auto-va02 .auto-columns .auto-images {
	padding-bottom: 70%;
}
.auto-va03 .auto-columns .auto-images {
	padding-bottom: 70%;
}
.auto-va04.tiles-5x .auto-columns {
	margin-top: 1.25rem;
}
.auto-va04 .auto-images {
	border-radius: 0.2rem; height: 0px; overflow: hidden; padding-bottom: 70%;
}
.auto-va04 .auto-images.line {
	border-radius: 0.2rem;
}
.auto-va04 .auto-content {
	padding: 0.5rem 0.62rem 0px;
}
@media screen and (max-width:63.93em)
{
.row .auto-va04.tiles-5x .auto-columns {
	width: 32%; margin-top: 1.25rem; float: left; min-height: 1px;
}
.row .auto-va04.tiles-5x :nth-child(n).auto-columns {
	clear: none; margin-right: 2%;
}
.row .auto-va04.tiles-5x :nth-child(3n).auto-columns {
	margin-right: 0px;
}
.row .auto-va04.tiles-5x :nth-child(3n+1).auto-columns {
	clear: both;
}
}
@media screen and (max-width:39.93em)
{
.row .auto-va04.tiles-5x .auto-columns {
	width: 48%; margin-top: 1.25rem; min-height: 1px;
}
.row .auto-va04.tiles-5x :nth-child(n).auto-columns {
	clear: none; margin-right: 0px;
}
.row .auto-va04.tiles-5x :nth-child(2n).auto-columns {
	float: right;
}
.row .auto-va04.tiles-5x :nth-child(2n+1).auto-columns {
	clear: both;
}
.row .auto-va04.tiles-5x :first-child.auto-columns {
	margin-top: 0px;
}
.row .auto-va04.tiles-5x :nth-child(2).auto-columns {
	margin-top: 0px;
}
}
.auto-vr02 .auto-column .auto-images {
	width: 480px;
}
@media screen and (max-width:39.93em)
{
.row .auto-vr02 .auto-column .auto-images {
	padding-bottom: 70%;
}
}
.auto-ma04 :not(:first-child).auto-content {
	width: calc(100% - 235px); float: left;
}
.auto-ma04 .auto-titles {
	float: none; max-width: none;
}
.auto-ma04 .auto-titles small {
	font-size: 0.8rem;
}
.index-wrap.tv-main.type-list .index-columns.grid-3 {
	padding: 1.25rem; border-right-color: rgb(221, 221, 221); border-left-color: rgb(183, 183, 183); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
@media screen and (max-width:63.93em)
{
.row .index-wrap.tv-main.type-list .index-columns.grid-3 {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; padding: 1.25rem 0px; border-image: none;
}
}
.index-wrap.tv-main.type-list .index-columns.grid-3 .box-skin.bg.line {
	border-width: 1px medium; border-style: solid none; border-color: rgb(221, 221, 221) currentColor; padding: 1.25rem; border-image: none; margin-right: -1.25rem; margin-left: -1.25rem; background-color: rgb(247, 247, 247);
}
.index-wrap.tv-main.type-list .index-columns.grid-3 [class*='box-solid-'].box-margins {
	margin-right: -1.25rem; margin-left: -1.25rem;
}
.tv-main.type-list .box-skin .header > strong {
	font-size: 1rem; margin-bottom: 1rem;
}
.tv-main.type-list .box-skin .header > a {
	font-size: 1rem; margin-bottom: 1rem;
}
@media screen and (max-width:63.93em)
{
.row .tv-main.type-list .box-skin .header > strong {
	font-weight: 700;
}
.row .tv-main.type-list .box-skin .header > a {
	font-weight: 700;
}
}
.auto-va05 {
	position: relative;
}
.auto-va05::before {
	padding: 0.4rem 0.62rem; left: 0px; top: 0px; color: rgb(254, 254, 254); line-height: 1; display: inline-block; position: absolute; z-index: 10; content: "ÃÖ±Ù¹æ¼Û ÇÁ·Î±×·¥"; background-color: rgba(0, 0, 0, 0.7);
}
.auto-va05 .auto-content {
	width: calc(25% - 1px); text-align: center; margin-bottom: 1px; margin-left: 1px; float: left; position: relative;
}
.auto-va05 :first-child.auto-content {
	width: 50%; clear: both; margin-left: 0px;
}
.auto-va05 :nth-child(5n+1).auto-content {
	width: 50%; clear: both; margin-left: 0px;
}
.auto-va05 .photo-titbg {
	transition:0.15s; -moz-transition: all .15s; -webkit-transition: all .15s; -o-transition: all .15s;
}
.index-wrap.tv-main.type-list .auto-va05 {
	margin-right: -1.25rem;
}
.index-wrap.tv-main.type-list .auto-va05 :nth-child(3n).auto-content .auto-images::before {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.index-wrap.tv-main.type-list .auto-va05 :last-child.auto-content .auto-images::before {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
@media screen and (max-width:63.93em)
{
.row .index-wrap.tv-main.type-list .auto-va05 {
	margin-right: 0px;
}
.row .index-wrap.tv-main.type-list .auto-va05 :nth-child(3n).auto-content .auto-images::before {
	border-right-color: rgba(0, 0, 0, 0.1); border-right-width: 1px; border-right-style: solid;
}
.row .index-wrap.tv-main.type-list .auto-va05 :last-child.auto-content .auto-images::before {
	border-right-color: rgba(0, 0, 0, 0.1); border-right-width: 1px; border-right-style: solid;
}
}
@media screen and (max-width:39.93em)
{
.row .auto-va05 {
	margin-right: -1.25rem; margin-left: -1.25rem;
}
.row .index-wrap.tv-main.type-list .auto-va05 {
	margin-right: -1.25rem; margin-left: -1.25rem;
}
.row .auto-va05 .auto-content {
	width: calc(50% - 1px); float: left;
}
.row .auto-va05 :nth-child(2n).auto-content {
	margin-left: 0px;
}
.row .auto-va05 :nth-child(2n+1).auto-content {
	width: 50%; float: right;
}
.row .auto-va05 :first-child.auto-content {
	width: 100%; margin-right: auto; margin-left: auto; float: none;
}
}
.auto-vl02 .label {
	border-radius: 2rem; letter-spacing: 0px; font-size: 0.6rem !important; margin-left: 0.25rem;
}
.auto-vl02 .auto-dated {
	color: rgb(170, 170, 170); letter-spacing: 0px; font-size: 0.75rem; font-weight: 300;
}
@media screen and (max-width:39.93em)
{
.auto-vl02 .float-left {
	margin-right: auto; margin-left: auto; float: none !important;
}
.auto-vl02 .auto-maright-15 {
	margin-right: auto !important;
}
.auto-vl02 .auto-images {
	width: auto; margin-bottom: 0.5rem;
}
}
.auto-da07 .auto-columns [class*='size-'] {
	padding-right: 0.5rem; padding-left: 0.5rem;
}
.auto-vl03 .auto-section {
	padding: 0.25rem 0.5rem; border-radius: 2rem; text-align: center; color: rgb(254, 254, 254); line-height: 1.25em; letter-spacing: 0px; overflow: hidden; font-size: 0.7rem; margin-right: 0.5rem; float: left; display: inline-block; background-color: rgb(157, 168, 177);
}
.user-com-about.aktv {
	columns: 2 auto; column-rule: 1px solid rgba(0, 0, 0, 0.08); column-gap: 3rem; -webkit-column-gap: 3rem; -webkit-columns: 2; -webkit-column-rule: 1px solid rgba(0, 0, 0, .08);
}
.user-com-about.aktv .com-about-titles {
	line-height: 1.25; letter-spacing: -0.1em; font-size: 2rem;
}
.user-com-about.aktv .summary {
	text-align: justify; color: rgba(0, 0, 0, 0.7); letter-spacing: -0.07em; font-size: 0.93rem;
}
.user-com-about.aktv .summary p {
	margin: 1.3rem 0px; line-height: 1.7em;
}
@media screen and (max-width:39.93em)
{
.user-com-about.aktv {
	columns: inherit; column-gap: inherit; -webkit-column-gap: inherit; -webkit-columns: inherit;
}
}
.com-maps {
	padding-top: 3rem; margin-top: 3rem; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;
}
.com-maps .com-maps-api {
	margin-bottom: 1.25rem; position: relative;
}
.com-maps .com-maps-api .root_daum_roughmap {
	width: 100% !important;
}
.com-maps .com-maps-bus p {
	color: rgba(0, 0, 0, 0.6); letter-spacing: -0.05em; font-size: 0.9rem;
}
.com-maps .com-maps-bus strong {
	font-size: 1rem; margin-bottom: 0.25rem; display: block;
}
.com-maps .com-maps-bus .bus-rooted {
	color: rgba(0, 0, 0, 0.6); letter-spacing: -0.05em; font-size: 0.8rem; font-weight: 700; margin-top: 0.5rem; margin-bottom: 0.25rem;
}
.schedule-for .schedule-lists input {
	margin-bottom: 0px;
}
.schedule-for .schedule-lists select {
	margin-bottom: 0px;
}
.index-wrap.type-5 .index-columns.grid-1 {
	padding-right: 0.93rem;
}
.index-wrap.type-5 .index-columns.grid-2 {
	padding-left: 0.93rem; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid;
}
.index-wrap.type-5 .index-columns.grid-3 {
	padding-left: 0.62rem;
}
.index-wrap.type-5 .index-columns.grid-4 {
	padding-right: 0px; border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.index-wrap.type-5 .index-columns.grid-5 {
	
}
.index-wrap.type-5 .index-columns.grid-6 {
	width: 50%; padding-left: 1.87rem;
}
.index-wrap.type-5 .index-columns-flex {
	background-color: rgb(50, 52, 60);
}
.background-cover {
	background-size: cover !important;
}
.auto-hr07 {
	position: relative;
}
.auto-hr07 .auto-section {
	padding: 0.35rem 0.62rem; line-height: 1; font-size: 0.75rem; margin-bottom: 0.2rem; display: inline-block; text-shadow: none;
}
.auto-hr07 .photo-titbg {
	padding: 0.93rem;
}
.auto-hr07 .photo-btn {
	top: 0px; bottom: 0px;
}
.auto-hr07 .photo-btn .btn-inner {
	transition:0.35s; color: rgba(255, 255, 255, 0.8); font-size: 6rem; text-shadow: 1px 0px rgba(0,0,0,0.3);
}
.auto-hr07 .photo-btn.auto-prev {
	left: 10px;
}
.auto-hr07 .photo-btn.auto-next {
	right: 10px;
}
.auto-hr07 .slick-slide {
	cursor: pointer;
}
.auto-hr07 .slick-slide .auto-images::before {
	background: rgba(0, 0, 0, 0.7); transition:0.25s; z-index: 15; -moz-transition: all .25s; -webkit-transition: all .25s; -o-transition: all .25s;
}
.auto-hr07 .slick-slide.slick-current .auto-images::before {
	background: none;
}
.auto-hr07 .slick-list {
	padding: 0px !important;
}
.auto-hr07 .auto-pager {
	right: 15px; bottom: 10px; position: absolute;
}
.auto-hr07 .auto-pager li[id*='slick-'] button[data-role] {
	width: 12px; height: 12px;
}
.auto-hr07 .slick-dotted.slick-slider {
	margin-bottom: 0px;
}
.auto-hr07 .auto-images.movie::after {
	left: 93%; top: 15%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 2.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.auto-i02_1 .auto-images.movie::after {
	left: 85%; top: 26%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 1.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.auto-dr02 .number.default-bg {
	border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; color: rgb(119, 119, 119); background-color: rgb(255, 255, 255);
}
.auto-dr02 .photo-btn {
	border: 1px solid rgb(195, 195, 195); border-image: none; top: -30px; width: 15px; height: 15px; text-align: center; color: rgb(91, 93, 108); font-size: 0.6rem; background-color: rgb(255, 255, 255);
}
.auto-dr02 .photo-btn.auto-prev {
	border-radius: 2px 0px 0px 2px; right: 14px;
}
.auto-dr02 .photo-btn.auto-next {
	border-radius: 0px 2px 2px 0px; right: 0px;
}
.m-auto-p02 .auto-images.movie::after {
	left: 93%; top: 15%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 2.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.auto-ma02-1 .auto-images.movie::after {
	left: 85%; top: 20%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 1.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.auto-da04 .auto-images.movie::after {
	left: 85%; top: 25%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 1.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.m-auto-p02_2 .auto-pager {
	left: 0px; top: 80% !important; right: 0px; bottom: 2rem; position: absolute; z-index: 12;
}
.m-auto-p02_2 .auto-images.movie::after {
	left: 93%; top: 15%; text-align: right; color: rgba(255, 255, 255, 0.75); line-height: 1; font-family: "ndsoft fonts"; font-size: 2.5rem; font-style: normal; font-weight: normal; position: absolute; z-index: 11; content: "\0026"; transform: translateX(-50%) translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
