#header-wrapper {
	text-align: center; font-family: -apple-system,BlinkMacSystemFont,"Noto Sans KR","Malgun Gothic","µ¸¿ò","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; margin-bottom: 1.25rem;
}
#header-wrapper::after {
	clear: both; display: table; content: "";
}
#header-wrapper ul {
	list-style: none; margin: 0px; padding: 0px;
}
#header-wrapper ol {
	list-style: none; margin: 0px; padding: 0px;
}
#user-gnb {
	background: rgb(44, 52, 58); line-height: 1;
}
#user-gnb::after {
	clear: both; display: table; content: "";
}
#user-gnb .user-logbox {
	float: left;
}
#user-gnb .user-logbox li {
	line-height: 1; letter-spacing: -0.05em; font-size: 0.8rem; float: left;
}
#user-gnb .user-logbox li.all-section {
	margin-right: 0.5rem;
}
#user-gnb .user-logbox li span {
	padding: 0.8rem 0.62rem; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .user-logbox li a {
	padding: 0.8rem 0.62rem; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .user-logbox li:last-child a {
	padding: 0px; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .user-logbox li:nth-child(7) a {
	padding: 0px; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .user-logbox li:nth-child(8) a {
	padding: 0px; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .user-logbox li a:hover {
	color: rgb(254, 254, 254);
}
#user-gnb .user-logbox li.all-section a {
	color: rgb(254, 254, 254);
}
#user-gnb .family-site {
	float: right;
}
#user-gnb .family-site li {
	line-height: 1; letter-spacing: -0.05em; font-size: 0.8rem; float: left;
}
#user-gnb .family-site li a {
	padding: 0.8rem 0.62rem; color: rgba(255, 255, 255, 0.65); display: inline-block;
}
#user-gnb .family-site li:first-child a {
	padding-left: 0px;
}
#user-gnb .family-site li:last-child a {
	padding-right: 0px;
}
#user-gnb .family-site li a:hover {
	color: rgb(254, 254, 254);
}
#user-gnb .updated {
	color: rgba(255, 255, 255, 0.65); line-height: 1; font-size: 0.8rem; margin-top: 0.75rem; float: right;
}
#user-nav {
	height: 85px; border-bottom-color: rgb(194, 194, 194); border-bottom-width: 1px; border-bottom-style: solid;
}
#user-nav::after {
	clear: both; display: table; content: "";
}
#user-nav-wrapper::after {
	clear: both; display: table; content: "";
}
#user-nav .user-logo {
	margin-top: 1.3rem; margin-right: 1.25rem; float: left;
}
#user-nav .mega-menu {
	margin-top: 1.12rem; margin-left: 4rem; float: left;
}
#user-nav .mega-menu li.megaline {
	margin: 0px 2.5rem; line-height: 1; float: left; position: relative;
}
#user-nav .mega-menu li.megaline > a {
	padding: 0.8rem 0px; transition:0.25s; letter-spacing: -0.08em; font-size: 1.25rem; font-weight: 500; text-decoration: none; display: inline-block; position: relative; -moz-transition: all .25s;
}
#user-nav .mega-menu li.megaline > a::before {
	transition:0.15s; left: 0px; right: 0px; bottom: 0px; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; position: absolute; z-index: 1; content: ""; -moz-transition: all .15s;
}
#user-nav .mega-menu li.megaline > a.a-hover {
	color: rgb(230, 51, 110);
}
#user-nav .mega-menu li.megaline > a.a-hover::before {
	border-bottom-color: rgb(230, 51, 110);
}
#user-nav .mega-menu li.megaline ul {
	padding: 0.62rem 0px; border: 1px solid rgb(85, 85, 85); border-image: none; left: 0px; top: 100%; width: 155px; display: none; position: absolute; z-index: 998; background-color: rgb(255, 255, 255);
}
#user-nav .mega-menu li.megaline ul li.sub {
	text-align: left; line-height: 1; letter-spacing: -0.05em; clear: both; font-size: 0.9rem;
}
#user-nav .mega-menu li.megaline ul li.sub a {
	padding: 0.75rem 1rem; color: rgb(136, 136, 136); font-weight: 400; display: block;
}
#user-nav .mega-menu li.megaline ul li.sub a:hover {
	color: rgb(51, 51, 51);
}
#user-nav .user-etc {
	margin-top: 1.4rem; float: right;
}
#user-nav .user-etc > li {
	padding: 0px 0.62rem; letter-spacing: -0.05em; font-size: 1rem; float: left;
}
#user-nav .user-etc > li:first-child {
	padding-left: 0px;
}
#user-nav .user-etc > li:last-child {
	padding-right: 0px;
}
#user-nav .user-etc > li > a {
	color: rgba(0, 0, 0, 0.75); margin-top: 0.45rem; display: inline-block;
}
#user-nav .user-search {
	position: relative;
}
#user-nav .user-search .user-search-btn {
	border-radius: 50%; width: 40px; height: 40px; color: rgb(254, 254, 254); font-size: 1.75rem; cursor: pointer; background-color: rgb(44, 53, 59);
}
#user-nav .user-search .user-search-form {
	background: rgb(255, 255, 255); padding: 0px 0.62rem; border-radius: 2rem; border: 1px solid rgba(0, 0, 0, 0.75); border-image: none; top: -1px; width: 325px; height: 42px; right: -1px; display: none; position: absolute; z-index: 10;
}
#user-nav .user-search .user-search-form::after {
	clear: both; display: table; content: "";
}
#user-nav .user-search .user-search-form input {
	background: none; margin: 0px; padding: 0px 0.62rem; border: currentColor; border-image: none; width: calc(100% - 45px); height: 40px; letter-spacing: -0.05em; font-size: 0.9rem; float: left; box-shadow: none;
}
#user-nav .user-search .user-search-form button {
	width: 40px; height: 40px; color: rgb(51, 51, 51); font-size: 2rem; font-weight: 400; float: right; cursor: pointer;
}
#user-nav .user-search .user-search-form .user-search-close {
	top: 50%; right: -30px; color: rgba(0, 0, 0, 0.55); font-size: 1.25rem; position: absolute; z-index: 11; cursor: pointer; transform: translateY(-50%);
}
