#tem-type-1 {
	text-align: center; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 3rem;
}
#tem-type-1::before {
	line-height: 1; font-family: "ndsoft fonts"; font-style: normal; font-weight: normal; display: block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#tem-type-1::after {
	line-height: 1; font-family: "ndsoft fonts"; font-style: normal; font-weight: normal; display: block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#tem-type-1::before {
	margin-bottom: 1.25rem; content: "\005b";
}
#tem-type-1::after {
	margin-top: 1.25rem; content: "\007c";
}
#tem-type-1 p {
	margin: 0px; padding: 0px; text-align: center; line-height: 1.8em;
}
#tem-type-2 {
	text-align: left; padding-left: 1.25rem; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 3rem; position: relative;
}
#tem-type-2::before {
	left: 0px; top: 0px; bottom: 0px; border-left-color: rgb(0, 0, 0); border-left-width: 4px; border-left-style: solid; position: absolute; z-index: 1; content: "";
}
#tem-type-2::after {
	clear: both; display: table; content: "";
}
#tem-type-2 p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.8em;
}
#tem-type-3 {
	padding: 1rem 1.5rem; border: 5px solid rgb(228, 228, 228); border-image: none; text-align: left; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 5rem; position: relative;
}
#tem-type-3::before {
	border-width: 5px; border-style: solid; border-color: transparent rgb(228, 228, 228) transparent transparent; left: 30%; top: calc(100% - 25px); width: 50px; height: 50px; position: absolute; z-index: 2; content: ""; box-sizing: border-box; transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
#tem-type-3::after {
	left: calc(30% + 23px); top: 100%; width: 30px; border-top-color: rgb(255, 255, 255); border-top-width: 5px; border-top-style: solid; position: absolute; z-index: 1; content: ""; box-sizing: border-box;
}
#tem-type-3 p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.8em;
}
#tem-type-4 {
	text-align: left; padding-bottom: 1rem; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 5rem; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
#tem-type-4::before {
	line-height: 1; font-family: "ndsoft fonts"; font-style: normal; font-weight: normal; margin-bottom: 1.25rem; display: inline-block; content: "\005b"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#tem-type-4::after {
	clear: both; display: table; content: "";
}
#tem-type-4 p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.8em;
}
#tem-type-5 {
	padding: 1rem 1.5rem; border: 5px solid rgb(213, 213, 213); border-image: none; text-align: left; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 5rem; position: relative; box-sizing: border-box;
}
#tem-type-5::before {
	border-width: 25px; border-style: solid; border-color: rgb(191, 191, 191) rgb(255, 255, 255) rgb(255, 255, 255) rgb(191, 191, 191); right: -5px; bottom: -5px; position: absolute; z-index: 1; content: "";
}
#tem-type-5::after {
	clear: both; display: table; content: "";
}
#tem-type-5 p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.8em;
}
#tem-type-6 {
	padding: 1rem 1.5rem; text-align: left; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 5rem; position: relative;
}
#tem-type-6::before {
	border: 5px solid transparent; width: 35px; height: 35px; position: absolute; z-index: 1; content: "";
}
#tem-type-6::after {
	border: 5px solid transparent; width: 35px; height: 35px; position: absolute; z-index: 1; content: "";
}
#tem-type-6::before {
	left: 0px; top: 0px; border-top-color: rgb(74, 74, 74); border-left-color: rgb(74, 74, 74);
}
#tem-type-6::after {
	right: 0px; bottom: 0px; border-right-color: rgb(74, 74, 74); border-bottom-color: rgb(74, 74, 74);
}
#tem-type-6 p {
	margin: 0px; padding: 0px; text-align: left; line-height: 1.8em;
}
#tem-type-7 {
	text-align: center; padding-bottom: 1.5rem; font-size: 1.3rem; font-weight: 400 !important; margin-bottom: 3rem; position: relative;
}
#tem-type-7::after {
	left: 50%; width: 60px; bottom: 0px; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 2px; border-bottom-style: solid; position: absolute; z-index: 2; content: ""; transform: translateX(-50%);
}
#tem-type-7 .icons {
	width: 130px; margin-right: auto; margin-bottom: 1.25rem; margin-left: auto; display: block; position: relative;
}
#tem-type-7 .icons::before {
	background: rgb(255, 255, 255); width: 34px; line-height: 1; font-family: "ndsoft fonts"; font-style: normal; font-weight: normal; display: inline-block; position: relative; z-index: 2; content: "\0060"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#tem-type-7 .icons::after {
	left: 0px; top: 50%; right: 0px; border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid; position: absolute; z-index: 1; content: "";
}
#tem-type-7 .header-titles {
	background: rgb(51, 51, 51); padding: 0.25rem; color: rgb(255, 255, 255); line-height: 1; margin-right: auto; margin-left: auto; display: inline-block;
}
#tem-type-7 p {
	margin: 0px; padding: 0px; text-align: center; line-height: 1.8em; font-size: 2.4rem; font-weight: 700;
}
#tem-type-8 {
	border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); padding: 1rem; border-image: none; margin-bottom: 2rem;
}
#tem-type-8 p:first-child {
	margin-top: 0px;
}
#tem-type-8 p:last-child {
	margin-bottom: 0px;
}
#tem-type-9 {
	padding-bottom: 1rem; font-size: 1.3rem; margin-bottom: 2rem; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
#tem-type-9 p:first-child {
	margin-top: 0px;
}
#tem-type-9 p:last-child {
	margin-bottom: 0px;
}
