.tv-wrap .box-skin .header > strong {
	font-family: inherit; font-size: 2.3rem; margin-bottom: 2rem;
}
.tv-wrap .box-skin .header > a {
	font-family: inherit; font-size: 2.3rem; margin-bottom: 2rem;
}
.index-wrap.tv-main .index-columns-flex {
	padding-bottom: 1.75rem; margin-bottom: 2rem; background-color: rgb(35, 35, 35);
}
@media screen and (max-width:63.93em)
{
.row .index-wrap.tv-main .index-content {
	padding-right: 1.25rem; padding-left: 1.25rem;
}
.row .index-wrap.tv-main .index-row {
	display: block;
}
.row .index-wrap.tv-main .index-columns {
	display: block;
}
.row .index-wrap.tv-main .index-row {
	clear: both; display: table; content: "";
}
.row .index-wrap.tv-main .index-columns::after {
	clear: both; display: table; content: "";
}
.row .index-wrap.tv-main .index-columns.grid-1 {
	width: 50%; float: left;
}
.row .index-wrap.tv-main .index-columns.grid-2 {
	width: 50%; float: left;
}
.row .index-wrap.tv-main .index-columns.grid-3 {
	width: auto;
}
.row .index-wrap.tv-main .index-columns.grid-4 {
	width: auto;
}
.row .index-wrap.tv-main .index-columns.grid-4 {
	padding-right: 0px;
}
.row .index-wrap.tv-main .index-columns.grid-1 {
	padding-left: 0px;
}
.row .index-wrap.tv-main .index-columns.grid-3 {
	padding-left: 0px;
}
}
@media screen and (max-width:39.93em)
{
.row .index-wrap.tv-main .index-columns.grid-1 {
	width: auto; float: none;
}
.row .index-wrap.tv-main .index-columns.grid-2 {
	width: auto; float: none;
}
.row .index-wrap.tv-main .index-columns.grid-1 {
	padding-right: 0px;
}
.row .index-wrap.tv-main .index-columns.grid-2 {
	padding-left: 0px;
}
}
.index-wrap.tv-view .index-columns.grid-3 {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.12) currentColor; padding: 1.25rem 1.53rem; border-image: none;
}
@media screen and (max-width:63.93em)
{
.row .index-wrap.tv-view .index-content {
	padding-right: 1.25rem; padding-left: 1.25rem;
}
.row .index-wrap.tv-view .index-row {
	display: block;
}
.row .index-wrap.tv-view .index-columns {
	display: block;
}
.row .index-wrap.tv-view .index-row {
	clear: both; display: table; content: "";
}
.row .index-wrap.tv-view .index-columns::after {
	clear: both; display: table; content: "";
}
.row .index-wrap.tv-view .index-columns.grid-1 {
	width: 50%; float: left;
}
.row .index-wrap.tv-view .index-columns.grid-2 {
	width: 50%; float: left;
}
.row .index-wrap.tv-view .index-columns.grid-3 {
	width: auto;
}
.row .index-wrap.tv-view .index-columns.grid-4 {
	width: auto;
}
.row .index-wrap.tv-view .index-columns.grid-4 {
	padding-right: 0px;
}
.row .index-wrap.tv-view .index-columns.grid-1 {
	padding-left: 0px;
}
.row .index-wrap.tv-view .index-columns.grid-3 {
	padding: 0px; border: currentColor; border-image: none;
}
}
@media screen and (max-width:39.93em)
{
.row .index-wrap.tv-view .index-columns.grid-1 {
	width: auto; float: none;
}
.row .index-wrap.tv-view .grid-2 {
	width: auto; float: none;
}
.row .index-wrap.tv-view .index-columns.grid-1 {
	padding-right: 0px;
}
.row .index-wrap.tv-view .index-columns.grid-2 {
	padding-left: 0px;
}
}
.program-list .program-images {
	width: 100%; table-layout: fixed;
}
.program-list .program-images .dis-table-cell {
	width: 100%; height: 120px; text-align: center; vertical-align: middle;
}
.program-list .program-images img {
	height: 100%;
}
.program-list .label-group {
	margin-bottom: 0.5rem;
}
.program-list .program-summary {
	color: rgba(0, 0, 0, 0.55); line-height: 1.65em; font-size: 0.9rem;
}
.program-list .program-time {
	color: rgba(0, 0, 0, 0.7); font-size: 0.75rem;
}
body {
	background-color: rgb(236, 240, 241);
}
.tv-wrap {
	font-family: -apple-system,BlinkMacSystemFont,"Noto Sans KR","Malgun Gothic","돋움","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.tv-wrap button {
	font-family: -apple-system,BlinkMacSystemFont,"Noto Sans KR","Malgun Gothic","돋움","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.tv-wrap input {
	font-family: -apple-system,BlinkMacSystemFont,"Noto Sans KR","Malgun Gothic","돋움","dotum","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
.tv-wrap #user-header {
	background: rgb(35, 35, 35); padding: 1.25rem;
}
.tv-wrap #user-header .row {
	position: relative;
}
@media screen and (max-width:63.93em)
{
.tv-wrap {
	font-family: inherit;
}
.tv-wrap button {
	font-family: inherit;
}
.tv-wrap input {
	font-family: inherit;
}
}
.tv-wrap #user-header .user-logo {
	text-align: center;
}
.tv-wrap #user-nav .menu li a {
	color: rgba(255, 255, 255, 0.6); letter-spacing: -0.05em; font-size: 1.06rem;
}
.tv-wrap #user-nav .menu li a:hover {
	color: rgb(254, 254, 254);
}
.tv-wrap #user-nav .menu li.active a {
	border-radius: 0.15rem; color: rgb(254, 254, 254); font-weight: 500; background-color: rgb(231, 76, 60);
}
@media screen and (max-width:63.93em)
{
.tv-wrap #user-nav {
	text-align: center; margin-top: 1.25rem;
}
.tv-wrap #user-nav .menu {
	margin-right: auto; margin-left: auto; display: inline-block; max-height: 40px;
}
.tv-wrap #user-nav .menu li {
	display: inline-block;
}
}
.tv-wrap #footer-wrap {
	padding: 1.25rem 0px; text-align: center; border-top-color: rgba(0, 0, 0, 0.12); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.tv-wrap #footer-wrap ul.float-center {
	margin-bottom: 0px; display: inline-block;
}
.tv-wrap #footer-wrap ul li {
	color: rgba(0, 0, 0, 0.55); line-height: 1; letter-spacing: -0.05em; font-size: 0.9rem; float: left;
}
.tv-wrap #footer-wrap ul li::before {
	margin: 0px 0.75rem; color: rgba(0, 0, 0, 0.25); content: "|";
}
.tv-wrap #footer-wrap ul li:first-child::before {
	display: none;
}
.tv-header-mov {
	border: 1px solid rgba(0, 0, 0, 0.12); border-image: none; margin-top: 1.25rem; margin-bottom: 1.5rem; position: relative; background-color: rgb(255, 255, 255);
}
.tv-header-mov::after {
	clear: both; display: table; content: "";
}
@media screen and (max-width:63.93em)
{
.row .tv-header-mov {
	border: currentColor; border-image: none; margin-top: 0px; margin-right: -1.25rem; margin-left: -1.25rem;
}
}
.tv-header-mov .mov-columns {
	float: left; min-height: 1px;
}
.tv-header-mov .mov-columns.mov-player {
	margin: -1px; width: calc(100% - 348px);
}
@media screen and (max-width:63.93em)
{
.row .tv-header-mov .mov-columns {
	float: none;
}
.row .tv-header-mov .mov-columns.mov-player {
	width: auto;
}
.row .tv-header-mov .mov-columns.mov-list {
	width: auto;
}
.row .tv-header-mov .mov-columns.mov-player {
	margin: 0px;
}
}
.tv-header-mov .mov-columns.mov-player .mov-player-container {
	padding: 1.25rem 1.5rem;
}
.tv-header-mov .mov-columns.mov-player .mov-title {
	line-height: 1.25; letter-spacing: -0.05em; font-size: 2rem; font-weight: 500; margin-bottom: 1rem;
}
.tv-header-mov .mov-columns.mov-player .mov-info::after {
	clear: both; display: table; content: "";
}
.tv-header-mov .mov-columns.mov-player .mov-info ul {
	list-style: none; margin: 0px; padding: 0px;
}
.tv-header-mov .mov-columns.mov-player .mov-info .button-group {
	margin-bottom: 0px;
}
.tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time li {
	color: rgb(136, 136, 136); letter-spacing: -0.02em; font-size: 0.8rem; float: left;
}
.tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time li::before {
	margin: 0px 0.62rem; color: rgba(0, 0, 0, 0.2); content: "|";
}
.tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time li:first-child::before {
	display: none;
}
.tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time li a {
	color: rgb(136, 136, 136);
}
.tv-header-mov .mov-columns.mov-player .mov-summary {
	line-height: 1.65em; letter-spacing: -0.05em; font-size: 1.06rem;
}
.tv-header-mov .mov-columns.mov-player .mov-summary p {
	margin-bottom: 1.25rem;
}
.tv-header-mov .mov-columns.mov-player .mov-summary p:first-child {
	margin-bottom: 0px;
}
.tv-header-mov .mov-columns.mov-player .mov-key-note {
	font-size: 0.9rem;
}
.tv-header-mov .mov-columns.mov-player .mov-key-note dt {
	line-height: 1; font-weight: 500; margin-bottom: 0.5rem;
}
.tv-header-mov .mov-columns.mov-player .mov-key-note dd {
	color: rgba(0, 0, 0, 0.55); font-weight: 300; margin-bottom: 1.25rem;
}
.tv-header-mov .mov-columns.mov-player .mov-key-note ul li {
	color: rgba(0, 0, 0, 0.55); line-height: 1.65em; font-weight: 300;
}
@media screen and (max-width:39.93em)
{
.row .tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time {
	margin-bottom: 1rem;
}
.row .tv-header-mov .mov-columns.mov-player .mov-info .mov-program-time::after {
	clear: both; display: table; content: "";
}
}
.tv-header-mov .mov-columns.mov-list {
	width: 350px; border-left-color: rgba(0, 0, 0, 0.12); border-left-width: 1px; border-left-style: solid;
}
.tv-header-mov .mov-columns.mov-list .mov-list-title {
	padding: 1.25rem; line-height: 1; letter-spacing: -0.05em; font-size: 1.12rem; font-weight: 500; border-bottom-color: rgba(0, 0, 0, 0.08); border-bottom-width: 1px; border-bottom-style: solid;
}
.tv-header-mov .mov-columns.mov-list .mov-list-content {
	padding: 1.25rem;
}
.tv-header-mov .mov-columns.mov-list .content-inner {
	-ms-overflow-y: auto;
}
.tv-header-mov .mov-columns.mov-list .auto-article {
	margin-top: 1.25rem;
}
.tv-header-mov .mov-columns.mov-list :first-child.auto-article {
	margin-top: 0px;
}
.tv-header-mov .mov-columns.mov-list .auto-article .auto-images {
	width: 120px; height: 68px; margin-right: 0.75rem;
}
.tv-header-mov .mov-columns.mov-list .auto-article.playing .auto-images::before {
	background-color: rgba(0, 0, 0, 0.65);
}
.tv-header-mov .mov-columns.mov-list .auto-article.playing .auto-images::after {
	left: 50%; top: 50%; color: rgb(255, 255, 255); line-height: 1; font-family: "ndsoft fonts"; font-size: 1.75rem; font-style: normal; font-weight: normal; display: inline-block; position: absolute; z-index: 8; content: "\0025"; transform: translateY(-50%) translateX(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width:63.93em)
{
.row .tv-header-mov .mov-columns.mov-list {
	width: auto; height: auto;
}
.row .tv-header-mov .mov-columns.mov-list .content-inner {
	-ms-overflow-x: auto; -ms-overflow-y: inherit;
}
.row .tv-header-mov .mov-columns.mov-list .content-inner-wrapper {
	width: 2190px;
}
.row .tv-header-mov .mov-columns.mov-list .mov-list-title {
	font-weight: 700;
}
.row .tv-header-mov .mov-columns.mov-list .auto-article {
	width: 150px; margin-top: 0px; margin-left: 1.25rem; float: left; min-height: 1px;
}
.row .tv-header-mov .mov-columns.mov-list :first-child.auto-article {
	margin-left: 0px;
}
.row .tv-header-mov .mov-columns.mov-list .auto-article .auto-images {
	width: auto; height: 85px; margin-right: auto; margin-bottom: 0.5rem;
}
}
.mov-player-sticky {
	bottom: 1.25rem;
}
.mov-player-sticky.active {
	width: 360px; right: 1.25rem; position: fixed; z-index: 1000;
}
.mov-player-sticky .sticky-btns {
	right: 0px; bottom: calc(100% + 1px); margin-bottom: 0px; display: none; position: absolute; z-index: 1;
}
.mov-player-sticky.active .sticky-btns {
	display: block;
}
.mov-player-sticky.unactive {
	width: auto; right: inherit; position: static; z-index: inherit;
}
.mov-player-sticky.active.unactive {
	width: auto; right: inherit; position: static; z-index: inherit;
}
@media screen and (max-width:39.93em)
{
.row .mov-player-sticky.active {
	left: 0px; top: 0px; width: 100%; right: inherit; bottom: inherit;
}
.row .mov-player-sticky.active .sticky-btns {
	float: none; display: none;
}
}
.mov-footer {
	margin-bottom: 1.25rem;
}
.mov-footer::after {
	clear: both; display: table; content: "";
}
.mov-footer .tabs {
	border: currentColor; border-image: none; margin-right: -1px;
}
.mov-footer .tabs :first-child:last-child.tabs-title {
	width: 100%;
}
.mov-footer .tabs :first-child:nth-last-child(2).tabs-title {
	width: calc(50% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:nth-last-child(2):first-child:nth-last-child(2).tabs-title ~ .tabs-title {
	width: calc(50% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:last-child:nth-last-child(2).tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(2):first-child:nth-last-child(2).tabs-title ~ :last-child.tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(3).tabs-title {
	width: calc(33.33333% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:nth-last-child(3):first-child:nth-last-child(3).tabs-title ~ .tabs-title {
	width: calc(33.33333% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:last-child:nth-last-child(3).tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(3):first-child:nth-last-child(3).tabs-title ~ :last-child.tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(4).tabs-title {
	width: calc(25% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:nth-last-child(4):first-child:nth-last-child(4).tabs-title ~ .tabs-title {
	width: calc(25% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:last-child:nth-last-child(4).tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(4):first-child:nth-last-child(4).tabs-title ~ :last-child.tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(5).tabs-title {
	width: calc(20% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:nth-last-child(5):first-child:nth-last-child(5).tabs-title ~ .tabs-title {
	width: calc(20% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:last-child:nth-last-child(5).tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(5):first-child:nth-last-child(5).tabs-title ~ :last-child.tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(6).tabs-title {
	width: calc(16.66667% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:nth-last-child(6):first-child:nth-last-child(6).tabs-title ~ .tabs-title {
	width: calc(16.66667% - 1px); margin-right: 1px; display: inline-block;
}
.mov-footer .tabs :first-child:last-child:nth-last-child(6).tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs :first-child:nth-last-child(6):first-child:nth-last-child(6).tabs-title ~ :last-child.tabs-title {
	margin-right: -6px;
}
.mov-footer .tabs .tabs-title {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.75) currentColor; border-image: none; text-align: center;
}
.mov-footer .tabs :first-child.tabs-title {
	border-left-color: rgba(0, 0, 0, 0.12); border-left-width: 1px; border-left-style: solid;
}
.mov-footer .tabs .tabs-title a {
	color: rgba(0, 0, 0, 0.45); font-size: 1.06rem;
}
.mov-footer .tabs .tabs-title a:hover {
	color: rgb(34, 34, 34);
}
.mov-footer .tabs .tabs-title.is-active {
	border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.75) transparent; margin-left: -1px; border-left-width: 1px; border-left-style: solid;
}
.mov-footer .tabs .tabs-title.is-active a {
	background: none; color: rgb(34, 34, 34);
}
.mov-footer .tabs-content {
	border: currentColor; border-image: none;
}
.mov-footer .tabs-content .tabs-panel {
	padding: 1.25rem 0px 0px;
}
.tv-view.onair .mov-player::after {
	padding: 0.7rem 0.93rem; color: rgba(255, 255, 255, 0.4); line-height: 1.25em; font-size: 0.7rem; font-weight: 300; display: block; content: "* 인터넷환경에 따라 방송내용이 다소 지연될 수 있습니다."; background-color: rgba(0, 0, 0, 1);
}
.tv-view.onair .responsive-embed {
	margin-bottom: 0px;
}
.tv-view.onair .tv-header-mov .mov-columns.mov-list .mov-list-title a {
	text-decoration: none; display: block; position: relative;
}
.tv-view.onair .tv-header-mov .mov-columns.mov-list .mov-list-title a::before {
	top: 50%; right: 0.5rem; color: rgba(0, 0, 0, 0.4); font-size: 0.7rem; font-weight: 300; position: absolute; z-index: 1; content: "전체보기"; transform: translateY(-50%);
}
.tv-view.onair .tv-header-mov .mov-columns.mov-list .mov-list-title a::after {
	font: 0.7rem FontAwesome; top: 50%; right: 0px; color: rgba(0, 0, 0, 0.4); display: inline-block; position: absolute; z-index: 2; content: "\f105"; font-size-adjust: none; font-stretch: normal; transform: translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: auto;
}
.tv-view.onair .tv-header-mov .mov-columns.mov-list .mov-list-title small {
	color: rgba(0, 0, 0, 0.5); letter-spacing: -0.02em; font-size: 0.7rem; font-weight: 300;
}
.tv-view.onair .tv-header-mov .mov-columns.mov-list .mov-list-content {
	padding: 0px;
}
.tv-view.onair .onair-content {
	padding-right: 1.25rem; padding-left: 1.25rem; border-bottom-color: rgba(0, 0, 0, 0.05); border-bottom-width: 1px; border-bottom-style: solid;
}
.tv-view.onair :last-child.onair-content {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.tv-view.onair .onair-content .dis-table {
	width: 100%; table-layout: fixed;
}
.tv-view.onair .onair-content .dis-table-cell {
	width: 100%; height: 75px; text-align: left; font-size: 1.06rem; vertical-align: middle;
}
.tv-view.onair .onair-content .dis-table-cell.times {
	width: 95px; text-align: center;
}
.tv-view.onair .onair-content.user-bg {
	color: rgb(254, 254, 254); position: relative;
}
.tv-view.onair .onair-content.user-bg a {
	color: rgb(254, 254, 254);
}
.tv-view.onair .onair-content.user-bg .dis-table-cell {
	font-size: 1.25rem;
}
.tv-view.onair .onair-content.user-bg::before {
	top: 0.35rem; right: 0.75rem; color: rgba(255, 255, 255, 0.5); letter-spacing: -0.02em; font-size: 0.75rem; font-weight: 300; position: absolute; z-index: 1; content: "ON AIR";
}
@media screen and (max-width:63.93em)
{
.row .tv-view.onair .onair-content {
	padding: 1.25rem; width: 200px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; float: left;
}
.row .tv-view.onair .onair-content::before {
	text-align: center; color: rgb(255, 255, 255); font-size: 0.9rem; display: block; visibility: hidden; content: "ON AIR";
}
.row .tv-view.onair .onair-content.user-bg::before {
	top: inherit; right: inherit; font-size: 1rem; margin-bottom: 1rem; visibility: visible; position: static; transform: translateY(0px);
}
.row .tv-view.onair .onair-content .dis-table {
	width: auto; line-height: 1.25; display: block;
}
.tv-view.onair .onair-content .dis-table-cell {
	width: auto; line-height: 1.25; display: block;
}
.row .tv-view.onair .onair-content .dis-table-cell.times {
	width: auto; margin-bottom: 0.25rem;
}
.row .tv-view.onair .onair-content .dis-table-cell {
	height: auto; text-align: center; vertical-align: top;
}
.row .tv-view.onair .mov-list-content .onair-content.user-bg .dis-table-cell {
	font-size: 1.06rem; font-weight: 700;
}
}
.tv-schedule .schedule-lnb {
	text-align: center; margin-bottom: 3rem; border-bottom-color: rgba(0, 0, 0, 0.12); border-bottom-width: 1px; border-bottom-style: solid; max-height: 97px;
}
.tv-schedule .schedule-lnb::after {
	clear: both; display: table; content: "";
}
.tv-schedule .schedule-lnb .lnb-btns {
	width: 96px; height: 96px; font-size: 3rem; cursor: pointer;
}
.tv-schedule .schedule-lnb .lnb-btns.prev {
	float: left;
}
.tv-schedule .schedule-lnb .lnb-btns.next {
	float: right;
}
.tv-schedule .schedule-lnb .lnb-area {
	width: calc(100% - 192px); margin-right: auto; margin-left: auto; display: inline-block;
}
.tv-schedule .schedule-lnb .lnb-area-days {
	width: 14.28%; height: 96px; line-height: 1; letter-spacing: -0.02em; float: left; position: relative; cursor: pointer; opacity: 0.5;
}
.tv-schedule .schedule-lnb .lnb-area-days::after {
	left: 0px; top: calc(100% - 1px); right: 0px; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; visibility: hidden; position: absolute; z-index: 1; content: "";
}
.tv-schedule .schedule-lnb .lnb-area-days:hover {
	opacity: 1;
}
.tv-schedule .schedule-lnb .lnb-area-days.today {
	opacity: 1;
}
.tv-schedule .schedule-lnb .lnb-area-days strong {
	font-size: 1.8rem; font-weight: 500; margin-bottom: 0.5rem; display: block;
}
.tv-schedule .schedule-lnb .lnb-area-days strong ~ span {
	color: rgba(0, 0, 0, 0.5); font-size: 0.9rem;
}
.tv-schedule .schedule-lnb .lnb-area-days:hover::after {
	border-bottom-color: rgba(0, 0, 0, 0.9); visibility: visible;
}
.tv-schedule .schedule-lnb .lnb-area-days.today::after {
	border-bottom-color: rgba(0, 0, 0, 0.9); visibility: visible;
}
@media screen and (max-width:63.93em)
{
.row .tv-schedule .schedule-lnb {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; max-height: inherit;
}
.row .tv-schedule .schedule-lnb .lnb-area-days strong {
	font-size: 1.3rem;
}
.row .tv-schedule .schedule-lnb .lnb-area-days {
	width: 14.28%; height: 85px;
}
.row .tv-schedule .schedule-lnb .lnb-area-days::after {
	top: inherit; bottom: 0px;
}
.row .tv-schedule .schedule-lnb .lnb-btns {
	display: none;
}
.row .tv-schedule .schedule-lnb .lnb-area {
	width: 100%;
}
.row .tv-schedule .schedule-lnb .lnb-area-inner {
	width: auto;
}
}
@media screen and (max-width:39.93em)
{
.row .tv-schedule .schedule-lnb .lnb-area-days {
	width: 25%;
}
}
.ui-datepicker-days-cell-over a {
	border-color: rgba(0, 0, 0, 0.08) !important; color: rgb(254, 254, 254) !important; background-color: rgba(0, 0, 0, 0.5) !important;
}
.tv-schedule {
	padding: 1.5rem 0px;
}
#admin-wrap .tv-schedule {
	padding: 0px;
}
.tv-schedule .schedule-header {
	margin-bottom: 0.5rem;
}
.tv-schedule .schedule-header::after {
	clear: both; display: table; content: "";
}
.tv-schedule .schedule-list-container::after {
	clear: both; display: table; content: "";
}
.tv-schedule .schedule-header .button-group {
	margin-bottom: 0px;
}
.tv-schedule .schedule-header .button {
	margin-bottom: 0px;
}
.tv-schedule .schedule-program {
	padding: 1.5rem 0px; width: 100%; border-bottom-color: rgba(0, 0, 0, 0.08); border-bottom-width: 1px; border-bottom-style: solid; table-layout: fixed;
}
.tv-schedule :first-child.schedule-program {
	border-top-color: rgba(0, 0, 0, 0.12); border-top-width: 1px; border-top-style: solid;
}
.tv-schedule .schedule-program .dis-table-cell {
	width: 100%; vertical-align: middle;
}
.tv-schedule .schedule-program .dis-table-cell.times {
	width: 160px; text-align: center;
}
.tv-schedule .schedule-program .dis-table-cell.review {
	width: 200px; text-align: center; letter-spacing: -0.05em;
}
.tv-schedule .schedule-program .dis-table-cell.review > .button {
	padding-right: 1.5rem; padding-left: 1.5rem;
}
.tv-schedule .schedule-program .on-time {
	line-height: 1; font-size: 1.75rem;
}
.tv-schedule .schedule-program .now-on {
	padding: 0.5rem 1rem; color: rgb(255, 255, 255); line-height: 1; letter-spacing: -0.05em; clear: both; font-size: 1rem; margin-top: 0.75rem; display: none;
}
.tv-schedule .schedule-program.onair {
	background-color: rgba(0, 0, 0, 0.05);
}
.tv-schedule .schedule-program.onair .now-on {
	display: inline-block;
}
.tv-schedule .program-area {
	letter-spacing: -0.05em;
}
.tv-schedule .program-area img {
	margin-right: 1.25rem; float: left; max-width: 230px;
}
.tv-schedule .program-area .pro-title {
	line-height: 1.25em; font-size: 1.25rem; font-weight: 500; margin-bottom: 0.5rem;
}
.tv-schedule .program-area .pro-summary {
	color: rgba(0, 0, 0, 0.5); font-size: 0.9rem; margin-bottom: 1rem;
}
@media screen and (max-width:63.93em)
{
.row .tv-schedule {
	padding-right: 1.25rem; padding-left: 1.25rem;
}
.row .tv-schedule .program-area img {
	display: none;
}
}
@media screen and (max-width:39.93em)
{
.row .tv-schedule .schedule-program {
	width: auto; display: block;
}
.row .tv-schedule .schedule-program .dis-table-cell {
	width: auto; display: block;
}
.row .tv-schedule .schedule-program .dis-table-cell {
	padding-right: 0.93rem; padding-left: 0.93rem;
}
.row .tv-schedule .schedule-program .dis-table-cell::after {
	clear: both; display: table; content: "";
}
.row .tv-schedule .schedule-program .dis-table-cell.times {
	width: auto; text-align: left;
}
.row .tv-schedule .schedule-program .dis-table-cell.review {
	width: auto; text-align: left;
}
.row .tv-schedule .schedule-program .dis-table-cell.times {
	margin-bottom: 1rem;
}
.row .tv-schedule .schedule-program .dis-table-cell.review .button {
	padding: 0.75rem 1.12rem; font-size: 0.8rem;
}
.row .tv-schedule .schedule-program .on-time {
	font-size: 1.25rem; display: inline-block;
}
.row .tv-schedule .schedule-program .now-on {
	padding: 0.25rem 0.5rem; clear: none; font-size: 0.6rem; margin-top: 0px;
}
.row .tv-schedule .program-area .label-group {
	margin-bottom: 0.5rem;
}
.row .tv-schedule .program-area .pro-title {
	letter-spacing: -0.07em; font-size: 1.5rem; font-weight: 700;
}
.row .tv-schedule .button-group {
	margin-bottom: 1px;
}
.row .tv-schedule .button {
	margin-bottom: 1px;
}
}
.episode .ep-header {
	margin: -0.93rem -0.93rem 2rem; padding: 1.25rem; background-color: rgb(48, 55, 64);
}
.episode .ep-header::after {
	clear: both; display: table; content: "";
}
.episode .ep-header .ep-header-image {
	width: 300px; float: left; position: relative; box-shadow: 0px 0px 10px rgba(0,0,0,0.55);
}
.episode .ep-header .ep-header-image::before {
	border: 1px solid rgba(255, 255, 255, 0.08); border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1; content: "";
}
.episode .ep-header .ep-header-image img {
	width: 100%; position: relative;
}
.episode .ep-header .ep-header-content {
	width: calc(100% - 330px); padding-left: 0.5rem; float: right;
}
.episode .ep-header .ep-header-content {
	color: rgba(255, 255, 255, 0.65); letter-spacing: -0.05em;
}
.episode .ep-header .ep-header-title {
	color: rgb(254, 254, 254); line-height: 1.25em; letter-spacing: -0.05em; font-size: 2rem; margin-bottom: 0.8rem; margin-left: -0.5rem;
}
.episode .ep-header .ep-header-summary {
	line-height: 1.65em; font-size: 0.9rem; margin-bottom: 1.5rem;
}
.episode .ep-header .ep-header-summary > strong {
	color: rgb(254, 254, 254); font-size: 1rem; margin-bottom: 0.5rem; display: block;
}
.episode .ep-header .ep-header-times {
	color: rgb(254, 254, 254); font-size: 0.9rem;
}
@media screen and (max-width:63.93em)
{
.row .episode .ep-header .ep-header-image {
	padding: 1.25rem; width: auto; text-align: center; margin-right: auto; margin-bottom: 1.25rem; float: none; box-shadow: none; background-color: rgba(0, 0, 0, 0.08);
}
.row .episode .ep-header .ep-header-image img {
	width: auto; margin-right: auto; margin-left: auto;
}
.row .episode .ep-header .ep-header-content {
	width: auto; float: none;
}
}
@media screen and (max-width:39.93em)
{
.row .episode .ep-header .ep-header-image {
	background: none; padding: 0px;
}
.row .episode .ep-header .ep-header-image::before {
	display: none;
}
}
.episode .ep-container {
	margin-bottom: 2rem;
}
.episode .ep-panel-title {
	line-height: 1.25em; letter-spacing: -0.05em; font-size: 1.75rem; margin-bottom: 0.5rem;
}
.episode .ep-panel-summary {
	color: rgba(0, 0, 0, 0.5); line-height: 1.65em; letter-spacing: -0.05em; font-size: 0.9rem;
}
.episode .ep-panel-times {
	color: rgba(0, 0, 0, 0.7); letter-spacing: -0.02em; font-size: 0.8rem; margin-bottom: 1.25rem;
}
.tv-episode-list {
	padding: 1.25rem 0px;
}
.tv-episode-list .lists li {
	padding-bottom: 1rem; margin-bottom: 1rem; border-bottom-color: rgba(0, 0, 0, 0.15); border-bottom-width: 1px; border-bottom-style: dotted;
}
.tv-episode-list .lists li:last-child {
	border-bottom-style: solid;
}
.tv-episode-list .lists li::after {
	clear: both; display: table; content: "";
}
.tv-episode-list .lists li a {
	text-decoration: none; display: block;
}
.tv-episode-list .lists li a .list-titles {
	letter-spacing: -0.05em; overflow: hidden; font-size: 1.06rem; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.tv-episode-list .lists li a:hover .list-titles {
	text-decoration: underline;
}
.tv-episode-list .lists li img {
	margin-right: 1.25rem; float: left; max-width: 120px;
}
.tv-episode-list .lists .list-dated {
	color: rgba(0, 0, 0, 0.5); font-size: 0.8rem;
}
