body {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
body {
	font: 12px/1.4 "µ¸¿ò", dotum, sans-serif; color: rgb(47, 47, 47); font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.4 "µ¸¿ò", dotum, sans-serif; color: rgb(47, 47, 47); font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.4 "µ¸¿ò", dotum, sans-serif; color: rgb(47, 47, 47); font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.4 "µ¸¿ò", dotum, sans-serif; color: rgb(47, 47, 47); font-size-adjust: none; font-stretch: normal;
}
table {
	font: 12px/1.4 "µ¸¿ò", dotum, sans-serif; color: rgb(47, 47, 47); font-size-adjust: none; font-stretch: normal;
}
img {
	border: 0px currentColor; border-image: none; vertical-align: top;
}
fieldset {
	border: 0px currentColor; border-image: none; vertical-align: top;
}
hr {
	display: none;
}
button {
	background: none; border: 0px currentColor; border-image: none; overflow: visible; cursor: pointer;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
dl {
	list-style: none;
}
legend {
	width: 1px; height: 1px; line-height: 0; overflow: hidden; font-size: 0px; visibility: hidden;
}
caption {
	width: 1px; height: 1px; line-height: 0; overflow: hidden; font-size: 0px; visibility: hidden;
}
a {
	text-decoration: none;
}
a:hover {
	color: rgb(254, 131, 10); text-decoration: underline;
}
a:link {
	color: rgb(47, 47, 47);
}
a:visited {
	color: rgb(47, 47, 47);
}
a:active {
	color: rgb(47, 47, 47);
}
#skip {
	height: 0px;
}
#skip a {
	left: 0px; top: -10000px; width: 100%; text-align: center; font-size: 1.3em; display: block; position: absolute; z-index: 500;
}
#skip a:hover {
	background: rgb(29, 96, 167); padding: 15px 0px; top: 0px; color: rgb(255, 255, 255); font-weight: bold; position: absolute; z-index: 500;
}
#skip a:focus {
	background: rgb(29, 96, 167); padding: 15px 0px; top: 0px; color: rgb(255, 255, 255); font-weight: bold; position: absolute; z-index: 500;
}
#skip a:active {
	background: rgb(29, 96, 167); padding: 15px 0px; top: 0px; color: rgb(255, 255, 255); font-weight: bold; position: absolute; z-index: 500;
}
#wrap a:hover {
	color: rgb(254, 131, 10) !important;
}
.mask {
	background: url("http://img.sbs.co.kr/sw11/tv/common/blank.gif") left top; border: 1px solid rgb(0, 0, 0); border-image: none; left: 0px; top: 0px; display: block; position: absolute; z-index: 240; opacity: 0.2;
}
.play {
	top: 50%; text-indent: -2000em; display: block; position: absolute; z-index: 250;
}
.blind {
	left: 0px; top: -1000em; overflow: hidden; display: block; position: absolute;
}
.m_b5 {
	margin-bottom: 5px;
}
#wrap {
	
}
#header {
	position: relative; z-index: 1;
}
#wrap #container {
	margin: 0px auto 20px; width: 990px; overflow: hidden;
}
.gnb {
	margin: 0px auto 8px; width: 990px; position: relative;
}
.gnb .gnb_lft {
	float: left;
}
.gnb .gnb_lft dl {
	background: url("images/common/bu_gnb.png") no-repeat 100% 0px; padding-left: 2px;
}
.gnb .gnb_lft dl:first-child {
	background: none; padding-left: 0px;
}
.gnb .gnb_rig {
	padding-right: 7px; float: right;
}
.gnb .gnb_rig dd.bnr {
	margin-right: 10px;
}
.gnb .gnb_rig dd.link {
	padding: 8px 0px 0px 3px; float: left;
}
.gnb .gnb_rig dd.link img {
	vertical-align: top;
}
.gnb dl {
	float: left;
}
.gnb dl dd {
	float: left;
}
.gnb dl dd a[class^='ntag_'] {
	display: block; position: relative;
}
[class^='nt_pos_'] {
	display: block; position: absolute;
}
.ntag_moneyroket {
	width: 82px; height: 38px;
}
.nt_pos_community {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/cnbc/new_gnb/n_tag_community.gif") no-repeat left top; top: -7px; width: 44px; height: 25px; right: -31px;
}
.gnb_rig dd.bnr_free {
	top: 9px; right: 106px; position: absolute; z-index: 255;
}
#content {
	width: 725px; float: left;
}
#aside {
	padding: 0px 1px; width: 248px; float: right;
}
#aside a {
	color: rgb(47, 47, 47);
}
#footer {
	margin: 0px auto; width: 990px;
}
#container .ad_rig {
	border: 1px solid rgb(225, 225, 225); border-image: none; left: 50%; top: 168px; width: 120px; height: 240px; margin-left: 505px; position: absolute;
}
#container .ad_rig3 {
	border: 1px solid rgb(225, 225, 225); border-image: none; left: 50%; top: 418px; width: 120px; height: 240px; margin-left: 505px; position: absolute;
}
#container .ad_rig2 {
	left: 50%; top: 106px; margin-left: 505px; position: absolute;
}
#container .ad_rig4 {
	left: 50%; top: 668px; margin-left: 505px; position: absolute;
}
#container .ad_rig5 {
	left: 50%; top: 810px; margin-left: 505px; position: absolute;
}
#container .bnr_left {
	left: 50%; top: 168px; width: 122px; height: 196px; margin-left: -627px; position: absolute;
}
.listpage#content {
	
}
.listpage#content div.path {
	font: bold 18px/1.2 dotum; height: 25px; color: rgb(65, 73, 94); padding-top: 10px; border-bottom-color: rgb(0, 141, 208); border-bottom-width: 2px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;
}
.listpage#content div.path span {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_vertical2.gif") no-repeat 0px 2px; padding: 0px 10px;
}
.listpage#content div.path span:first-child {
	background: none;
}
.listpage#content div.path span strong {
	color: rgb(132, 128, 239);
}
.listpage#content .list_news {
	margin: 24px 0px 40px;
}
.listpage#content .list_news li {
	padding: 24px 10px 0px; position: relative;
}
.listpage#content .list_news li > span strong {
	font-weight: normal;
}
.listpage#content .list_news li a > img {
	left: 10px; top: 24px; position: absolute;
}
.listpage#content .list_news li a:hover {
	text-decoration: none;
}
.listpage#content .list_news li a strong {
	color: rgb(0, 0, 99); font-size: 14px; display: block;
}
.listpage#content .list_news li a strong img {
	margin-left: 5px; vertical-align: -3px;
}
.listpage#content .list_news li a:hover strong {
	color: rgb(254, 131, 10); text-decoration: underline;
}
.listpage#content .list_news li a span {
	margin: 5px 0px; height: 32px; overflow: hidden; display: block;
}
.listpage#content .list_news li a:hover span {
	color: rgb(32, 32, 32);
}
.listpage#content .list_news li > span {
	color: rgb(150, 156, 167); font-size: 11px;
}
.listpage#content .list_news li.thum_type1 {
	height: 72px; padding-left: 145px;
}
.listpage#content .list_news li.thum_type1 a .mask {
	left: 10px; top: 24px; width: 127px; height: 70px; display: block;
}
.listpage#content .list_news li.thum_type1 a .play {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/ssports/ico_play2.gif") no-repeat 0px 0px; left: 113px; top: 73px; width: 25px; height: 19px; text-indent: -2000em; display: block; position: absolute;
}
.listpage#content .list_news li.thum_type2 {
	height: 106px; padding-left: 90px;
}
.listpage#content .list_news li.thum_type2 a .mask {
	left: 10px; top: 24px; width: 70px; height: 104px; display: block;
}
.listpage#content .list_news li.headline {
	background: rgb(249, 249, 249); border: 1px solid rgb(216, 216, 216); border-image: none; padding-top: 20px; padding-bottom: 20px;
}
.listpage#content .list_news li.headline a > img {
	left: 10px; top: 20px; position: absolute;
}
.listpage#content .list_news li.headline.thum_type1 a .mask {
	top: 20px;
}
.listpage#content .list_news li.headline.thum_type2 a .mask {
	top: 20px;
}
.listpage#content .paging {
	text-align: center;
}
.listpage#content .paging a {
	padding: 3px 6px 1px; border: 1px solid rgb(227, 227, 227); border-image: none; height: 12px; line-height: 1; font-family: "arial"; font-size: 11px; vertical-align: top; display: inline-block;
}
.listpage#content .paging a.thispage {
	border: 1px solid rgb(255, 176, 99); border-image: none; color: rgb(255, 126, 0); text-decoration: none;
}
div.pager a:hover {
	border: 1px solid rgb(255, 176, 99); border-image: none; color: rgb(255, 126, 0); text-decoration: none;
}
.listpage#content .paging a.thispage {
	font-weight: bold;
}
.listpage#content .paging a img {
	margin: 2px 0px;
}
.paginate {
	margin: 10px auto 20px; padding: 10px 0px; text-align: center; overflow: hidden; clear: both;
}
.paginate a {
	border: 1px solid rgb(227, 227, 227); border-image: none; width: 20px; height: 17px; color: rgb(0, 0, 0); line-height: 1.35em; overflow: hidden; padding-top: 2px; font-family: verdana !important; font-size: 11px; text-decoration: none; vertical-align: top; display: inline-block;
}
.paginate strong {
	border: 1px solid rgb(227, 227, 227); border-image: none; width: 20px; height: 17px; color: rgb(0, 0, 0); line-height: 1.35em; overflow: hidden; padding-top: 2px; font-family: verdana !important; font-size: 11px; text-decoration: none; vertical-align: top; display: inline-block;
}
.paginate strong {
	border-width: 2px; margin-top: -1px;
}
.paginate a:hover {
	border-color: rgb(108, 108, 108); color: rgb(108, 108, 108) !important;
}
.paginate a:focus {
	border-color: rgb(108, 108, 108); color: rgb(108, 108, 108) !important;
}
.paginate strong {
	border-color: rgb(108, 108, 108); color: rgb(108, 108, 108) !important;
}
.paginate a.dir {
	height: 19px; padding-top: 0px;
}
.paginate a.dir img {
	line-height: 0; margin-top: 6px; vertical-align: top;
}
.paginate a.edge {
	width: 30px; line-height: 1.72em; font-family: dotum,"µ¸¿ò" !important;
}
.paginate a.edge:hover {
	color: rgb(0, 0, 0) !important;
}
.listpage#content h2.path {
	background: rgb(249, 249, 249); border: 1px solid rgb(205, 206, 211) !important; border-image: none !important; height: 39px; overflow: hidden; font-size: 14px; font-weight: bold; margin-bottom: -25px;
}
.listpage#content h2.path > strong {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_arrow4.gif") no-repeat 100% 0px rgb(255, 255, 255); padding: 0px 18px 0px 12px; height: 39px; color: rgb(255, 73, 43); line-height: 2.8; font-size: 14px; margin-right: 5px; float: left;
}
.listpage#content h2.path > span {
	padding: 0px 5px; height: 39px; color: rgb(68, 68, 68); line-height: 2.8; font-size: 14px; float: left;
}
.endpage#content {
	margin-top: 8px;
}
.endpage#content .path {
	text-align: right; color: rgb(215, 215, 215); font-size: 11px;
}
.endpage#content .path span {
	padding: 0px 3px; color: rgb(108, 108, 108);
}
.endpage#content .path strong {
	padding: 0px 3px; color: rgb(108, 108, 108);
}
.endpage#content .path a {
	color: rgb(108, 108, 108);
}
.endpage#content .wrap_tit {
	padding: 0px 0px 3px 3px; height: 100%; margin-top: 5px; border-bottom-color: rgb(0, 141, 208); border-bottom-width: 2px; border-bottom-style: solid; position: relative; min-height: 71px; max-height: 90px;
}
.endpage#content .wrap_tit h2 {
	color: rgb(64, 67, 69); line-height: 1.2; letter-spacing: -2px; font-size: 25px; margin-bottom: 10px;
}
.endpage#content .wrap_tit .tit_sub {
	color: rgb(103, 103, 103);
}
.endpage#content .wrap_tit .date {
	text-align: right; right: 0px; bottom: 3px; color: rgb(118, 118, 118); font-size: 11px; position: absolute;
}
.endpage#content .wrap_tit .date span {
	letter-spacing: -1px; padding-left: 5px; font-family: Verdana, Geneva, sans-serif; margin-left: 5px;
}
.endpage#content .bar_social {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(218, 218, 218) rgb(218, 218, 218); border-image: none; overflow: hidden; margin-bottom: 20px;
}
.endpage#content .btns_social {
	margin: 7px 0px 0px 5px; float: left;
}
.endpage#content .btns_social li {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_vertical1.gif") no-repeat 0px 2px; padding: 0px 7px; float: left;
}
.endpage#content .btns_social li:first-child {
	background: none;
}
.endpage#content .btns_social a {
	height: 14px; display: block;
}
.endpage#content .btns_social a span {
	left: -2000em; top: -2000em; width: 1px; height: 1px; text-indent: -2000em; display: block; position: absolute;
}
.endpage#content .btns_social a.btn_twit {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_social.gif") no-repeat 0px 0px; width: 40px;
}
.endpage#content .btns_social a.btn_face {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_social.gif") no-repeat -40px 0px; width: 52px;
}
.endpage#content .btns_social a.btn_meto {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_social.gif") no-repeat -92px 0px; width: 53px;
}
.endpage#content .btns_social a.btn_yozum {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_social.gif") no-repeat -145px 0px; width: 34px;
}
.endpage#content .btns_social a.btn_cyworld {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_social.gif") no-repeat -179px 0px; width: 52px;
}
.endpage#content .btns_view {
	float: right;
}
.endpage#content .btns_view button {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; float: left;
}
.endpage#content .btns_view button span {
	text-indent: -2000em; display: block;
}
.endpage#content .btns_view .btn_zoom span {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_view.gif") no-repeat 0px 0px; width: 31px; height: 29px;
}
.endpage#content .btns_view .btn_out span {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_view.gif") no-repeat -31px 0px; width: 31px; height: 29px;
}
.endpage#content .btns_view .btn_print span {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_view.gif") no-repeat -62px 0px; width: 31px; height: 29px;
}
.endpage#content .cnt_news {
	font: 16px/1.5 "±¼¸²", gulim; overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.endpage#content .cnt_news .vod_wrap {
	text-align: center;
}
.endpage#content .txt_copyright {
	margin: 15px 0px 30px; overflow: hidden;
}
.endpage#content .txt_copyright p {
	padding: 0px 30px 0px 10px; color: rgb(118, 118, 118); line-height: 1.7; font-size: 11px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: right; display: inline-block;
}
.endpage#content .txt_copyright p span {
	color: rgb(89, 88, 88); font-size: 11px;
}
.endpage#content .txt_copyright p span a {
	margin-right: 20px;
}
.endpage#content .txt_copyright p span em {
	color: rgb(0, 141, 208); font-style: normal; font-weight: bold;
}
.endpage#content .txt_copyright p span img {
	vertical-align: 0px;
}
.endpage#content .avi_box {
	margin: 0px auto; width: 660px;
}
.endpage#content .atc_related {
	margin-bottom: 25px;
}
.endpage#content .atc_related h3 {
	color: rgb(66, 106, 145); padding-bottom: 5px; font-size: 14px; border-bottom-color: rgb(207, 217, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.endpage#content .atc_related ul {
	color: rgb(64, 67, 69); overflow: hidden; font-size: 16px; margin-top: 20px;
}
.endpage#content .atc_related ul li {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_re.gif") no-repeat 5px 5px; padding-left: 15px; margin-bottom: 8px;
}
.endpage#content .atc_related ul li a {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.endpage#content .atc_related ul li span {
	color: rgb(148, 148, 148); font-family: Verdana, Geneva, sans-serif; font-size: 11px; margin-left: 15px;
}
.endpage#content .atc_related1 {
	background: rgb(252, 253, 254); padding: 10px 10px 6px; border: 1px solid rgb(228, 234, 240); border-image: none; overflow: hidden;
}
.endpage#content .atc_related1 h3 {
	color: rgb(66, 106, 145); line-height: 1.4; font-size: 12px; margin-right: 10px; float: left;
}
.endpage#content .atc_related1 ul {
	color: rgb(0, 0, 0); font-size: 12px; float: left;
}
.endpage#content .atc_related1 ul li {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_dot.gif") no-repeat 0px 6px; width: 630px; overflow: hidden; padding-left: 10px; margin-top: 8px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.endpage#content .atc_related1 ul li:first-child {
	margin-top: 0px;
}
.endpage#content .atc_related2 {
	background: rgb(252, 253, 254); padding: 10px 10px 6px; border: 1px solid rgb(228, 234, 240); border-image: none; width: 284px;
}
.endpage#content .atc_related2 h3 {
	color: rgb(66, 106, 145); font-size: 12px; margin-bottom: 10px;
}
.endpage#content .atc_related2 ul {
	color: rgb(0, 0, 0); font-size: 12px;
}
.endpage#content .atc_related2 ul li {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_dot.gif") no-repeat 0px 6px; width: 265px; overflow: hidden; padding-left: 10px; margin-top: 12px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.endpage#content .atc_related2 ul li:first-child {
	margin-top: 0px;
}
.endpage#content .atc_related3 {
	background: rgb(252, 253, 254); padding: 10px 10px 0px; border: 1px solid rgb(228, 234, 240); border-image: none; overflow: hidden;
}
.endpage#content .atc_related3 h3 {
	margin: 2px 10px 0px 0px; color: rgb(66, 106, 145); font-size: 12px; float: left;
}
.endpage#content .atc_related3 ul {
	width: 640px; color: rgb(0, 0, 0); font-size: 12px; float: left;
}
.endpage#content .atc_related3 ul li {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bu_dot.gif") no-repeat 0px 6px; margin: 0px 20px 7px 0px; width: 290px; overflow: hidden; padding-left: 10px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.endpage#content .atc_popular {
	margin-top: 40px; margin-bottom: 60px;
}
.endpage#content .atc_popular h3 {
	color: rgb(66, 106, 145); padding-bottom: 5px; font-size: 14px; border-bottom-color: rgb(207, 217, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.endpage#content .atc_popular > div {
	overflow: hidden; margin-top: 10px;
}
.endpage#content .atc_popular > div .list_popular1 {
	width: 339px; float: left;
}
.endpage#content .atc_popular > div .list_popular1 li {
	position: relative; -ms-zoom: 1;
}
.endpage#content .atc_popular > div .list_popular1 li a {
	color: rgb(148, 148, 148); display: block; cursor: pointer;
}
.endpage#content .atc_popular > div .list_popular1 li a:hover {
	text-decoration: none;
}
.endpage#content .atc_popular > div .list_popular1 li a .img_crop {
	background: rgb(252, 253, 254); width: 339px; height: 191px; text-align: center; overflow: hidden; margin-bottom: 8px; display: block;
}
.endpage#content .atc_popular > div .list_popular1 li a .img_crop img {
	max-width: 339px;
}
.endpage#content .atc_popular > div .list_popular1 li a strong {
	margin: 9px 0px 5px; color: rgb(47, 47, 47); overflow: hidden; font-size: 16px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.endpage#content .atc_popular > div .list_popular1 li a:hover strong {
	color: rgb(254, 131, 10); text-decoration: underline;
}
.endpage#content .atc_popular > div .list_popular1 li a span {
	height: 30px; line-height: 1.3em; overflow: hidden; display: block;
}
.endpage#content .atc_popular > div .list_popular1 li a:hover span {
	color: rgb(89, 91, 98);
}
.endpage#content .atc_popular > div .list_popular1 li a .mask {
	width: 337px; height: 189px;
}
.endpage#content .atc_popular > div .reply {
	text-align: right; margin-top: 7px; display: block;
}
.endpage#content .atc_popular > div .reply .cmt {
	height: 11px; display: inline-block;
}
.endpage#content .atc_popular > div .reply .cmt img {
	line-height: 11px; vertical-align: middle;
}
.endpage#content .atc_popular > div .reply .cmt em {
	line-height: 1.27em; padding-left: 2px; font-style: normal;
}
.endpage#content .atc_popular > div .reply a {
	color: rgb(89, 91, 98); font-size: 11px;
}
.endpage#content .atc_popular > div .reply a:hover {
	text-decoration: none;
}
.endpage#content .atc_popular > div .list_popular2 {
	width: 370px; float: right;
}
.endpage#content .atc_popular > div .list_popular2 li {
	height: 62px; margin-bottom: 9px; position: relative;
}
.endpage#content .atc_popular > div .list_popular2 li a {
	height: 62px; display: block; cursor: pointer;
}
.endpage#content .atc_popular > div .list_popular2 li a .img_crop {
	background: rgb(252, 253, 254); width: 112px; height: 62px; text-align: center; overflow: hidden; margin-bottom: 8px; display: block;
}
.endpage#content .atc_popular > div .list_popular2 li a .img_crop img {
	max-width: 112px;
}
.endpage#content .atc_popular > div .list_popular2 li a strong {
	left: 122px; top: 0px; width: 240px; height: 37px; color: rgb(30, 30, 30); overflow: hidden; font-size: 14px; display: block; position: absolute;
}
.endpage#content .atc_popular > div .list_popular2 li a:hover strong {
	color: rgb(254, 131, 10); text-decoration: underline; cursor: pointer;
}
.endpage#content .atc_popular > div .list_popular2 li a .mask {
	width: 110px; height: 60px;
}
.endpage#content .atc_popular > div .list_popular2 li .reply {
	left: 122px; text-align: left; bottom: 3px; margin-top: 10px; display: block; position: absolute;
}
.endpage#content .atc_popular > div .list_popular2 li .reply .cmt {
	height: 11px; display: inline-block;
}
.endpage#content .atc_popular > div .list_popular2 li .reply .cmt em {
	line-height: 1.3em; padding-left: 2px; font-style: normal; position: relative;
}
#aside .ad {
	padding: 0px !important; width: 248px; overflow: hidden; border-bottom-color: rgb(230, 229, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
#aside .list_photo {
	padding-top: 25px; padding-bottom: 12px; position: relative;
}
#aside .list_photo h2 {
	padding: 0px 0px 8px 13px; color: rgb(85, 93, 113); font-size: 12px;
}
#aside .list_photo ul {
	border-top-color: rgb(232, 233, 235); border-top-width: 1px; border-top-style: solid;
}
#aside .list_photo ul li {
	display: none; position: relative;
}
#aside .list_photo ul li.on {
	display: block;
}
#aside .list_photo ul li .label_photo {
	top: 13px; position: absolute;
}
#aside .list_photo ul li p {
	background: rgb(248, 248, 249); margin: 0px 27px; padding: 9px 0px; height: 13px; text-align: center; overflow: hidden; border-top-color: rgb(232, 233, 235); border-bottom-color: rgb(232, 233, 235); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#aside .list_photo button {
	background: none; margin: 0px; padding: 0px; width: 27px; height: 33px;
}
#aside .list_photo button span {
	width: 27px; height: 33px; text-indent: -2000em; display: block;
}
#aside .list_photo .btn_prev {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_prev.gif") no-repeat 0px 0px; left: 0px; top: 180px; position: absolute;
}
#aside .list_photo .btn_next {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_next.gif") no-repeat 0px 0px; top: 180px; right: 0px; position: absolute;
}
#aside .list_photo .btn_first {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_first.gif") no-repeat 0px 0px; left: 0px; top: 180px; position: absolute;
}
#aside .list_photo .btn_last {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_last.gif") no-repeat 0px 0px; top: 180px; right: 0px; position: absolute;
}
#aside .list_photo .paging {
	height: 17px; text-align: center; overflow: hidden; padding-top: 6px;
}
#aside .list_photo .paging a {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_paging.gif") no-repeat 0px 0px; margin: 0px 2px; width: 7px; height: 7px; font-size: 0px; vertical-align: middle; display: inline-block;
}
#aside .list_photo .paging a.on {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_paging.gif") no-repeat -7px 0px; margin: 0px 2px; width: 15px;
}
#aside .list_photo2 {
	padding-top: 25px; padding-bottom: 12px; position: relative;
}
#aside .list_photo2 h2 {
	padding: 0px 0px 8px 13px; color: rgb(85, 93, 113); font-size: 12px;
}
#aside .list_photo2 ul {
	text-align: center; border-top-color: rgb(232, 233, 235); border-top-width: 1px; border-top-style: solid; position: relative;
}
#aside .list_photo2 ul li {
	margin-top: 177px; display: inline-block;
}
#aside .list_photo2 ul li a.photo {
	left: 0px; top: 0px; border-bottom-color: rgb(232, 233, 235); border-bottom-width: 1px; border-bottom-style: solid; display: none; position: absolute; z-index: 4;
}
#aside .list_photo2 ul li.on a.photo {
	display: block;
}
#aside .list_photo2 ul li a.photo .label_photo {
	left: 0px; top: 13px; position: absolute; z-index: 5;
}
#aside .list_photo2 ul li a.photo span {
	background: rgb(248, 248, 249); margin: 0px auto; padding: 9px 0px; width: 176px; height: 14px; text-align: center; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#aside .list_photo2 ul li a.paging {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_paging.gif") no-repeat 0px 0px; margin: 0px 2px; width: 7px; height: 7px; overflow: hidden; padding-top: 6px; font-size: 0px; vertical-align: middle; display: inline-block;
}
#aside .list_photo2 ul li.on a.paging {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/bg_paging.gif") no-repeat -7px 0px; margin: 0px 2px; width: 15px;
}
#aside .list_photo2 button {
	background: none; margin: 0px; padding: 0px; width: 27px; height: 33px; z-index: 7;
}
#aside .list_photo2 button span {
	width: 27px; height: 33px; text-indent: -2000em; display: block;
}
#aside .list_photo2 .btn_prev {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_prev.gif") no-repeat 0px 0px; left: 0px; top: 180px; position: absolute;
}
#aside .list_photo2 .btn_next {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_next.gif") no-repeat 0px 0px; top: 180px; right: 0px; position: absolute;
}
#aside .list_photo2 .btn_first {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_first.gif") no-repeat 0px 0px; left: 0px; top: 180px; position: absolute;
}
#aside .list_photo2 .btn_last {
	background: url("http://img.sbs.co.kr/sw11/news/news2013/images/common/btn_last.gif") no-repeat 0px 0px; top: 180px; right: 0px; position: absolute;
}
#spot {
	margin-bottom: 8px; min-height: 14px;
}
#spot .cnt_spot {
	position: relative;
}
#spot .cnt_spot .txt_spot1 {
	left: 414px; top: 30px; position: absolute;
}
#spot .cnt_spot .btn_social {
	left: 730px; top: 128px; position: absolute;
}
#spot .cnt_spot .btn_social a {
	margin-right: 2px;
}
#spot .cnt_spot .btn_take {
	left: 420px; top: 164px; position: absolute;
}
#spot .cnt_spot .btn_close {
	top: 15px; right: 10px; position: absolute;
}
#spot .cnt_spot .btn_more {
	top: 0px; right: 10px; position: absolute;
}
#spot .cnt_spot img.prize_img {
	left: 824px; top: 161px; position: absolute;
}
#spot .cnt_spot .txt_vct {
	left: 155px; top: 125px; position: absolute;
}
#spot .cnt_spot .btn_vct {
	left: 400px; top: 204px; position: absolute;
}
#spot .cnt_spot .btn_vct2 {
	right: 15px; bottom: 0px; position: absolute;
}
