@font-face {
	font-family: Merriweather;
	src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-fCZK.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
