@charset "utf-8";
* {margin:0;padding:0;box-sizing:border-box;-webkit-touch-callout:none;}


/* common reset */
html{-webkit-font-size-adjust:none;} 

html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,address,cite,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,audio,video{margin:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline;}

body{/*line-height:1;*/word-wrap:break-word;word-break:break-all}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{border:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
ol,ul{list-style:none}
html,body{height:100%;margin:0;padding:0;color:#666;font-family:Malgun Gothic, '맑은고딕', "돋움", Dotum, AppleGothic, sans-serif,'Segoe UI', Frutiger, 'Frutiger Linotype';font-size:15px;/*line-height:130%;*/}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0}
th,td,input,textarea,select{font-family:Malgun Gothic, '맑은고딕','Dotum','arial','sans-serif';font-size:15px;color:#666}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ol,ul,li{list-style:none; }
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;text-decoration: none;}hr{display:none;clear:both}
legend,caption{text-indent:-100000px;overflow:hidden;line-height:0}
img,fieldset{border:0 none}label{cursor:pointer}
abbr { color:red; }



select{height:22px}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

ul,ol{list-style:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
label,select,input,button{vertical-align:middle}

button{border:0;cursor:pointer}
button,input,select,textarea{margin:0;font-size:100%;/*vertical-align:baseline;*/vertical-align:middle}
button,input{overflow:visible;line-height:normal}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default}
button,html input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;vertical-align:middle;}


select{margin:0;padding:0;border:1px solid #ccc;box-sizing:border-box;line-height:1;font-family: inherit;}
img{max-width:100%;border:0;vertical-align:top;-ms-interpolation-mode:bicubic}

html{/*overflow-y:scroll;*/overflow-y:visible;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

label,input,button,a,span{line-height:1.4;}
body,button{font-size:1em;/*line-height:1.4;*/color:#666;}
hr{display:none;height:0;-moz-box-sizing:content-box;box-sizing:content-box;}
a{color:#666; font-family: Malgun Gothic, '맑은고딕', "돋움", Dotum, AppleGothic, sans-serif,'Segoe UI', Frutiger, 'Frutiger Linotype';}
a:link,a:visited{text-decoration:none}
a:hover,a:active{text-decoration:none}
a,a:hover{text-decoration:none;color:#666;}
a:focus,button:focus{}
a:active,a:hover,button:active,button:hover{}
em,address{font-style:normal;}
a:link,a:visited{color:#666;font-family: Malgun Gothic, '맑은고딕', "돋움", Dotum, AppleGothic, sans-serif,'Segoe UI', Frutiger, 'Frutiger Linotype';}
a:hover,a:active{color:#000;font-family:Malgun Gothic, '맑은고딕', "돋움", Dotum, AppleGothic, sans-serif,'Segoe UI', Frutiger, 'Frutiger Linotype';}

ul,ol{list-style:none;list-style-image:none;}

label,input,button{vertical-align:middle;}

button{border:0;cursor:pointer;}
button,input,textarea{margin:0;font-size:100%;/*vertical-align:baseline;*/font-family: inherit;}
button,input{line-height:1;}
button{text-transform:none;}

button[disabled],html input[disabled]{cursor:pointer;}
button,input[type="reset"],input[type="submit"]{cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}

button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button; cursor: pointer;}

select{border:1px solid #c9c9c9;}
input{border:0;}


/* skip ----------------------------------------------*/
#accessibility {position:absolute; top:0; left:0; width:100%; z-index:9999;}
#accessibility a {font-size:15px; position:absolute; top:-9999px;}
#accessibility a:hover, #accessibility a:active, #accessibility a:focus {display:inline-block; top:0; width:100%; padding:10px 0; color:white; font-weight:bold; text-align:center; background-color:black;}

/* 숨김처리 */
.hide {position:absolute; top:0; left:0; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
/* 숨김처리(공통) */
.blind{position:absolute;left:-9999px;width:0;height:0;overflow:hidden;font-size:0;line-height:0;z-index:-1;}


/* 말줄임 */
.ellipsis {display:block;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 2줄 */-webkit-box-orient: vertical;word-wrap:break-word;line-height: 22px;height: 44px;}


/* text style */
.letter_small {letter-spacing:-0.15em !important;}


/* Margin, Padding */
.mt100{margin-top:100px !important;}
.mt90{margin-top:90px !important;}
.mt80{margin-top:80px !important;}
.mt70{margin-top:70px !important;}
.mt60{margin-top:60px !important;}
.mt50{margin-top:50px !important;}
.mt40{margin-top:40px !important;}
.mt30{margin-top:30px !important;}
.mt25{margin-top:25px !important;}
.mt20{margin-top:20px !important;}
.mt15{margin-top:15px !important;}
.mt10{margin-top:10px !important;}
.mt05{margin-top:5px !important;}
.mt0{margin-top:0 !important;}

.mr0{margin-right:0px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}

.mb100{margin-bottom:100px !important;}
.mb90{margin-bottom:90px !important;}
.mb80{margin-bottom:80px !important;}
.mb70{margin-bottom:70px !important;}
.mb60{margin-bottom:60px !important;}
.mb50{margin-bottom:50px !important;}
.mb40{margin-bottom:40px !important;}
.mb30{margin-bottom:30px !important;}
.mb20{margin-bottom:20px !important;}
.mb10{margin-bottom:10px !important;}
.mb05{margin-bottom:5px !important;}
.mb0{margin-bottom:0 !important;}

.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}

.pt0{padding-top:0 !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pt80{padding-top:80px !important;}
.pt90{padding-top:90px !important;}
.pt100{padding-top:100px !important;}

.pr0{padding-right:0px !important;}
.pr10{padding-right:10px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr50{padding-right:50px !important;}
.pr60{padding-right:60px !important;}
.pr70{padding-right:70px !important;}
.pr80{padding-right:80px !important;}
.pr90{padding-right:90px !important;}
.pr100{padding-right:100px !important;}

.pb0{padding-bottom:0px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pb60{padding-bottom:60px !important;}
.pb70{padding-bottom:70px !important;}
.pb80{padding-bottom:80px !important;}
.pb90{padding-bottom:90px !important;}
.pb100{padding-bottom:100px !important;}

.pl0{padding-left:0px !important;}
.pl10{padding-left:10px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pl60{padding-left:60px !important;}
.pl70{padding-left:70px !important;}
.pl80{padding-left:80px !important;}
.pl90{padding-left:90px !important;}
.pl100{padding-left:100px !important;}

.pa20{padding:20px;}
.pa10{padding:10px;}

/* 정렬 */
.fr {float:right;}
.fl {float:left;}
.clear {clear:both;}

/* 텍스트정렬 */
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.vl_c { vertical-align:middle !important; }

/* width 세팅 */
.w8p {width:8%;}
.w10p {width:10%;}
.w18p {width:18%;}
.w15p {width:15%;}
.w20p {width:20%;}
.w25p {width:25%;}
.w30p {width:30%;}
.w40p {width:40%;}                                                                                              