.adnan { background: #444; padding: 8px 10px; text-align: left; color: #fff; border-bottom: 2px solid #1589ff; }
.aft { background-color: #ebf4fa; color: #000; padding: 6px 4px; border-bottom: 1px solid #e9e9e9; }
.bc { background: #222; padding: 6px; color: #fff; font-size: 15px; font-family: "trebuchet ms"; }
.bott { background-attachment: scroll; background-clip: border-box; background-color: #2b2929; background-image: url("/img/701055/701055266_832913c412.jpg"); background-origin: padding-box; background-position: left top; background-repeat: repeat-x; background-size: auto auto; clear: both; color: #ffffff; text-align: center; font-size: 11px; padding-bottom: 15px; padding-left: 8px; padding-right: 8px; padding-top: 5px; box-shadow: 0 -1px 0 #fff; margin-bottom: 0; margin-top: 0; }
.cc { background: #fff; padding: 6px; border-bottom: 1px solid #eee; padding-left: 2px; }
.chat { background-color: #fff; line-height: 1.3em; padding: 5px; position: relative; text-align: left; border-radius: 2px; border: 1px solid #ccc; }
.message { background-color: #ffffff; color: #444; padding: 6px 4px; border-bottom: 1px solid #e9e9e9; }
.xl { background: #fff; padding: 2px 4px; color: #444; border-bottom: 1px solid #e9e9e9; text-align: center; font-weight: bold; }


html{background: #ddd;}
body{webkit-box-shadow: 0px 0px 10px #000; moz-box-shadow: 0px 0px 10px #000;box-shadow: 0px 0px 10px #000;}
body {font-family :"Trebuchet MS", Arial, Helvetica,SolaimanLipi,Siyam Rupali,Droid Sans,Segoe UI,Open Sans,Tahoma,Arialsans-serif; max-width:850px; position:relative; margin:0 auto;background:#fff; padding:0px; color:#444; font-size:15px; overflow-wrap:break-word;}
body img {max-width:100%;}
a:link {color:#222;text-decoration: none;} 
a:active {color:#222; text-decoration: none}
a:hover {color: red;font-weight:bold;}
a:visited{color: green;}
/*
Template Name: IslamPriyo Mobile
Css URI: http://IslamPriyo.Com
Author: Md Maruf Adnan Sami
Author URI: https://www.facebook.com/Realboy.Adnan
Description: The Most Popular Islamic Downloads Portal in Bangladesh.
Text Domain: IslamPriyo.Com
*/