@charset "utf-8";

/*
	파일명: fonts.css
	기능설명: 폰트 css를 각 브라우져에 맞도록 분기
	최초설정일:	2017. 11
*/

/* 나눔스퀘어 */
/* 폰트가 Anti-alias 됨
@fonts-face{fonts-family:'nsr';fonts-stretch:normal;fonts-style:normal;src:url('../../fonts/nsr.eot');src:url('../../fonts/nsr.eot?#iefix') format('embedded-opentype'),url('../../fonts/nsr.woff') format('woff')}
*/

@font-face {
    font-family: 'nsr';
    src: url(/fonts/nsr.eot);
    src: url(/fonts/nsr.eot?#iefix) format('embedded-opentype'),
    url(/fonts/nsr.woff) format('woff'),
    url(/fonts/nsr.ttf) format('truetype');
}


/* 서브 컨텐츠에 따른 폰트 스타일 추가 */
/* Fonts 
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
*/
/*나눔스퀘어*/
@font-face {
    font-family: 'NanumSquareR';
    src: url('/fonts/NanumSquareR.eot');
    src: url('/fonts/NanumSquareR.eot#iefix') format('embedded-opentype'),  url('/fonts/NanumSquareR.woff') format('woff'), url('NanumSquareR.ttf') format('truetype');
  
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('/fonts/NanumSquareB.eot');
    src: url('/fonts/NanumSquareB.eot#iefix') format('embedded-opentype'), url('/fonts/NanumSquareB.woff') format('woff'), url('NanumSquareB.ttf') format('truetype');
   
}
/*나눔고딕*/
@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic.eot');
    src: url('/fonts/NanumGothic.eot#iefix') format('embedded-opentype');
  
}
@font-face {
    font-family: 'NanumGothicB';
    src: url('/fonts/NanumGothicB.eot');
    src: url('/fonts/NanumGothicB.eot#iefix') format('embedded-opentype');
    
}                                