@charset "utf-8";

/*재난안전대책본부 contents.css*/         

/* 조직도 */
.organ{position:relative;width:100%;overflow:hidden}
 
.organ1{position:relative;width:100%;overflow:hidden}

.organ a,
.organ strong {display:block;font-weight:400;font-size:1.2em;color:#fff;}
.organ1 .lv6 strong a{font-size:1em;}
.organ a{color:#454545}

.organ1>li>strong{position:relative;z-index:1;width:180px;margin:0 auto;padding:13px 0;text-align:center;}
 
.organ1>li{position:relative;}
.organ1>li:after{content:"";display:block;position:absolute;top:-30px;left:50%;height:30px;border-left:1px solid #dcdcdc}
 
.organ1 .lv1 strong{height:63px;padding-top:13px;background:#385895;}
.organ1 .lv2 strong{height:63px;padding-top:13px;background:#027bc0;}
.organ1 .lv3 strong{height:63px;padding-top:13px;background:#4390c1;}
.organ1 .lv4 strong{height:63px;padding-top:13px;background:#385895;}
.organ1 .lv5 strong{height:63px;padding-top:13px;background:#7a7a7a;}

.organ1 > li {padding-bottom:30px;}

.organ1 .lv4 {}
.organ1 .lv4:after {}
.organ1 .lv4 .lv4_2 {position:absolute; top:0px; left:62%}

.organ1>li>ul{position:relative;width:100%;padding:20px 19px;overflow:hidden;background:#f8f8f8;border:1px solid #ddd;}
.organ1>li>ul>li{position:relative;float:left;width:19%;margin-right:1%;margin-bottom:10px;}
.organ1>li>ul>li>strong{display:table-cell;color:#333;width:19%;height:55px;text-align:center;padding:0px 5px;font-size:14px;letter-spacing:-0.05em; vertical-align:middle;background:#fff;border:1px solid #ddd;}

/* 기능 */
.dia_con {position:relative;overflow:hidden;padding:30px 40px; border:1px solid #ddd;}
.dia_con .tit_box {position:absolute;top:35%;}
.dia_con .tit {display:table-cell;width:159px;height:159px;padding:0 40px;background:url('/images/micro/bangjae/contents/bg_circle.png') no-repeat left top;font-size:1.4em;color:#fff;font-weight:bold; vertical-align:middle;}
.dia_con .tit:after {content:"";display:block;position:absolute;top:50%;left:159px;width:82px;height:1px;border-top:1px solid #dcdcdc}
.dia_con ul {position:relative; padding-left:40%;}
.dia_con ul:before {content:"";display:block;position:absolute;top: 7.9%;left: 31.4%;height: 355px;border-left:1px solid #dcdcdc;}
.dia_con li {position:relative; background:#f8f8f8 url('/images/micro/guide/bull_dot.gif') no-repeat 20px 27px;padding:20px 35px;margin-bottom:8px; line-height:1.4em;word-break:keep-all;border:1px solid #ddd;}
.dia_con li:before {content:"";display:block;position:absolute;top:50%;left:-67px;width:66px;height:1px;border-top:1px solid #dcdcdc}

.line_box{overflow:hidden;border:2px solid #ebebeb;background-color:#fff;padding:20px;margin-bottom:25px;}
.line_box2{overflow:hidden;padding:20px;border:1px solid #ddd; text-align:center;}

/* 기상정보 아이프레임 세팅 */
.iframe_box1 {margin: auto; left: 2px; top: 10px; width: 700px; height:1973px; text-align: left; overflow: hidden; position: relative;}
.iframe_box2 {margin: auto; left: 2px; top: 10px; width: 700px; height:880px; text-align: left; overflow: hidden; position: relative;}
.iframe_box3 {margin: auto; left: 2px; top: 10px; width: 700px; height: 700px; text-align: left; overflow: hidden; position: relative;}
.iframe_box4 {margin: auto; left: 2px; top: 10px; width: 700px; height: 850px; text-align: left; overflow: hidden; position: relative;}
.iframe_box5 {margin: auto; left: 2px; top: 10px; width: 700px; height: 690px; text-align: left; overflow: hidden; position: relative;}
.iframe_box6 {margin: auto; left: 2px; top: 10px; width: 700px; height: 750px; text-align: left; overflow: hidden; position: relative;}

.iframe_type1 {left: -270px; top: -279px; width: 1200px; height: 2248px; position: absolute; overflow: hidden; }
.iframe_type2 {left: -270px; top: -220px; width: 1200px; height: 1400px; position: absolute; }
.iframe_type3 {left: -270px; top: -310px; width: 1200px; height: 700px; position: absolute; }
.iframe_type4 {left: -270px; top: -344px; width: 1200px; height: 1200px; position: absolute; }
.iframe_type5 {left: -220px; top: -260px; width: 1100px; height: 1090px; position: absolute; }
.iframe_type6 {left: -220px; top: -220px; width: 1100px; height: 1000px; position: absolute;}


.bg_box {padding:20px; border:1px solid #ddd;}
.bg_box.bg1 {background:url('/images/micro/bangjae/contents/bg_img_04_01.png') no-repeat left top;}


/* 안전운동 정의 */
.dia_con2 {position:relative;overflow:hidden;padding:30px 150px; border:1px solid #ddd;}
.dia_con2 .tit_box {position:absolute;top:20%;}
.dia_con2 .tit {display:table-cell;width:159px;height:159px;padding:0 30px;font-size:1.4em;font-weight:bold;text-align:center;vertical-align:middle;border:3px solid #2668af;border-radius:50%;}
.dia_con2 .tit:after {content:"";display:block;position:absolute;top:50%;left:159px;width:82px;height:1px;border-top:1px solid #dcdcdc}
.dia_con2 ul {position:relative; padding-left:50%; }
.dia_con2 ul:before {content:"";display:block;position:absolute;top: 15.4%;left: 37.5%;height: 143px;border-left:1px solid #dcdcdc;}
.dia_con2 li {position:relative; background:#f8f8f8 url('/images/micro/guide/bull_dot.gif') no-repeat 20px 27px;padding:20px 35px;margin-bottom:8px; line-height:1.4em;word-break:keep-all;border:1px solid #ddd;}
.dia_con2 li:before {content:"";display:block;position:absolute;top:50%;left:-67px;width:66px;height:1px;border-top:1px solid #dcdcdc}

/* 이미지 + 텍스트 */
.photo_exp {overflow:hidden; position:relative; }
.photo_exp .photo {float:left; width:35%; padding:10px 0;}
.photo_exp .photo img {}
.photo_exp .exp {float:left;width:65%; padding:0 15px;}

.photo_exp2 {overflow:hidden; position:relative; padding:30px; background:#f8f8f8; border:1px solid #ddd }
.photo_exp2 .photo {float:left; width:25%;}
.photo_exp2 .photo img {}
.photo_exp2 .exp {float:left;width:75%; padding:20px 15px; line-height:1.4em;}

.photo_exp3 {overflow:hidden; position:relative; }
.photo_exp3 .photo {float:right; width:35%; padding:10px 0;text-align:right;}
.photo_exp3 .photo img {}
.photo_exp3 .exp {float:left;width:65%; padding:0 15px 0 0;}

.txt-box {width:80%; margin:20px auto; padding:30px;  background:#f8f8f8; border:2px solid #ddd; border-radius:10px; }
.txt-box h5 {font-size:2em; font-weight:bold; color:#006699; text-align:center; margin-bottom:20px;}
.txt-box p {line-height:1.4em; margin-bottom:20px;}
.txt-box ul li {line-height:1.4em; margin-bottom:20px;}

.point_box{padding:20px 20px 20px 80px; background:#f8f8f8 url('/images/micro/bangjae/contents/pic_img.png') no-repeat 20px center; border:1px solid #ddd; }


.photo_box_w {overflow:hidden; clear:both; width:100%; margin:10px 0 10px 0}
.photo_box_w li {float:left; padding-bottom:15px;}
.photo_box_w li img {width:100%;}
.photo_box_w.item-4 li{width:24%; margin:0 0.5%;}

.img_ui {width:100%;}
.img_ui dl {float:left; width:19%; margin:5px 0.5%; border:1px solid #ddd;}
.img_ui dl dt {padding:15px 5px;text-align:center;}
.img_ui dl dd {padding:5px 0px;text-align:center;  border-top:1px solid #ddd; font-size:14px;}

.img_ui2 {overflow:hidden;width:100%; margin-bottom:20px;}
.img_ui2 ul > li {float:left; width:49%; margin:5px 0.5%;}
.img_ui2 ul > li > dl dt {padding:15px 5px;text-align:center;}
.img_ui2 ul > li > dl dt img {width:100%;}
.img_ui2 ul > li > dl dd {padding:5px;font-size:14px; letter-spacing:-0.05em;}
.img_ui2 ul > li:first-child > dl dd {height:40px;}
.img_ui2 ul > li:nth-child(2) > dl dd {height:40px;}
.img_ui2 ul > li > dl dd ul {margin-top:0px;}
.img_ui2 ul > li > dl dd li {float:none;width:100%;margin-top:0px;}


.webtoon_area {position:relative;}
.webtoon_area .owl-carousel .owl-item {text-align:center;}
.webtoon_area .item img {width:auto !important; margin:0 auto;} 

.webtoon_area .owl-nav {position:absolute; top:50%; width:100%;}
.webtoon_area .owl-nav .owl-prev {position:absolute; left:10px;overflow:hidden; width:50px; height:50px; background:#2668af url('/images/micro/bangjae/contents/prearrow_btn.png') no-repeat center center; background-size:40px auto; border-radius:50%; text-indent:-9999px;}
.webtoon_area .owl-nav .owl-next {position:absolute; right:10px; overflow:hidden; width:50px; height:50px; background:#2668af url('/images/micro/bangjae/contents/nextarrow_btn.png') no-repeat center center; background-size:40px auto; border-radius:50%; text-indent:-9999px;}
.webtoon_area .owl-theme .owl-nav .owl-prev:hover {background:#2668af url('/images/micro/bangjae/contents/prearrow_btn.png') no-repeat center center; background-size:40px auto;}
.webtoon_area .owl-theme .owl-nav .owl-next:hover {background:#2668af url('/images/micro/bangjae/contents/nextarrow_btn.png') no-repeat center center; background-size:40px auto;}

.line_box {text-align:center;padding:20px 15px; border:1px solid #ddd;}



 /* ======================================== Responsive ======================================== */
/* pc */
@media (max-width: 1200px) {
	
	
}

/*notebook & Tablet*/
@media (max-width: 1023px) {
	
	

}

/*notebook & Tablet*/
@media (max-width: 900px) {
	
	.organ1 .lv4 .lv4_2 {position:relative; margin-top:10px; left:0;}


	.dia_con .tit_box {position:relative; top:0; width:159px; margin:0 auto 30px auto;}
	.dia_con .tit:after {content:"";display:block;position:absolute;top:159px;left:50%;width:1px;height:30px;border-left:1px solid #dcdcdc}
	.dia_con ul {padding:0px;}
	.dia_con ul:before {border:none;}	
	.dia_con li:before {border:none;}
	
	.dia_con2 {padding:30px;}
	.dia_con2 .tit_box {position:relative; top:0; width:159px; margin:0 auto 30px auto;}
	.dia_con2 .tit:after {content:"";display:block;position:absolute;top:159px;left:50%;width:1px;height:30px;border-left:1px solid #dcdcdc}
	.dia_con2 ul {padding:0px;}
	.dia_con2 ul:before {border:none;}	
	.dia_con2 li:before {border:none;}

	.txt-box h5{font-size:1.0em;}
	.txt-box p {font-size:0.8em;}
	.txt-box ul li {font-size:0.8em;}


}


/*Mobile & Phone*/
@media (max-width: 767px) {	
	
	
	.organ1>li>ul>li{width:32.333%;}

	.photo_exp .photo, .photo_exp2 .photo, .photo_exp3 .photo {float:none; width:100%; text-align:center;}
	.photo_exp .exp, .photo_exp2 .exp, .photo_exp3 .exp {float:none; width:100%; padding:10px 0px;}

	.txt-box {width:100%;}

	.img_ui dl {width:31.333%;}

	.img_ui2 ul > li > dl dd {font-size:0.8em;}
	.img_ui2 ul > li > dl dd li {font-size:12px;}
	
	
}

@media (max-width:480px){

}              