#weatherBox { margin-bottom: 18px; }
#weatherBox.adjust { margin-bottom:0;}

#weatherHistory .title { padding-bottom: 4px; }

#weatherHistory .historyRow { height: 20px !ie; width: 300px; _margin-top:-14px; }
#weatherHistory .historyRow .even { background-color: #ededed; }
#weatherHistory .legend { font-weight: bold; _margin-top: 0; }

.historyRow div { float:left; padding:3px 0 2px 7px; color:#656565; width: 68px; }
.historyRow div.clear  { float:none; clear:left; padding:0; width: 0;}

.forecastRow div { float:left; margin:0px 2px; color:#656565; }
.forecastRow div.clear { float:none; clear:left; margin:0; }

.poweredBy { font-size: 0.8335em; float:left; min-width:162px; width:162px; color: #656565; }
.poweredBy .wu { margin-left: 46px; }
.poweredBy img { vertical-align:middle; }
.poweredBy .logo { float:left; }

#weatherToggle { float:right; margin-top:7px; color:#656565;}
#weatherToggle .taLnk { cursor:pointer; font-weight:bold; letter-spacing:1px;}

.cb { clear:both; }

#weatherSeeNext { margin: 11px 0 13px; _margin-top: -6px; }
#weatherBox .wuLink { margin-top: 10px; }
#weatherBox .bottomLine { margin-top: 10px; }
