@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.sbj01 {
	font:20px/1.5 Nanum Gothic, sans-serif;
	color:#457cbf;
	font-weight:bold;
	line-height:150%;
	padding-top:20px;
	padding-bottom:25px;
}

.sbj02 {
	font:15px/1.5 Nanum Gothic, sans-serif;
	color: #3e6189;
	font-weight:bold;
	padding-left:30px;
	padding-bottom:20px;
	line-height:150%;
}

.com_txt {
	font-family:돋움:
	font-weight:normal;
	color:#6a6a6a;
	padding-left:60px;
	line-height:200%;
	margin-bottom:20px;
}

.cell_head {
	color: #FFFFFF;
	font-weight: bold;
	background-color:#446284;
	text-align:center;
}

.cell_head a {
	color: #FFFFFF;
	font-weight: bold;
	background-color:#446284;
	text-align:center;
}

.cell_txt {
	background-color:#f0f7ff;
}

.cell_txt2 {
	background-color:#f0f7ff;
	text-align:center;
}

.bk_table {
	background-color:#86a5c2;
	width:750px;
}

.bk_table2 {
	background-color:#86a5c2;
	width:900px;
}

/*body{_text-align:center; background:#f5f5f5; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;}*/
body, td, input, button, textarea, select, .c1 { font-family:Tahoma,굴림; font-size:9pt; color:#727272; }

td {line-height:150%}

TD {line-height:150%}

form { margin:0px; }

img {border:0px;}

a:link, a:visited, a:active { text-decoration:none; color:#727272; }
a:hover { text-decoration:underline; }

a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#727272; }
a.menu:hover { text-decoration:none; }

.member {font-weight:bold;color:#888888;}
.guest  {font-weight:normal;color:#888888;}

.lh { line-height: 150%; }
.jt { text-align:justify; }

.li { font-weight:bold; font-size:18px; vertical-align:-4px; color:#66AEAD; }

.ul { list-style-type:square; color:#66AEAD; }

.ct { font-family: Verdana, 굴림; color:#222222; } 

.ed { border:1px solid #CCCCCC; } 
.tx { border:1px solid #CCCCCC; } 

.small { font-size:8pt; font-family:돋움; }
.cloudy, a.cloudy {color:#888888;} /* 흐림 */

input.ed { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; }
input.ed_password { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; font:10px Tahoma; }
textarea.tx { border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:2px; }

.admin_title {font-family:han; font-size:16px; font-weight:bold; line-height:150%; color: #666; padding-left:35px;}
.webfont {font-family:han; font-size:14px; font-weight:bold; color: rgb(255, 0, 0);}
.webfont_small {font-family:han; font-size:13px; font-weight:lighter; line-height:150%; color: #666;}
.webfont_left {text-align:left; width:200px; hegiht:30px; padding-left:40px; font-family:굴림; font-size:13px; font-weight:lighter; letter-spacing:2px; line-height:150%; color: #000000;}
.webfont_left_bold {text-align:left; width:200px; hegiht:30px; padding-left:40px; font-family:굴림; font-size:13px; font-weight:bold;  letter-spacing:2px; line-height:150%; color: #c02900; background:url(/web/20161104041725/http://safeleader.org/img/sub_left_sbg.png) no-repeat}
.webfont_content_title {font-family:han2; font-size:16px; font-weight:lighter; line-height:150%; color: rgb(12, 38, 53);}

.webfont_tab_off {
	font:20px/1.5 Nanum Gothic, sans-serif; 
	padding-top:10px; 
	padding-left:20px; 
	padding-right:20px; 
	float:left; 
	text-align:center; 
	height:25px; 
	font-size:11px; 
	font-weight:bold; 
	color: #333;
	border:1px solid #eee;
	letter-spacing:2px;
}
.webfont_tab_on01 {
	font:20px/1.5 Nanum Gothic, sans-serif; 
	padding-top:10px; 
	padding-left:20px; 
	padding-right:20px; 
	float:left; 
	text-align:center; 
	height:25px; 
	font-size:11px; 
	font-weight:bold; 
	color: #fff;
	background-color:#ccc;
	border:1px solid #eee;
	letter-spacing:2px;
}
.webfont_tab_on02 {font:20px/1.5 Nanum Gothic, sans-serif; padding-top:5px; float:left; text-align:center; width:120px; height:30px; font-size:11px; font-weight:bold; color: #fff; background:url(/img/tab_on02.png) no-repeat}
.webfont_tab_on03 {font:20px/1.5 Nanum Gothic, sans-serif; padding-top:5px; float:left; text-align:center; width:120px; height:30px; font-size:11px; font-weight:bold; color: #fff; background:url(/img/tab_on03.png) no-repeat}

webfont_href_off {font:20px/1.5 Nanum Gothic, sans-serif; text-align:center; font-size:11px; font-weight:bold; color: #333;}
.webfont_href_on01 {font:20px/1.5 Nanum Gothic, sans-serif; text-align:center; font-size:11px; font-weight:bold; color: #fff;}
.webfont_href_on02 {font:20px/1.5 Nanum Gothic, sans-serif; text-align:center; font-size:11px; font-weight:bold; color: #fff;}
.webfont_href_on03 {font:20px/1.5 Nanum Gothic, sans-serif; text-align:center; font-size:11px; font-weight:bold; color: #fff;}

/*
.webfont_tab_off {
	padding-top:3px;
	float:left;
	text-align:center;
	width:120px;
	height:30px;
	font-family:han;
	font-size:11px;
	font-weight:bold;
	color: #333;
	background:url(/img/tab_off.png) no-repeat;
}
.webfont_tab_on {
	padding-top:5px;
	float:left;
	text-align:center;
	width:120px;
	height:30px;
	font-size:11px;
	font-weight:bold;
	color: #fff;
	background:url(/img/tab_on.png) no-repeat;
}
*/

.input61 { border:1px solid #d6d8ca;}

.left_menu_single_bold {
	font:20px/1.5 Nanum Gothic, sans-serif;
	height:33px;
	width:180px;
	background:url('/img/left_menu_on_bg.jpg') no-repeat;
	padding-top:7px;
	font-size:13px;
	color: #fff;
	display:block;
	text-align:left;
}

.left_menu_single {
	font:20px/1.5 Nanum Gothic, sans-serif;
	height:33px; 
	width:180px;
	background:url('/img/left_menu_off_bg.jpg') no-repeat;
	padding-top:7px;
	font-size:13px; 
	color: #000; 
	display:block;
	text-align:left;
}

.left_menu_single2_bold {
	font:20px/1.5 Nanum Gothic, sans-serif;
	height:25px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	color: #ccc;
	padding-left:25px;
	display:block;
	text-align:left;
}
.left_menu_single2 {
	font:20px/1.5 Nanum Gothic, sans-serif;
	height:25px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	color: #ccc;
	padding-left:25px;
	display:block;
	text-align:left;
}

.left_menu_single3_bold {height:25px;  font-size:11px; font-weight:bold; line-height:150%; color: #eee; padding-left:40px; display:block; letter-spacing:-2px;}
.left_menu_single3 {height:25px;  font-size:11px; font-weight:bold; line-height:150%; color: #eee; padding-left:40px; display:block; letter-spacing:-2px;}

.container {width: 1000px; margin: 0 auto;}

ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 1000px;
	list-style: none;
	position: relative;
	font-size: 1.2em;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 0px solid #555;
}
ul#topnav li a {
	padding: 0px 0px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
ul#topnav li:hover {
	background: #1376c9 url (/images/topnav_a00.gif) repeat-x;
}
ul#topnav li span {
	float: left;
	padding: 5px 0;
	position: absolute;
	left: 0; top:45px;
	display: none;
	width: 1000px;
	color: #fff;
	text-align:left;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

.form_bg {
	background-color:#CCCCCC;
	width:875px;
	text-align:center;
	margin:0 auto;
	border:0px solid #ccc;
}

.form_con_bg {
	background-color:#ffffff;
	padding:5px;
	line-height:150%;
	text-align:left;
}

.form_title {
	font-size: 18px;
	font-weight: bold;
	height:30px;
	text-align:center;
	padding-top:10px;
}

.form_cell_title {
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	background-color:#F0F8FF;
	padding:5px;
}

.form_cell_title2 {
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	background-color:#f4f9fe;
	padding:5px;
}

.form_input_short {
	height:20px;
	font-size:12px;
	padding-left:5px;
	border:1px solid #ddd;
}

.form_input {
	width:90%;
	height:20px;
	font-size:12px;
	padding-left:5px;
	border:1px solid #ddd;
}