@charset "UTF-8";

div#livereBestReplyWrapper { margin-bottom: 35px; padding-top: 25px; background: url("//101.livere.co.kr/extension_8/bestLivere/besticon.png") no-repeat 5px 0px; }
#livereBestReplyWrapper .livereBestReply { padding: 15px 10px; background-color: #fcf7f2; border-top: 2px solid #ed1c24; border-bottom: 2px solid #ed1c24; }
#livereBestReplyWrapper .livereBestReply .livereReplyThumb { position: relative; border: none; float: left; margin-right: 20px; background-color: transparent; }
#livereBestReplyWrapper .livereBestReply .livereReplyThumb .livereReplyThumb_L { width: 48px; height: 48px; border-radius: 5px; }
#livereBestReplyWrapper .livereBestReply .livereReplyThumb .livereReplyThumb_S { width: 32px; height: 32px; border-radius: 5px; }
#livereBestReplyWrapper .livereBestReply .livereThumbFavicon { position: absolute; bottom: -7px; right: -7px; }
#livereBestReplyWrapper .livereBestReply .livereArticleUserInfo li { float: left; }
#livereBestReplyWrapper .livereBestReply .livereReplyWriterName { margin-right: 10px; }

#livereBestReplyWrapper .livereBestReply .livereReplyBody { margin-left: 70px; .margin-left: 0px; }

#livereBestReplyWrapper .livereBestReply .livereArticleUserInfoWrapper { float: left; width: 100%; }
#livereBestReplyWrapper .livereBestReply .livereArticleText { float: left; width: 100%; }
#livereBestReplyWrapper .livereBestReply .livereArticleText p { word-wrap:break-word; word-break:break-all; margin-right: 100px; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluation { float: right; margin-left: 5px; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluation li { float: left; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluationBtn { padding: 5px 8px; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluationBtn { .width: 50px; .height: 35px; _height: 20px; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluationBtn span { float: left; display: inline-block; width: 15px; height: 15px; background: url("//101.livere.co.kr/images/ver8/pluginicon8.png") no-repeat 0px -94px; padding-left: 7px; }
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluationBtn strong { float: left; font-size: 10px; *width: 15px;}
#livereBestReplyWrapper .livereBestReply .livereReply_good { border-radius: 5px 0px 0px 5px; }
#livereBestReplyWrapper .livereBestReply .livereReply_good span { background-position: 0px -94px; }
#livereBestReplyWrapper .livereBestReply .livereReply_bad { border-radius: 0px 5px 5px 0px; }
#livereBestReplyWrapper .livereBestReply .livereReply_bad span { background-position: 0px -110px; }
#livereBestReplyWrapper .livereBestReply .livereReplyFuncWrapper { float: left; width: 100%; }
#livereBestReplyWrapper .livereBestReply .livereSharedSNSWrapper { float: right; margin-top: 15px; }
#livereBestReplyWrapper .livereBestReply .livereSharedSNSWrapper dt { float: left; margin-right: 5px; }
#livereBestReplyWrapper .livereBestReply .livereSharedSNSWrapper dt span { line-height: 20px; }
#livereBestReplyWrapper .livereBestReply .livereSharedSNSWrapper .livereSharedSNS { float: left; margin-left: 3px; }




.livere_mobile #livereBestReplyWrapper .livereReplyThumb .livereReplyThumb_L { width: 32px; height: 32px; }
.livere_mobile #livereBestReplyWrapper .livereBestReply { position: relative; padding: 15px 10px; }
.livere_mobile #livereBestReplyWrapper .livereBestReply .livereReplyThumb { margin-right: 10px; }
.livere_mobile #livereBestReplyWrapper .livereReplyBody { margin-left: 0; }
.livere_mobile #livereBestReplyWrapper .livereArticleUserInfoWrapper { width: 84%; }
.livere_mobile #livereBestReplyWrapper .livereArticleUserInfo li { float: none; }

.livere_mobile #livereBestReplyWrapper .livereArticleText p { margin-right: 0; }
.livere_mobile #livereBestReplyWrapper .livereArticleText { margin-top: 5px; }

.livere_mobile #livereBestReplyWrapper .livereSharedSNSWrapper { float: right; }
.livere_mobile #livereBestReplyWrapper .livereSharedSNSWrapper dt { margin-right: 3px; }
.livere_mobile #livereBestReplyWrapper .livereSharedSNSWrapper dt span { font-family: Arial; font-size: 12px; }

.livere_mobile #livereBestReplyWrapper .livereFunctionWrapper { height: 30px; }
.livere_mobile #livereBestReplyWrapper .livereReplyFunc { margin-top: 5px; }
.livere_mobile #livereBestReplyWrapper .livereReplyFuncFavicon { background: url("//101.livere.co.kr/images/ver8/m_icon.png") no-repeat 0px 0px; -webkit-background-size: 195px; background-size: 195px; }
.livere_mobile #livereBestReplyWrapper .livereReplyEvaluation { margin-top: 5px; }
.livere_mobile #livereBestReplyWrapper .livereReplyEvaluationBtn span { background: url("//101.livere.co.kr/images/ver8/m_icon.png") no-repeat 0px -153px; -webkit-background-size: 192px; background-size: 192px; height: 16px; }
.livere_mobile #livereBestReplyWrapper .livereReply_good span { background-position: -176px -171px; }
.livere_mobile #livereBestReplyWrapper .livereReply_bad span { background-position: -176px -196px; }