@charset "utf-8";
/* LiveRe8 CSS */
#livere_ohmynews .livereSNSLoginIcon .livereSNSImage_B { background: url("//101.livere.co.kr/consumers/ohmynews/16x16_off.png") no-repeat 4px 4px; }
#livere_ohmynews.livere_loggedSNS .livereSNSImage_B { background: url("//101.livere.co.kr/consumers/ohmynews/16x16_on.png") no-repeat 4px 4px; }
#livere_ohmynews.livere_loggedSNS .livereSNSLoginIcon { border: 1px solid #db0000; border-bottom: 1px solid #db0000;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.01, rgb(219,0,0)), color-stop(1, rgb(219,0,0)) );
	background-image: -moz-linear-gradient( center top, rgb(219,0,0), rgb(219,0,0) );
	Filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#db0000, endColorstr=#db0000);
}
#livereLogged.livere_p_ohmynews { border: 2px solid #db0000; }
#liverePlugIn .livere_pWriter_ohmynews { background-color: #db0000; border-color: #db0000; }
#liverePlugIn .livereFavicon_L.livereFavicon_L_ohmynews { background: url("//101.livere.co.kr/consumers/ohmynews/18x18.png") no-repeat 0px 0px; }
#liverePlugIn .livereFavicon_S.livereFavicon_S_ohmynews { background: url("//101.livere.co.kr/consumers/ohmynews/15x15.png") no-repeat 0px 0px; }

/* 회원연동 css - 좌표는 수정하지 않으셔도 됩니다 */
.livere_mobile #smartLoginContent #smartLoginContent_list #smartLogin_ohmynews.off .loginSns_left { /* 모바일용 소셜 로그인 버튼 아이콘 - 로그인 전 */
background: url("//101.livere.co.kr/consumers/ohmynews/login_off_profile_m.png") no-repeat 16px 10px;
-webkit-background-size: 25px; background-size: 25px;
}
.livere_mobile #smartLoginContent #smartLoginContent_list #smartLogin_ohmynews.on .loginSns_left { /* 모바일용 소셜 로그인 버튼 아이콘 - 로그인 후 */
background: url("//101.livere.co.kr/consumers/ohmynews/login_on_profile_m.png") no-repeat 16px 10px;
-webkit-background-size: 25px; background-size: 25px;
border-right: 1px solid #db0000;
}
.livere_mobile #smartLoginContent_list #smartLogin_ohmynews.on { /* 모바일용 소셜 로그인 버튼 - 로그인 후 컬러 및 보더 스타일 */
border: 1px solid #db0000;
border-bottom: 1px solid #db0000;
background: #db0000;
background: -webkit-gradient(linear, left top, left bottom, from(#db0000), to(#db0000));
background: -moz-linear-gradient(top, #db0000, #db0000);
}
.livere_mobile #liverePlugIn .livere_pWriter_ohmynews { /* 회원연동이 대표계정으로 설정되었을 때 글쓰기 영역에 들어갈 스타일 */
background: url("//101.livere.co.kr/consumers/ohmynews/32x32_m.png") no-repeat 2px 2px;
background-color: #db0000;
-webkit-background-size: 17px; background-size: 17px;
border: 1px solid #db0000;
}
.livere_mobile #liverePlugIn .livereAccInfoWrapper { /* 회원로그인 후 글쓰기 영역 내 계정명 좌측의 간격*/ padding-left: 25px; }
.livere_mobile #liverePlugIn .livereFavicon_mobile_L.livereFavicon_mobile_L_ohmynews, .livere_mobile #liverePlugIn .livereFavicon_mobile_S.livereFavicon_mobile_S_ohmynews {
background: url("//101.livere.co.kr/consumers/ohmynews/32x32_m.png") no-repeat 0 0;
-webkit-background-size: 17px; background-size: 17px; }

.livere_mobile #liverePlugIn #livereReplyWrapper .livereArticleUserInfoWrapper{ width: 83%; }
.livere_mobile #liverePlugIn #smartLoginWrapper p{ font-weight: normal; }

body div.livereToolTip{ z-index: 1000; }
#liverePlugIn .livereFavicon_L.livereFavicon_L_ohmynews{
background: url("//101.livere.co.kr/consumers/ohmynews/18x18.png") no-repeat 0px 0px;
}


/* bestreply evaluation hidden */
#livereBestReplyWrapper .livereBestReply .livereReplyEvaluation {display: none;}
#livereReplyWrapper .livereFunction { z-index: 5; }

/* btype */
.livere_ohmynews .livereSNSLoginIcon .livereSNSImage_B,
#smartLoginNotLogged #smartLogin_ohmynews.off .loginSns_left {
	background:url(https://101.livere.co.kr/consumers/ohmynews/B/img_42x42_r.png) no-repeat 0 0
}
.livere_ohmynews .livereSNSLoginIcon:hover .livereSNSImage_B,
.livereLogged .livere_ohmynews .livereSNSLoginIcon .livereSNSImage_B,
#smartLoginLogged #smartLogin_ohmynews.on .loginSns_left {
	background:url(https://101.livere.co.kr/consumers/ohmynews/B/img_42x42_w.png) no-repeat 0 0
}

#liverePlugIn .livere_ohmynews .livereBtn1:hover,
#liverePlugIn .livere_ohmynews.livere_loggedSNS .livereSNSLoginIcon {
    border: 2px solid #db0000;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.01, rgb(219,0,0)), color-stop(1, rgb(219,0,0)) );
    background-image: -moz-linear-gradient( center top, rgb(219,0,0), rgb(219,0,0) );
    background-image: -ms-linear-gradient( top, rgb(219,0,0) 0%, rgb(219,0,0) 100%);
    Filter: progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#db0000, endColorstr=#db0000)
}

.livereLogged.livere_p_ohmynews,
#liverePlugIn .livereContentTextForm.livereSlideHide.ohmynews {
	border: 2px solid #db0000
}

#liverePlugIn .livere_pWriter_ohmynews {
	background-color: #db0000;
	border: 1px solid #db0000;
	display: block !important
}

#liverePlugIn .livereReplyThumb .livereFavicon_L.livereFavicon_L_ohmynews {
	background: url("//101.livere.co.kr/consumers/ohmynews/B/img_15x15.png") no-repeat 0 0;
	background-size:16px
}

/* 모바일 */
.livere_mobile #liverePlugIn .livereFavicon_mobile_L.livereFavicon_mobile_L_ohmynews,
.livere_mobile #liverePlugIn .livereFavicon_mobile_S.livereFavicon_mobile_S_ohmynews {
    background: url("//101.livere.co.kr/consumers/ohmynews/B/img_18x18.png") no-repeat 0 0
}
.livere_mobile #liverePlugIn .livere_pWriter_ohmynews {
	background: url(//101.livere.co.kr/consumers/ohmynews/B/img_42x42_w.png) no-repeat 5px center;
	background-size: 18px;
	background-color: #db0000
}

/* 스마트로그인 */
#smartLoginLogged #smartLogin_ohmynews.on {
    border: 1px solid #db0000;
    background: #db0000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db0000', endColorstr='#db0000');
    background: -webkit-gradient(linear, left top, left bottom, from(#db0000), to(#db0000));
    background: -moz-linear-gradient(top, #db0000, #db0000)
}

#liverePlugIn .livereAccInfoWrapper.livere_pWriter_ohmynews p,
#smartLoginLogged #smartLogin_ohmynews.on .loginTitle {
	color:#FFF
}

#liverePopup {
	z-index: 9999;
}
/* 2017년 5월 이후 삭제 요망 */
#fakenews-wrapper {
    display: none !important;
}
