.senkawa .modal .wiki-link-external::before {
	background: green; padding: 0px 0.15em; color: white; font-family: "Ionicons" !important; content: "\f1fe";
}
.senkawa .popover .wiki-link-external::before {
	background: green; padding: 0px 0.15em; color: white; font-family: "Ionicons" !important; content: "\f1fe";
}
.wiki-article .wiki-link-external::before {
	background: green; padding: 0px 0.15em; color: white; font-family: "Ionicons" !important; content: "\f1fe";
}
.wiki-article .wiki-quote {
	background: url("../img/wiki/quote.png") no-repeat calc(100% - 10px) 10px / 25px rgb(238, 238, 238); border-width: 2px 2px 2px 5px; border-style: dashed dashed dashed solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) rgb(113, 188, 109); margin: 1em 0px; padding: 1em calc(2em + 25px) 1em 1em; border-image: none; display: table;
}
.wiki-article .wiki-lazy-loading {
	background-position: center; background-image: url("../img/wiki/loading.gif"); background-repeat: no-repeat; background-color: rgb(136, 136, 136);
}
.wiki-article .wiki-lazy-loading-error {
	background-position: center; background-image: url("../img/wiki/loading-error.png"); background-repeat: no-repeat; background-color: rgb(170, 0, 0);
}
.wiki-article .syntax-wrapper {
	background-position: calc(100% - 10px) 7px; border-width: 2px 2px 2px 5px; border-style: dashed dashed dashed solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) rgb(96, 154, 255); margin: 1em 0px; border-image: none; padding-right: calc(2em + 20px); background-image: url("../img/wiki/code.png"); background-repeat: no-repeat; background-size: 30px; background-color: rgb(245, 245, 245);
}
.wiki-article .wiki-link-external::before {
	background: green; padding: 0px 0.15em; color: white; font-family: "Ionicons" !important; content: "\f1fe";
}
.wiki-heading::before {
	margin: 0px 0.5rem 0px 0.2rem; width: 0.9em; text-align: center; color: rgb(102, 102, 102); line-height: 1.8em; font-family: "Ionicons"; font-size: 0.6em; font-weight: normal; float: left; content: "\f123";
}
.wiki-heading.wiki-heading-content-folded::before {
	content: "\f125";
}
