/*********************************************
Note : 안내테스크 색상
*********************************************/
.Default_backColor,#CSpaper_Menu a,#CSpager_Layer .title strong {background-color:#1fc07a;}
.Default_textColor {color:#1fc07a;}

/*********************************************
Note : 기본레이아웃
*********************************************/
.body-wrap-full {width:100%;text-align:center}
.body-wrap-basic {width:960px;margin:0 auto}

/*********************************************
Note : 메뉴바
*********************************************/
.top-nav {height:58px;border-top:1px solid #ddd;border-bottom:1px solid #b6b6b6;margin-bottom:15px}
.top-nav .body-wrap-basic {position:relative}

/* 1차섹션 */
.top-nav .mega-menu,
.top-nav .mega-menu li.megaline {float:left;height:56px;line-height:100%}
.top-nav .mega-menu {margin-left:0}
.top-nav .mega-menu li.megaline.tow-nav {margin-leftv:30px;padding-left:100px;background:url(./design_basic.png) 0px -114px no-repeat}
.top-nav .mega-menu li.megaline a.first {display:inline-block;overflow:hidden;height:56px;font-size:17px;letter-spacing:-0.05em;padding:22px 25px;text-decoration:none}
.top-nav .mega-menu li.megaline a.first.a-hover,
.top-nav .mega-menu li.megaline a.first:hover {color:#1fc07a}
.top-nav .mega-menu li.megaline.tow-point a.first.a-hover,
.top-nav .mega-menu li.megaline.tow-point a.first:hover {color:#ff2883}

/* 2차섹션 */
.top-nav .mega-menu li.megaline ul {position:absolute;display:none;width:150px;border:1px solid #b6b6b6;border-top:0;background-color:#fff;z-index:90}
.top-nav .mega-menu li.megaline ul li.sub {float:left;width:100%;height:35px;line-height:28px;text-align:left}
.top-nav .mega-menu li.megaline ul li.sub a {position:relative;display:block;font-size:13px;letter-spacing:-0.08em;color:#888;padding:0 12px}
.top-nav .mega-menu li.megaline ul li.sub a:hover {background-color:#1fc07a;color:#fff}
.top-nav .mega-menu li.megaline.tow-point ul li.sub a:hover {background-color:#ff2883}
.top-nav .mega-menu li.megaline ul li.sub a .icon {position:absolute;display:none;overflow:hidden;width:3px;height:5px;top:50%;right:12px;margin-top:-2.5px;background:url(./design_basic.png) -120px 0 no-repeat;z-index:55}
.top-nav .mega-menu li.megaline ul li.sub a:hover .icon {display:block}

/* 로그인 */
.top-nav .top-member {float:right;margin-top:14px}
.top-nav .top-member li {float:left;height:25px;line-height:100%;border:1px solid #ddd;font-size:13px;margin-left:3px}
.top-nav .top-member li.all-news {border:0;height:auto;margin:3px 0 0 10px}
.top-nav .top-member li a {display:block;padding:5px 10px;color:#777;letter-spacing:-0.08em}
.top-nav .top-member li.all-news a {overflow:hidden;width:24px;height:20px;text-indent:-5000px;background:url(./design_basic.png) -40px 0 no-repeat;padding:0}

/* icon */
.top-nav .nav-icon {position:absolute;display:block;overflow:hidden;height:13px;color:transparent;top:23px;background:url(./design_basic.png) no-repeat;z-index:90}
.top-nav .nav-icon.today {width:37px;left:0;background-position:0 -40px}
.top-nav .nav-icon.tomorrow {width:55px;left:415px;background-position:-40px -40px}

/*********************************************
Note : 최종편집(시작/즐겨찾기)
*********************************************/
.top-header {border-top:2px solid #1fc07a}
.top-header .body-wrap-basic {position:relative;height:120px}

/* logo */
.top-header .top-logo {position:absolute;left:0px;top:50%;z-index:99}

/* search */
.top-header .top-search {position:absolute;width:205px;height:38px;right:0px;top:50%;margin-top:-19px;border:1px solid #ddd;padding:6px 8px 0;z-index:55}
.top-header .top-search input {float:left;width:160px;height:22px;border:0}
.top-header .top-search input.inptxt {color:#aaa}
.top-header .top-search button {float:right;display:block;overflow:hidden;width:20px;height:20px;text-indent:-5000px;margin-top:2px;background:url(./design_basic.png) 0 0 no-repeat}


/*********************************************
Note : 하단
*********************************************/
.footer-wrap {background-color:#f8f8fa;border-top:1px solid #ddd}
.footer-wrap .border-box {position:relative;padding:22px 0}

/* 하단메뉴 */
.footer-wrap .dn-menu,
.footer-wrap .dn-menu li {float:left}
.footer-wrap .dn-menu {width:100%;margin-bottom:15px}
.footer-wrap .dn-menu li {line-height:22px;font-size:15px;font-weight:bold;letter-spacing:-0.08em;padding:0 20px}
.footer-wrap .dn-menu li:first-child {padding-left:0}

/* 하단정보 */
.footer-wrap .dn-copy {text-align:left;line-height:180%;font-size:13px;letter-spacing:-0.02em;color:#888}
.footer-wrap .dn-copy a {color:#888;text-decoration:none}
.footer-wrap .dn-copy span {color:#ccc}

/* ndsoft */
.ndsoft {position:absolute;right:0;bottom:22px;z-index:99}

